.TextCenter{
    text-align: center;
}
.IcVolver{
    position: sticky;
    top: 10px;
    margin-left: 70px;
    width: 54px;
    height: 54px;
    cursor: pointer;
    z-index: 100;
}
.ListCoordenadas{
    max-height: 80vh;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    overflow: auto;
}
.coordenadas{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.icborrar{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.sinmp{
    margin: 0;
    padding: 0;
}