<div class="Fondo">
    <br><br>
    <div class="container bg-white">
        <h1>Costeo Oferta</h1>
        <div class="row justify-content-center">
            <img src="./../../../../../assets/ImagenesAgroApoya2Admin/barra5.png" style="width: 65%;">
        </div>
    </div>
    <div class="row justify-content-center">
        <label class="col-sm-3"><small><b><i>Producto : {{Producto}}</i></b></small></label>
        <label class="col-sm-3"><small><b><i>Unidades : {{Unidades}}</i></b></small></label>
        <label class="col-sm-3"><small><b><i>Empaque : {{Empaque}}</i></b></small></label>
    </div>
</div>