<div class="Fondo">
    <br><br>
    <div class="container bg-white">
        <h1>Costeo Oferta</h1>
        <div class="row justify-content-center">
            <img src="./../../../../../assets/ImagenesAgroApoya2Adm/barra5.png" style="width: 65%;">
        </div>
        <!-- <div class="row justify-content-center br">
            <div class="col-sm-3"><label class="Llave">Producto:&nbsp;</label><label>{{Producto}}</label></div>
            <div class="col-sm-3"><label class="Llave">Unidades:&nbsp;</label><label>{{Unidades}}</label></div>
            <div class="col-sm-3"><label class="Llave">Empaque:&nbsp;</label><label>{{Empaque}}</label></div>
        </div> -->
        <div class="row justify-content-center br tarjetadetalle" *ngFor="let oferta of ArrayOferta">
            <div class="row m-2">
                <div class="col-sm-3">
                    <img src={{RutaImagen+oferta.IMAGEN}} class="col-sm-12 ImgOferta">
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave TextMay">Codigo oferta:&nbsp;</label><label class="ValorIDOfer"><strong>{{oferta.COD_OFR_PUBLICO}}</strong></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Producto:&nbsp;</label><label
                                        class="Valor">{{oferta.Nombre_Producto}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Presentación empaque:&nbsp;</label><label
                                        class="Valor">{{oferta.Descripcion_empaque}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Tamaño:&nbsp;</label><label
                                        class="Valor">{{oferta.Nmbre_tamano}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Condición entrega:&nbsp;</label> <label
                                        class="Valor">{{oferta.Condicion_entrega}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Valor unidad:&nbsp;</label><label
                                        class="Valor">{{oferta.valor_unidad_formato}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Unidades disponibles:&nbsp;</label><label
                                        class="Valor">{{oferta.Unidades_disponibles}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="Llave">Valor total oferta:&nbsp;</label><label
                                class="Valor">{{oferta.valor_Total_Ofr_formato}}</label>
                        </div>
                        <div class="col-sm-6">
                            <label class="Llave">Valor costeo:&nbsp;</label><label
                                class="Valor">${{oferta.vlor_costeo}}</label>
                        </div>
                    </div>
                    <hr class="hrSinEstilo">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="Llave">Descripción producto:&nbsp;</label><label
                                class="Valor">{{oferta.caracteristicas}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="Llave">Caracterización:&nbsp;</label><label
                                class="Valor">{{oferta.caracterizacion}}</label>
                        </div>
                    </div>
                    <hr class="hrSinEstilo">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Fecha recogida:&nbsp;</label><label
                                        class="Valor">{{oferta.fecha_recogida}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Jornada:&nbsp;</label><label
                                        class="Valor">{{oferta.Nombre_jornada}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="Llave">Nombre productor:&nbsp;</label><label
                                class="Valor">{{oferta.Nombre_productor}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Ubicación:&nbsp;</label><label
                                        class="Valor">{{oferta.Ubicacion_parsela +'
                                        ('+oferta.coordenadas_parcela}})</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Estado oferta:&nbsp;</label><label
                                        class="Valor">{{oferta.Nombre_estado}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row br">

            <div class="col-sm-4">
                <ng-autocomplete [data]="ArrayConceptos" [searchKeyword]="concepto" placeholder="Concepto"
                    (selected)='selectConcepto($event)' (inputCleared)="LimpiarFiltro()" [itemTemplate]="templateRes"
                    [notFoundTemplate]="templateVacio" [(ngModel)]="ConceptoSel">
                </ng-autocomplete>
                <ng-template #templateRes let-item>
                    <a [innerHTML]="item.nombre"></a>
                </ng-template>
                <ng-template #templateVacio let-SinRegistro>
                    <label for="">Sin registros</label>
                </ng-template>
            </div>


            <div class="col-sm-4">
                <select name="TipoConcepto" id="TipoConcepto" #TipoConcepto class="form-control form-control-sm textBox"
                    (change)='SelTConcepto(TipoConcepto.value)'>
                    <option value="0">Tipo Concepto</option>
                    <option value="1">Unitario</option>
                    <option value="2">Total</option>
                </select>
            </div>
            <div class="col-sm-4">
                <input class="col-sm-12 form-control form-control-sm textBox" type="number" placeholder="Valor"
                    [(ngModel)]="VTotal" name="VTotal">
            </div>
        </div>
        <div class="row br justify-content-center mt-3">
            <div class="col-sm-3 col-12 br">
                <button type="button" class="btn btn-agro-prin col-sm-12"
                    (click)="AsociarConcepto(ModalRespuesta)">Asociar
                    Concepto</button>
            </div>
            <div class="col-sm-3 col-12 br">
                <button type="button" class="btn btn-agro-prin col-sm-12" (click)="CrearEditarosteo(templateEditar)">
                Crear/Editar Concepto</button>
            </div>

        </div>
        <hr>
        <div class="br row justify-content-center">
            <table class="col-sm-10 TableAgro">
                <tr>
                    <th>Concepto</th>
                    <th>Tipo Valor</th>
                    <th>Valor</th>
                    <th>Eliminar</th>
                </tr>
                <tr *ngFor="let Costo of ArrayCostos">
                    <td>{{Costo.NOM_TPO_COSTEO}}</td>
                    <td>{{Costo.NOM_TPO_VLOR}}</td>
                    <td>{{Costo.VLOR | currency}}</td>
                    <td>
                        <button class="SinEstilo" (click)="EliminarCosteo(Costo)">
                            <img src="./../../../../../assets/ImagenesAgroApoya2Adm/Cerrar.png">
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row justify-content-center br">
            <div class="col-sm-3"><label class="Llave">Valor total costeo:&nbsp;</label><label>{{ValorTotal | currency}}</label>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center br">
            <!-- <div class="col-sm-3">
                <button type="button" class="btn btn-agro-prin col-sm-12" (click)="Atras()">Atras</button>
            </div> -->
            <div class="col-sm-3">
                <button type="button" class="btn btn-agro-prin col-sm-12" (click)="Siguiente()">Siguiente</button>
            </div>
        </div>
    </div>
    <br>
    <ng-template #ModalRespuesta let-modal>
        <div class="modal-header">
            <h1>Respuesta</h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            <div class="row br">
                <div class="col-sm-12">
                    <h2 class="TituloDetalle">{{Respuesta}}</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-agro-prin col-sm-2" (click)="modal.close()">Aceptar</button>
        </div>
        <br>
    </ng-template>


    <ng-template #templateEditar let-modal>
        <div class="modal-header">
            <h1 class="modal-title" id="modal-basic-title">Creación/Edición concepto</h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-10">
                    <input type="text" title="Descripción concepto" class="form-control" placeholder="Concepto"
                        [(ngModel)]="lblConceptoAgregar">
                </div>
                <div class="col-sm-2">                    
                    <button class="btn btn-agro-prin col-sm-12" *ngIf="banderaAgregar=='1'" (click)="NovedadConcepto('1',ModalRespuesta)">
                       Aceptar
                    </button>
                    <button class="btn btn-agro-prin col-sm-12" *ngIf="banderaAgregar=='2'" (click)="NovedadConcepto('2',ModalRespuesta)">
                        Actualizar

                    </button>
                </div>
            </div>
            <div class="row br">
                <!--Grilla-->
                <table class="table table-bordered text-center">
                    <tr>
                        <th class="cursorPointer">Concepto</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                    <tr *ngFor="let Respu of ArrayConceptos">
                        <td>{{Respu.nombre}}</td>
                        <td class="text-center">
                            <button class="SinEstilo" title="Editar" (click)="SeleccionarEditarConcepto(Respu)">
                                <img src="../../../../../assets/ImagenesAgroApoya2Adm/Editar.png"
                                    class="BtnimgTamanoPeque mr-2" />
                            </button>
                        </td>
                        <td class="text-center">
                            <button class="SinEstilo" title="Eliminar" (click)="EliminaConcepto(ModalRespuesta, Respu)">
                                <img src="../../../../../assets/ImagenesAgroApoya2Adm/basura.png"
                                    class="BtnimgTamanoPeque mr-2" />
                            </button>
                        </td>
                    </tr>
                </table>
                <!--fin Grilla-->
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-agro-prin col-sm-2" (click)="modal.dismiss()">Cerrar</button>
        </div>
        <br>
    </ng-template>

</div>