<div class="Fondo">
    <br><br>
    <div class="container bg-white">
        <h1>Costeo Oferta</h1>
        <div class="row justify-content-center">
            <img src="./../../../../../assets/ImagenesAgroApoya2Admin/barra5.png" style="width: 65%;">
        </div>
        <div class="row justify-content-center br">
            <div class="col-sm-3"><label class="Llave">Producto : </label><label>{{Producto}}</label></div>
            <div class="col-sm-3"><label class="Llave">Unidades : </label><label>{{Unidades}}</label></div>
            <div class="col-sm-3"><label class="Llave">Empaque : </label><label>{{Empaque}}</label></div>
        </div>
        <div class="row br">
            <div class="col-sm-4">
                <!-- <ng-autocomplete [data]="ArrayConceptos" [searchKeyword]="concepto" placeholder="Sector" (selected)='selectSector($event)' [itemTemplate]="templateRes" [notFoundTemplate]="templateVacio">
                </ng-autocomplete>
                <ng-template #templateRes let-item>
                    <a [innerHTML]="item.DSCRPCION_SCTOR"></a>
                </ng-template>
                <ng-template #templateVacio let-SinRegistro>
                    <label for="">Sin registros</label>
                </ng-template> -->
                <input class="col-sm-12 form-control form-control-sm textBox" type="text" placeholder="Concepto"
                    [(ngModel)]="Concepto" name="Concepto">
            </div>
            <div class="col-sm-4">
                <select name="TipoConcepto" id="TipoConcepto" #TipoConcepto class="form-control form-control-sm textBox"
                (change)='SelTConcepto(TipoConcepto.value)'>
                    <option value="0">Tipo Concepto</option>
                    <option value="1">Unitario</option>
                    <option value="2">Total</option>
                </select>
            </div>
            <div class="col-sm-4">
                <input class="col-sm-12 form-control form-control-sm textBox" type="text" placeholder="Valor"
                    [(ngModel)]="VTotal" name="VTotal">
            </div>
        </div>
        <div class="row justify-content-center br">
            <div class="col-sm-3">
                <button type="button" class="btn btn-agro-prin col-sm-12" (click)="AsociarConcepto()">Asociar
                    Concepto</button>
            </div>
        </div>
        <hr>
        <div class="br row justify-content-center">
            <table class="col-sm-10 TableAgro">
                <tr>
                    <th>Concepto</th>
                    <th>Tipo Valor</th>
                    <th>Valor</th>
                    <th>Eliminar</th>
                </tr>
                <tr *ngFor="let Costo of ArrayCostos">
                    <td>{{Costo.NOM_TPO_COSTEO}}</td>
                    <td>{{Costo.NOM_TPO_VLOR}}</td>
                    <td>{{Costo.VLOR}}</td>
                    <td>
                        <button class="SinEstilo">
                            <img src="./../../../../../assets/ImagenesAgroApoya2Admin/Cerrar.png">
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row justify-content-center br">
            <div class="col-sm-3"><label class="Llave">Valor Total : </label><label>{{ValorTotal}}</label></div>
        </div>
        <hr>
        <div class="row justify-content-center br">
            <div class="col-sm-3">
                <button type="button" class="btn btn-agro-prin col-sm-12" (click)="Atras()">Atras</button>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-agro-prin col-sm-12" (click)="Siguiente()">Siguiente</button>
            </div>
        </div>
    </div>
</div>