<div class="Fondo ">
    <div class="container ">
        <div class="row centrarvertical">
            <div class="col-md-7 col-sm-12  mt-5 pl-4 pr-4">
                <div class="conborde col-sm-12 col-md-12">
                    <div class="col-sm-12 text-center img_login">
                        <img class="imgLogin" src="../../../../assets/ImagenesAgroApoya2Admin/user.png">
                    </div>
                    <div class="col-sm-12 text-center">
                        <h3 class="TituloDetalle">Iniciar Sesion</h3>
                    </div>

                    <div class="form_login_user">
                        <form (keyup.enter)="login(ModalRespuesta)" class="col-12 containerFlex" appearance="fill">

                            <div class="col-11 mb-4">
                                <input type="text" class="form-control sinborde" name="Usuario" placeholder="Usuario"
                                    required="required" [(ngModel)]="user" >
                            </div>

                        </form>
                        <form (keyup.enter)="login(ModalRespuesta)" class="col-12 containerFlex" appearance="fill">

                            <div class="w-100 mb-4">
                                <input type="password" required="required" [(ngModel)]="pass"
                                    class="form-control sinborde" name="Password" id="Password"
                                    placeholder="Contraseña/Password" >
                            </div>

                            <div class="m-0 p-0">
                                <button id="pass" class="SinEstilo" (click)="cambiarType('1')">
                                    <img src="../../../../assets/ImagenesAgroApoya2Admin/ver.png"
                                        class="BtnimgTamanoPeque" *ngIf="ver == '1'">
                                    <img src="../../../../assets/ImagenesAgroApoya2Admin/novisible.png"
                                        class="BtnimgTamanoPeque" *ngIf="ver == '2'">
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-3 col-2">
                            <button id="btnIngresar" class="btn btn-agro-prin"
                                (click)="login(ModalRespuesta)">Ingresar</button>
                        </div>
                    </div>

                </div>
            </div>
            <!--  Box Login-->
            <div class="col-md-5 col-sm-12 mt-5 pl-4 pr-4 form_text_right">
                <div class="d-inline-flex mt-5">
                    <h5 class="FontFamilyFutura mr-3 textColorVerdeOsucuro">Te damos la bienvenida a nuestra plataforma
                        👋
                    </h5>
                </div>
                <p class="tituloPortada mt-4 text-info">
                    <label class="tituloPortadaSignos text-info">¿</label>Sabes qué nos diferencia<label
                        class="tituloPortadaSignos text-info">?</label>
                </p>
                <ul class="menu mt-4 FontFamilyFutura" style="max-width: 500px">
                    <li>¡Queremos Dar a cada uno lo <strong>MEJOR</strong>!</li>
                    <li>Mayor beneficio económico.</li>
                    <li>Minimizar la cadena de intermediación.</li>
                    <li>Ser una opción en la disminución del desperdicio de la cadena de distribución.</li>
                </ul>
                <label class="text-info LabelUno FontFamilyFutura">¡Llegar con productos <strong>FRESCOS</strong> al
                    precio
                    <strong>JUSTO!</strong></label>
                <br>
                <a href="https://www.agroapoya2.com/" class="btn btn-agro-prin pl-5 pr-5 ml-5 mt-3">Más Información</a>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>


<ng-template #ModalRespuesta let-modal>
    <div class="modal-header">
        <h1>Respuesta</h1>
        <button (keyup.enter)="modal.close()" type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row br">
            <div class="col-sm-12">
                <h2 class="TituloDetalle">{{Respuesta}}</h2>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <button (keyup.enter)="modal.close()" type="button" class="btn btn-agro-prin col-sm-2" (click)="modal.close()">Aceptar</button>
    </div>
    <br>
</ng-template>