<div class="Fondo">
    <br><br>
    <div class="container bg-white">
        <br>
        <h1>Admin Códigos Promo</h1>
        <div class="row">
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Tipo Descuento</label>
                <select class="form-control form-control-sm textBox" #SelectDesc id="SelectDesc"
                    (change)='SelDesc(SelectDesc.value)'>
                    <option value="0">Tipo Descuento</option>
                    <option *ngFor="let Descuento of ArrayTDescuento;" [value]="Descuento.IdTipoCuponGenral"
                        [selected]="Descuento.IdTipoCuponGenral == IdDescuento">
                        {{Descuento.NombreCupon}}
                    </option>
                </select>
            </div>
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Aplicable</label>
                <select class="form-control form-control-sm textBox" #SelectAplica id="SelectAplica"
                    (change)='SelAplica(SelectAplica.value)'>
                    <option value="0">Aplicable</option>
                    <option *ngFor="let Aplica of ArrayAplica;" [value]="Aplica.IdTipoAplicable"
                        [selected]="Aplica.IdTipoAplicable == IdAplica">
                        {{Aplica.NombreAplicable}}
                    </option>
                </select>
            </div>
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Fecha Creación</label>
                <input type="date" name="FechaCreacion" id="FechaCreacion" class="form-control form-control-sm textBox"
                    [(ngModel)]="FechaCreacion">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <label class="Llave">Oferta</label>
                <ng-autocomplete [data]="ArrayOferta" [searchKeyword]="keywordOferta" placeholder="Oferta"
                    (inputCleared)="LimpiaOferta('')" (selected)='selectOfertaFiltro($event)'
                    [itemTemplate]="templateOferta" [notFoundTemplate]="templateVacio" [(ngModel)]="Oferta">
                </ng-autocomplete>
                <ng-template #templateOferta let-item>
                    <a [innerHTML]="item.cd_cnsctvo + ' - ' + item.Producto"></a>
                </ng-template>
                <ng-template #templateVacio let-SinRegistro>
                    <label for="">Sin registros</label>
                </ng-template>
            </div>
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Estado</label>
                <select class="form-control form-control-sm textBox" #SelectEstado id="SelectEstado"
                    (change)='SelEstado(SelectEstado.value)'>
                    <option value="0" >Estado</option>
                    <option value="1">Activo</option>
                    <option value="2">Inactivo</option>
                </select>
            </div>
        </div>
        <br>
        <div class="row justify-content-center ">
            <div class="col-sm-3">
                <button class="btn btn-agro-prin w-100" (click)="Buscar()">Buscar</button>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-agro-prin w-100" (click)="AbrirEditar('Nuevo')">Crear</button>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-agro-sec w-100" (click)="LimpiarFiltros()">Limpiar</button>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center" *ngIf="ArrayConsulta.length > 0">
            <table class="col-sm-10 TableAgro">
                <tr>
                    <th>Oferta</th>
                    <th>Aplicable</th>
                    <th>Tipo Descuento</th>
                    <th>Estado</th>
                    <th>Fecha Creación</th>
                    <th>Fecha Fin</th>
                    <th>Fecha Inicio</th>
                    <th>Código Mostrar</th>
                    <th>Código Grupo</th>
                    <th>Descripción</th>
                    <th>Editar</th>
                </tr>
                <tr *ngFor="let registro of ArrayConsulta ">
                    <td>{{registro.Cd_cnsctvo}}</td>
                    <td>{{registro.DesCodigoAplicable}}</td>
                    <td>{{registro.DesTipoCuponGeneral}}</td>
                    <td>{{registro.DesEstado}}</td>
                    <td>{{registro.FechaCreacion}}</td>
                    <td>{{registro.FechaFin}}</td>
                    <td>{{registro.FechaInicio}}</td>
                    <td>{{registro.codigo_Mostrar}}</td>
                    <td>{{registro.codigo_grupo}}</td>
                    <td>{{registro.descripcion}}</td>
                    <td>
                        <button class="SinEstilo" (click)="AbrirEditar(registro)">
                            <img src="./../../../../assets/ImagenesAgroApoya2Adm/Editar.png" width="32px">
                        </button>
                        <button class="SinEstilo" (click)="Eliminar(registro)">
                            <img src="./../../../../assets/ImagenesAgroApoya2Adm/basurarojo.png" width="32px">
                        </button>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>
<ng-template #ModalEditar let-modal>
    <div class="modal-header">
        <h1 class="modal-title" id="modal-basic-title">{{TituloModal}}</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row  br">
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Tipo Descuento</label>
                <select class="form-control form-control-sm textBox" #SelectDescE id="SelectDescE"
                    (change)='SelDescE(SelectDescE.value)'>
                    <option value="0">Tipo Descuento</option>
                    <option *ngFor="let Descuento of ArrayTDescuento;" [value]="Descuento.IdTipoCuponGenral"
                        [selected]="Descuento.IdTipoCuponGenral == IdDescuentoE">
                        {{Descuento.NombreCupon}}
                    </option>
                </select>
            </div>
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Valor Cupon</label>
                <input type="number"  placeholder="Aplicable desde"
                    class="form-control form-control-sm textBox" [(ngModel)]="ValorCuponE">
            </div>
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Valor aplica desde</label>
                <input type="number"  placeholder="Aplicable desde"
                    class="form-control form-control-sm textBox" [(ngModel)]="AplicaDesdeE">
            </div>

        </div>
        <div class="row br">
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Mascara</label>
                <input type="text" class="form-control form-control-sm textBox" placeholder="Mascara Código"
                    [(ngModel)]="MascaraE">
            </div>
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Estado</label>
                <select class="form-control form-control-sm textBox" #SelectEstadoE id="SelectEstadoE"
                    (change)='SelEstadoE(SelectEstadoE.value)' >
                    <option value="0" >Estado</option>
                    <option value="1">Activo</option>
                    <option value="2">Inactivo</option>
                </select>
            </div>
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Aplicable</label>
                <select class="form-control form-control-sm textBox" #SelectAplicaE id="SelectAplicaE"
                    (change)='SelAplicaE(SelectAplicaE.value)'>
                    <option value="0">Aplicable</option>
                    <option *ngFor="let Aplica of ArrayAplica;" [value]="Aplica.IdTipoAplicable"
                        [selected]="Aplica.IdTipoAplicable == IdAplicaE">
                        {{Aplica.NombreAplicable}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row br">
            
            <div class="col-sm-4" *ngIf="IdAplicaE == '2'">
                <label class="col-sm-12 Llave">Fecha inicio</label>
                <input type="date" class="form-control form-control-sm textBox" [(ngModel)]="FechaInicioE">
            </div>
            <div class="col-sm-4" *ngIf="IdAplicaE == '2'">
                <label class="col-sm-12 Llave">Fecha Fin</label>
                <input type="date" class="form-control form-control-sm textBox" [(ngModel)]="FechaFinE">
            </div>
            <!-- <div class="col-sm-4" *ngIf="IdAplicaE == '1'">
                <label class="col-sm-12 Llave">Oferta</label>
                <input type="text" class="form-control form-control-sm textBox" placeholder="Oferta"
                    [(ngModel)]="IdOfertaE">
            </div> -->
            <div class="col-sm-4" *ngIf="IdAplicaE == '1'">
                <label class="Llave">Oferta</label>
                <ng-autocomplete [data]="ArrayOferta" [searchKeyword]="keywordOferta" placeholder="Oferta"
                    (inputCleared)="LimpiaOferta('')" (selected)='selectOfertaFiltroE($event)'
                    [itemTemplate]="templateOferta" [notFoundTemplate]="templateVacio" [(ngModel)]="OfertaE">
                </ng-autocomplete>
                <ng-template #templateOferta let-item>
                    <a [innerHTML]="item.cd_cnsctvo + ' - ' + item.Producto"></a>
                </ng-template>
                <ng-template #templateVacio let-SinRegistro>
                    <label for="">Sin registros</label>
                </ng-template>
            </div>

        </div>

        <div class="row br">
            <div class="col-sm-6">
                <label class="col-sm-12 Llave">Descripción</label>
                <textarea name="Descripcion" id="Descripcion" cols="30" rows="10" class="form-control form-control-sm "
                    [(ngModel)]="DescripcionE"></textarea>
            </div>
            <div class="col-sm-6">
                <label class="col-sm-12 Llave">Script</label>
                <textarea name="Script" id="Script" cols="30" rows="10" class="form-control form-control-sm "
                    [(ngModel)]="ScriptE"></textarea>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-3">
            <button type="button" class="btn btn-agro-prin w-100" (click)="GuardarCupon()">Guardar</button>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-agro-sec w-100" (click)="modal.dismiss()">Cancelar</button>
        </div>
    </div>
    <br>
</ng-template>
<ng-template #ModalRespuesta let-modal>
    <div class="modal-header">
        <h1>Respuesta</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row br">
            <div class="col-sm-12">
                <h2 class="TituloDetalle">{{Respuesta}}</h2>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <button type="button" class="btn btn-agro-prin col-sm-4" (click)="modal.close()">Aceptar</button>
    </div>
    <br>
</ng-template>