<div class="Fondo">
    <br><br>
    <div class="container bg-white">
        <br>
        <h1>Admin Códigos Promo</h1>
        <div class="row">
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Tipo Descuento</label>
                <select class="form-control form-control-sm textBox" #SelectDesc id="SelectDesc" (change)='SelDesc(SelectDesc.value)'>
                    <option value="0">Tipo Descuento</option>
                    <option *ngFor="let Descuento of ArrayTDescuento;" [value]="Descuento.IdTipoCuponGenral"
                        [selected]="Descuento.IdTipoCuponGenral == IdDescuento">
                        {{Descuento.NombreCupon}}
                    </option>
                </select>
            </div>
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Aplicable</label>
                <select class="form-control form-control-sm textBox" #SelectAplica id="SelectAplica" (change)='SelAplica(SelectAplica.value)'>
                    <option value="0">Aplicable</option>
                    <option *ngFor="let Aplica of ArrayAplica;" [value]="Aplica.IdTipoAplicable"
                        [selected]="Aplica.IdTipoAplicable == IdAplica">
                        {{Aplica.NombreAplicable}}
                    </option>
                </select>
            </div>
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Fecha Creación</label>
                <input type="date" name="FechaCreacion" id="FechaCreacion" class="form-control form-control-sm textBox" [(ngModel)]="FechaCreacion">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Código Oferta</label>
                <input type="text" name="CodigoOferta" id="CodigoOferta" class="form-control form-control-sm textBox" [(ngModel)]="IdOferta">
            </div>
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Estado</label>
                <select class="form-control form-control-sm textBox" #SelectEstado id="SelectEstado" (change)='SelEstado(SelectEstado.value)'>
                    <option value="0">Estado</option>
                    <option value="1">Activo</option>
                    <option value="2">Inactivo</option>
                </select>
            </div>
        </div>
        <br>
        <div class="row justify-content-center ">
            <div class="col-sm-3">
                <button class="btn btn-agro-prin w-100" (click)="Buscar()">Buscar</button>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-agro-prin w-100">Guardar</button>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-agro-prin w-100">Cancelar</button>
            </div>
        </div>
    </div>
</div>