<br>
<div class="container bg-white">
    <br>
    <h1>Valorar Oferta</h1>
    <div class="br row justify-content-center">
        <img src="./../../../../../assets/ImagenesAgroApoya2Admin/barra5.png" style="width: 65%;">
    </div>
    <div class="row justify-content-center" *ngFor="let oferta of DataOferta">
        <div class="col-sm-11">
            <div class="row">
                <div class="col-sm-3 mt-5">
                    <img src={{oferta.IMAGEN}} class="col-sm-12">
                </div>
                <div class="col-sm-9">
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="Llave">Nombre productor:</label>
                        </div>
                        <div class="col-sm-9">
                            <label class="Valor">{{oferta.Nombre_productor}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="Llave">Producto:</label>
                        </div>
                        <div class="col-sm-9">
                            <label class="Valor">{{oferta.Nombre_Producto}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="Llave">Tamaño:</label>
                        </div>
                        <div class="col-sm-9">
                            <label class="Valor">{{oferta.Tamano}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="Llave">Presentacion empaque:</label>
                        </div>
                        <div class="col-sm-9">
                            <label class="Valor">{{oferta.Descripcion_empaque}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="Llave">Descripción producto:</label>
                        </div>
                        <div class="col-sm-9">
                            <label class="Valor">{{oferta.caracteristicas}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="Llave">Caracterización:</label>
                        </div>
                        <div class="col-sm-9">
                            <label class="Valor">{{oferta.caracterizacion}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="Llave">Valor unidad empaque:</label>
                        </div>
                        <div class="col-sm-9">
                            <label class="Valor">{{oferta.VR_UNDAD_EMPQUE}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="Llave">Unidades disponibles:</label>
                        </div>
                        <div class="col-sm-9">
                            <label class="Valor">{{oferta.Unidades_disponibles}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="Llave">Fecha recogida:</label>
                        </div>
                        <div class="col-sm-2">
                            <label class="Valor">{{oferta.fecha_recogida}}</label>
                        </div>
                        <div class="col-sm-1">
                            <label class="Llave">Jornada:</label>
                        </div>
                        <div class="col-sm-3">
                            <label class="Valor">{{oferta.jornada}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="Llave">Direccion o coordenadas:</label>
                        </div>
                        <div class="col-sm-9">
                            <label class="Valor">{{oferta.Ubicacion_parsela +' ('+oferta.coordenadas_parcela}})</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="Llave">Valor total oferta:</label>
                        </div>
                        <div class="col-sm-9">
                            <label class="Valor">{{oferta.VR_TOTAL_OFRTA}}</label>
                        </div>
                    </div>                    
                    <br>
                </div>
                <hr>                                
            </div>
        </div>
    </div>
    <div class="row justify-content-center br">
        <div class="col-sm-2 ">
            <button class="btn btn-agro-prin col-sm-12">Publicar</button>
        </div>
    </div>
</div>
