<br>
<div class="container bg-white">
    <br>
    <h1>Valorar Oferta</h1>
    <div class="row justify-content-center br ">
        <img src="./../../../../../assets/ImagenesAgroApoya2Adm/barra6.png" style="width: 65%;">
    </div>
    <div class="row justify-content-center br tarjetadetalle" *ngFor="let oferta of DataOferta">
        <div class="row m-2">
            <div class="col-sm-3">
                <img src={{RutaImagen+oferta.IMAGEN}} class="col-sm-12 ImgOferta">
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave TextMay">Código oferta:&nbsp;</label><label
                                    class="ValorIDOfer"><strong>{{oferta.COD_OFR_PUBLICO}}</strong></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Producto:&nbsp;</label><label
                                    class="Valor">{{oferta.Nombre_Producto}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Presentación empaque:&nbsp;</label><label
                                    class="Valor">{{oferta.Descripcion_empaque}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Tamaño:&nbsp;</label><label
                                    class="Valor">{{oferta.Nmbre_tamano}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Condición entrega:&nbsp;</label> <label
                                    class="Valor">{{oferta.Condicion_entrega}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Valor unidad:&nbsp;</label><label
                                    class="Valor">{{oferta.valor_unidad_formato}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Unidades disponibles:&nbsp;</label><label
                                    class="Valor">{{oferta.Unidades_disponibles}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="Llave">Valor total oferta:&nbsp;</label><label
                            class="Valor">{{oferta.valor_Total_Ofr_formato}}</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="Llave">Valor costeo:&nbsp;</label><label
                            class="Valor">${{oferta.vlor_costeo}}</label>
                    </div>
                </div>
                <hr class="hrSinEstilo">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="Llave">Descripción producto:&nbsp;</label><label
                            class="Valor">{{oferta.caracteristicas}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="Llave">Caracterización:&nbsp;</label><label
                            class="Valor">{{oferta.caracterizacion}}</label>
                    </div>
                </div>
                <hr class="hrSinEstilo">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Fecha recogida:&nbsp;</label><label
                                    class="Valor">{{oferta.fecha_recogida}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Jornada:&nbsp;</label><label
                                    class="Valor">{{oferta.Nombre_jornada}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="Llave">Nombre productor:&nbsp;</label><label
                            class="Valor">{{oferta.Nombre_productor}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Ubicación:&nbsp;</label><label
                                    class="Valor">{{oferta.Ubicacion_parsela +' ('+oferta.coordenadas_parcela}})</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <label class="Llave">Estado:&nbsp;</label><label
                                class="Valor">{{oferta.Nombre_estado}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row br">
        <div class="col-sm-6">
            <label class="col-sm-12 Llave mb-1">Sector a valorar</label>
            <ng-autocomplete [data]="DataSectores" [searchKeyword]="keywordSec" (selected)='selectSector($event)'
                (inputCleared)='LimpiaSector()' placeholder="Sector" [itemTemplate]="templateSec"
                [notFoundTemplate]="templateVacio">
            </ng-autocomplete>
            <ng-template #templateSec let-item>
                <a [innerHTML]="item.DSCRPCION_SCTOR"></a>
            </ng-template>
            <ng-template #templateVacio let-SinRegistro>
                <label for="">Sin registros</label>
            </ng-template>
        </div>
        <div class="col-sm-3">
            <label class="col-sm-12 Llave mb-1">Código sector</label>
            <input type="text" name="" id="" class="form-control textBox" disabled [(ngModel)]="CodigoOferSector">
        </div>
        <div class="col-sm-3">
            <label class="col-sm-12 Llave mb-1">Flete negociado</label>
            <input type="text" name="" id="" class="form-control textBox" disabled [(ngModel)]="VlrFletSect">
        </div>
    </div>
    <div class="row br" *ngIf="ValidaVigencia=='1'">
        <h5 class="SubTituloForm">Definición vigencia oferta</h5>
    </div>
    <div class="row br" *ngIf="ValidaVigencia=='1'">
        <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-three">
            <ngb-panel title="Definición vigencia oferta" id="config-panel-three">
                <ng-template ngbPanelContent>
                    <div class="row br">
                        <div class="col-sm-6">
                            <label class="col-sm-12 Llave">Vigencia desde</label>
                            <input type="date" class="col-sm-12 form-control mt-1 textBox" [(ngModel)]="VigenDesde"
                                (blur)="ValidaVigencias(ModalRespuesta, '1')">
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-12 Llave">Vigencia hasta</label>
                            <input type="date" class="col-sm-12 form-control mt-1 textBox" [(ngModel)]="VigenHasta"
                                (blur)="ValidaVigencias(ModalRespuesta, '2')">
                        </div>
                    </div>
                    <div class="row br">
                        <div class="col-sm-6">
                            <label class="col-sm-12 Llave">Fecha entrega</label>
                            <input type="date" class="col-sm-12 form-control mt-1 textBox" [(ngModel)]="FechaEntrega"
                                (blur)="ValidaVigencias(ModalRespuesta, '3')">
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-12 Llave">Fecha recogida</label>
                            <input type="date" disabled class="col-sm-12 form-control mt-1 textBox"
                                [(ngModel)]="SessionFechaRecogida">
                        </div>
                    </div>
                    <div class="row br">
                        <div class="col-sm-12">
                            <label class="col-sm-12 Llave">Observaciones</label>
                            <textarea class="col-sm-12 form-control mt-1 textArea" cols="30" rows="3"
                                [(ngModel)]="Observaciones"></textarea>
                        </div>
                    </div>
                    <div class="row justify-content-center br">
                        <div class="col-sm-2 ">
                            <button class="btn btn-agro-prin col-sm-12"
                                (click)="GuardaVigencia(ModalRespuesta)">Guardar</button>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
    <div class="row br" *ngIf="ValidaTipoOfer=='1'">
        <h5 class="SubTituloForm">Definición tipo oferta</h5>
    </div>
    <div class="row br" *ngIf="ValidaTipoOfer=='1'">
        <div class="col-sm-12">
            <label class="col-sm-12 Llave mb-1">Tipo oferta</label>
            <ng-autocomplete [data]="DataTipoOferta" [searchKeyword]="keyword" (selected)='selectTipOferta($event)'
                [initialValue]="ArrayTipoOferCon[0]" (inputCleared)='LimpiaTipoOferta($event)'
                placeholder="Individual o Mixta" [itemTemplate]="templateOfer"
                [notFoundTemplate]="templateVacio">
            </ng-autocomplete>
            <ng-template #templateOfer let-item>
                <a [innerHTML]="item.name"></a>
            </ng-template>
            <ng-template #templateVacio let-SinRegistro>
                <label for="">Sin registros</label>
            </ng-template>
        </div>
    </div>
    <div class="row br">
        <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one" *ngIf="MuestraIndividual=='1'">
            <ngb-panel title="Compra individual" id="config-panel-one">
                <ng-template ngbPanelContent>
                    <div class="row br">
                        <div class="col-sm-6">
                            <label class="col-sm-12 Llave mb-1">Tipo comisión</label>
                            <ng-autocomplete [data]="DataTipoComisiono" [searchKeyword]="keyword"
                                [initialValue]="ArrayTipoComICon[0]" (inputCleared)='LimpiaTipoComisionI($event)'
                                (selected)='selectTipComiI($event)' placeholder="Fija o por Porcentaje"
                                [itemTemplate]="templateSec" [notFoundTemplate]="templateVacio">
                            </ng-autocomplete>
                            <ng-template #templateSec let-item>
                                <a [innerHTML]="item.name"></a>
                            </ng-template>
                            <ng-template #templateVacio let-SinRegistro>
                                <label for="">Sin registros</label>
                            </ng-template>
                        </div>
                        <div class="col-sm-6" *ngIf="MuestraPorcentajeI=='1'">
                            <label class="col-sm-12 Llave">Valor comisión porcentaje</label>
                            <input mask="separator" thousandSeparator="." type="text"
                                class="col-sm-12 form-control mt-1 textBox" min="1" max="100"
                                onkeyup="if(parseInt(this.value)>100){ this.value=100; return false; }"
                                [(ngModel)]="VlrComPorI" (change)="CalcuPreFinInd()">
                        </div>
                        <div class="col-sm-6" *ngIf="MuestraFijoI=='1'">
                            <label class="col-sm-12 Llave">Valor comisión fija</label>
                            <input mask="separator" thousandSeparator="." type="text"
                                class="col-sm-12 form-control mt-1 textBox" [(ngModel)]="VlrComFijaI"
                                (change)="CalcuPreFinInd()">
                        </div>
                    </div>
                    <div class="row br">
                        <div class="col-sm-6">
                            <label class="col-sm-12 Llave">Mínimo unidades</label>
                            <input type="number" class="col-sm-12 form-control mt-1 textBox"
                                (blur)="ValidaCantidadMinimaIndiv(MinUnidI,ModalRespuesta)" [(ngModel)]="MinUnidI"
                                onkeyup="if(this.value>999 || this.value<=0){this.value=''; return false;}" disabled>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-12 Llave">Máximo unidades</label>
                            <input type="number" class="col-sm-12 form-control mt-1 textBox"
                                (blur)="ValidaCantidadmaxIndiv(MaxUnidI,ModalRespuesta)" [(ngModel)]="MaxUnidI"
                                onkeyup="if(this.value>999 || this.value<=0){this.value=''; return false;}" disabled>
                        </div>
                    </div>
                    <div class="row br">
                        <div class="col-sm-6">
                            <label class="col-sm-12 Llave">Valor domicilio</label>
                            <input mask="separator" thousandSeparator="." type="text"
                                class="col-sm-12 form-control mt-1 textBox" [(ngModel)]="VlrDomiI">
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-12 Llave">Precio final (No incluye valor domicilio)</label>
                            <input type="text" class="col-sm-12 form-control mt-1 textBox"
                                value="{{PreFinI | currency}}" disabled="true">
                        </div>
                    </div>
                    <div class="row justify-content-center br" *ngIf="MuestraBtnIndividual=='1'">
                        <div class="col-sm-3">
                            <button class="btn btn-agro-prin col-sm-12"
                                (click)="GuardaIndividual(ModalRespuesta)">Guardar individual</button>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
        <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-two" *ngIf="MuestraGrupal=='1'">
            <ngb-panel title="Compra grupal" id="config-panel-two">
                <ng-template ngbPanelContent>
                    <div class="row br">
                        <div class="col-sm-6">
                            <label class="col-sm-12 Llave mb-1">Tipo comisión</label>
                            <ng-autocomplete [data]="DataTipoComisiono" [searchKeyword]="keyword"
                                (inputCleared)='LimpiaTipoComision($event)' [initialValue]="ArrayTipoComGCon[0]"
                                (selected)='selectTipComiG($event)' placeholder="Fija o por Porcentaje"
                                [itemTemplate]="templateSec" [notFoundTemplate]="templateVacio">
                            </ng-autocomplete>
                            <ng-template #templateSec let-item>
                                <a [innerHTML]="item.name"></a>
                            </ng-template>
                            <ng-template #templateVacio let-SinRegistro>
                                <label for="">Sin registros</label>
                            </ng-template>
                        </div>
                        <div class="col-sm-6" *ngIf="MuestraPorcentaje=='1'">
                            <label class="col-sm-12 Llave">Valor comisión porcentaje</label>
                            <input type="number" class="col-sm-12 form-control mt-1 textBox" min="1" max="100"
                                onkeyup="if(parseInt(this.value)>100){ this.value=100; return false; }"
                                [(ngModel)]="VlrComPorG" (change)="CalculaPreoferGrupalM()">
                        </div>
                        <div class="col-sm-6" *ngIf="MuestraFijo=='1'">
                            <label class="col-sm-12 Llave">Valor comisión fija</label>
                            <input mask="separator" thousandSeparator="." type="text"
                                class="col-sm-12 form-control mt-1 textBox" [(ngModel)]="VlrComFijaG"
                                (change)="CalculaPreoferGrupalM()">
                        </div>
                    </div>
                    <!-- <div class="row br">
                        <div class="col-sm-6">
                            <label class="col-sm-12 Llave">Mínimo unidades líder</label>
                            <input type="number" class="col-sm-12 form-control mt-1 textBox" [(ngModel)]="MinUnidLider"
                                (blur)="ValidaCantidadMinimaLid(MinUnidLider,ModalRespuesta)"
                                onkeyup="if(this.value>999 || this.value<=0){this.value=''; return false;}">
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-12 Llave">Máximo unidades líder</label>
                            <input type="number" class="col-sm-12 form-control mt-1 textBox" [(ngModel)]="MaxUnidLider"
                                (blur)="ValidaCantidadmaxLid(MaxUnidLider,ModalRespuesta)"
                                onkeyup="if(this.value>999 || this.value<=0){this.value=''; return false;}">
                        </div>
                    </div> -->
                    <!-- <div class="row br">
                        <div class="col-sm-6">
                            <label class="col-sm-12 Llave">Mínimo unidades participante</label>
                            <input type="number" class="col-sm-12 form-control mt-1 textBox" [(ngModel)]="MinUnidPart"
                                (blur)="ValidaCantidadMinimaPart(MinUnidPart,ModalRespuesta)"
                                onkeyup="if(this.value>999 || this.value<=0){this.value=''; return false;}">
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-12 Llave">Máximo unidades participante</label>
                            <input type="number" class="col-sm-12 form-control mt-1 textBox" [(ngModel)]="MaxUnidPart"
                                (blur)="ValidaCantidadmaxPart(MaxUnidPart,ModalRespuesta)"
                                onkeyup="if(this.value>999 || this.value<=0){this.value=''; return false;}">
                        </div>
                    </div> -->
                    <div class="row br">
                        <!-- <div class="col-sm-6">
                            <label class="col-sm-12 Llave">Valor domicilio</label>
                            <input mask="separator" thousandSeparator="." type="text"
                                class="col-sm-12 form-control mt-1 textBox" [(ngModel)]="VlrDomiG"
                                (change)="CalculaPreoferGrupalM()">
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-12 Llave">Porcentaje descuento líder</label>
                            <input type="number" class="col-sm-12 form-control mt-1 textBox"
                                onkeyup="if(parseInt(this.value)>100){ this.value=100; return false; }"
                                [(ngModel)]="PorcDescLider">
                        </div> -->
                        <div class="col-sm-12">
                            <label class="col-sm-12 Llave">Tipo de descuento</label>
                            <ng-autocomplete [data]="DataTipoDescuento" [searchKeyword]="keyword"
                                placeholder="Registro / Unidades" [itemTemplate]="templateSec"
                                [notFoundTemplate]="templateVacio"  (selected)='selectTipDescuento($event)' (inputCleared)='LimpiaTipoDescuento($event)'>
                            </ng-autocomplete>
                            <ng-template #templateSec let-item>
                                <a [innerHTML]="item.name"></a>
                            </ng-template>
                            <ng-template #templateVacio let-SinRegistro>
                                <label for="">Sin registros</label>
                            </ng-template>

                        </div>

                    </div>
                    <div class="row br">
                        <div class="col-sm-6">
                            <label class="col-sm-12 Llave">Porcentaje de descuento por unidad / registro</label>
                            <input type="number" class="col-sm-12 form-control mt-1 textBox"
                                    onkeyup="if(parseInt(this.value)>100){ this.value=100; return false; }"
                                    [(ngModel)]="PorcDescLider">
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-12 Llave">Numero maximo de unidades / registros para descuento</label>
                            <input type="number" class="col-sm-12 form-control mt-1 textBox" [(ngModel)]="UnidXGrupos"
                                (change)="CalculaCCI(ModalRespuesta)"
                                onkeyup="if(this.value>999 || this.value<=0){this.value=''; return false;}">
                        </div>
                    </div>
                    <!-- <div class="row br">
                        <div class="col-sm-6">
                            <label class="col-sm-12 Llave">Cantidad de grupos</label>
                            <input type="number" class="col-sm-12 form-control mt-1 textBox" [(ngModel)]="CantGrupos"
                                (change)="CalculaCCI(ModalRespuesta)"
                                onkeyup="if(this.value>999 || this.value<=0){this.value=''; return false;}">
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-12 Llave">Unidades totales por grupo</label>
                            <input type="number" class="col-sm-12 form-control mt-1 textBox" [(ngModel)]="UnidXGrupos"
                                (change)="CalculaCCI(ModalRespuesta)"
                                onkeyup="if(this.value>999 || this.value<=0){this.value=''; return false;}"
                                (blur)="ValidacionesGrupal(UnidXGrupos,ModalRespuesta)">
                        </div>
                    </div> -->
                    <!-- <div class="row br" *ngIf="MuestraCantIndiv=='1'">
                        <div class="col-sm-6">
                            <label class="col-sm-12 Llave">Cantidad de compras individuales disponibles</label>
                            <input type="number" class="col-sm-12 form-control mt-1 textBox" [(ngModel)]="CantComprI"
                                disabled="true"
                                onkeyup="if(this.value>999 || this.value<=0){this.value=''; return false;}">
                        </div>
                    </div> -->
                    <div class="row br">
                        <div class="col-sm-6">
                            <label class="col-sm-12 Llave">Precio arranque líder</label>
                            <input type="text" class="col-sm-12 form-control mt-1 textBox"
                                value="{{PrecioFinLider | currency}}" disabled="true">
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-12 Llave">Precio final participante</label>
                            <input type="text" class="col-sm-12 form-control mt-1 textBox"
                                value="{{PrecioFinPart | currency}}" disabled="true">
                        </div>
                    </div>
                    <div class="row justify-content-center br" *ngIf="MuestraBtnGrupal=='1'">
                        <div class="col-sm-3">
                            <button class="btn btn-agro-prin col-sm-12" (click)="GuardaGrupal(ModalRespuesta)">Guardar
                                grupal</button>
                        </div>
                    </div>
                    <div class="row justify-content-center br" *ngIf="MuestraBtnMixta=='1'">
                        <div class="col-sm-3">
                            <button class="btn btn-agro-prin col-sm-12" (click)="GuardarMixta(ModalRespuesta)">Guardar
                                mixta</button>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
    <div class="row br" *ngIf="ValidaToppings=='1'">
        <h5 class="SubTituloForm">Definición conceptos adicionales</h5>
    </div>
    <div class="row br" *ngIf="ValidaToppings=='1'">
        <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-three">
            <ngb-panel title="Adicionales" id="config-panel-three">
                <ng-template ngbPanelContent>
                    <div class="row br">


                        <div class="col-sm-4">
                            <label class="col-sm-12 Llave">Descripción</label>
                            <input type="text" title="Descripción máximo 150 caracteres"
                                class="col-sm-12 form-control mt-1 textBox" maxlength="150" [(ngModel)]="DesTopp"
                                [ngModelOptions]="{standalone: true}">
                        </div>



                        <div class="col-sm-4">
                            <label class="col-sm-12 Llave">Valor unitario</label>
                            <input mask="separator" thousandSeparator="." type="text"
                                class="col-sm-12 form-control mt-1 textBox" [(ngModel)]="VlrUniTopp">
                        </div>
                        <div class="col-sm-4">
                            <label class="col-sm-12 Llave mt-1">Tipo</label>
                            <ng-autocomplete [data]="DataTipotopping" [searchKeyword]="keywordTipTopp"
                                (selected)='selectTipTopp($event)' placeholder="Tipo Adición"
                                [itemTemplate]="templateOfer" [notFoundTemplate]="templateVacio"
                                (inputCleared)='LimpiaTipoTopp()' [(ngModel)]="TipoTopp">
                            </ng-autocomplete>
                            <ng-template #templateOfer let-item>
                                <a [innerHTML]="item.Descripcion"></a>
                            </ng-template>
                            <ng-template #templateVacio let-SinRegistro>
                                <label for="">Sin registros</label>
                            </ng-template>
                        </div>
                    </div>
                    <div class="row br">
                        <div class="col-sm-4">
                            <label class="col-sm-12 Llave">Unidades para la oferta</label>
                            <input type="number" class="col-sm-12 form-control mt-1 textBox" [(ngModel)]="UnidOferta"
                                disabled="{{IsEnables}}">
                        </div>
                        <div class="col-sm-4">
                            <label class="col-sm-12 Llave">Máximo unidades por cada compra</label>
                            <input type="number" class="col-sm-12 form-control mt-1 textBox" [(ngModel)]="UnidMaxTopp"
                                [disabled]="ValidaTipoTopp">
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn-warning col-sm-12">
                                <i class="fa fa-upload marginleft"></i> Subir Imagen
                                <input name="file-input3" id="file-input3" type="file"
                                    (change)="CargaImagenAdicionales($event, ModalRespuestaImg)" title="" />
                            </button>
                        </div>
                    </div>

                    <div class="row justify-content-center br">
                        <div class="col-sm-3">
                            <label class="col-sm-12 Llave"></label>
                            <button class="btn btn-agro-prin col-sm-12"
                                (click)="GuardaTopping(ModalRespuesta)">Agregar</button>
                        </div>
                    </div>

                    <div class="row justify-content-center br">
                        <div class="table-responsive">
                            <table class="table col-sm-12 TableAgro">
                                <tr id="TablaValoracion">
                                    <th>Descripción</th>
                                    <th>Valor unitario</th>
                                    <th>Tipo</th>
                                    <th>Unidades para oferta</th>
                                    <th>Máximo unidades por compra</th>
                                    <th>Acciones</th>
                                </tr>
                                <tr *ngFor="let topping of DataToppings">
                                    <td>{{topping.Descripcion}}</td>
                                    <td>{{topping.ValorUnitario | currency}}</td>
                                    <td>{{topping.descTipotopping}}</td>
                                    <td>{{topping.cantidadReserva}}</td>
                                    <td>{{topping.MaxCantidad}}</td>
                                    <td>
                                        <button class="SinEstilo" title="Activar/Desactivar amparado"
                                            (click)="ModificaTopping('1', topping)">
                                            <img *ngIf="topping.Estado=='1'"
                                                src="./../../../../../assets/ImagenesAgroApoya2Adm/visible.png">
                                            <img *ngIf="topping.Estado=='2'"
                                                src="./../../../../../assets/ImagenesAgroApoya2Adm/notvisible.png">

                                        </button>
                                        <button class="SinEstilo" title="Eliminar amparado">
                                            <img src="./../../../../../assets/ImagenesAgroApoya2Adm/basurarojo.png"
                                                (click)="ModificaTopping('2', topping)">
                                        </button>
                                        <button *ngIf="topping.IdTipoTopping == '1'" class="SinEstilo"
                                            title="Imagen amparado">
                                            <img src="./../../../../../assets/ImagenesAgroApoya2Adm/imagen.png"
                                                (click)="visualizaImagenTopping(ModalImagen, topping.imagen)">
                                        </button>
                                    </td>
                                </tr>
                                <tr *ngIf="ValidaConsulta=='1'">
                                    <td colspan="6">{{txtValidaCons}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
    <div class="row justify-content-center br">
        <div class="col-sm-3">
            <button class="btn btn-agro-prin col-sm-12" (click)="AbrePublica(ModalPublicar)">Publicar oferta</button>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>
<ng-template #ModalRespuesta let-modal>
    <div class="modal-header">
        <h1>Respuesta</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row br">
            <h2 class="TituloDetalle">{{Respuesta}}</h2>
        </div>
        <div class="row br" *ngIf="this.ValidaCam=='1'">
            <div class="col-sm-9">
                <label>Campo</label>
            </div>
            <div class="col-sm-3">
                <label>Diligenciado</label>
            </div>
        </div>
        <div class="row br" *ngFor="let campos of ArrayCamposValida">
            <div class="col-sm-9">
                <label for="" class="{{campos.class}}">{{campos.campof}}</label>
            </div>
            <div class="col-sm-3">
                <div class="row justify-content-center">
                    <div class="col-sm-6">
                        <img src="{{campos.imagen}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <button type="button" class="btn btn-agro-prin col-sm-2" (click)="modal.close()">Aceptar</button>
    </div>
    <br>
</ng-template>
<ng-template #ModalPublicar let-modal>
    <div class="modal-header">
        <h1 class="modal-title" id="modal-basic-title">Publicar Oferta</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row br">
            <div class="col-sm-12">
                <textarea [(ngModel)]="PubliOferObser" class="Col-sm-12 form-control textArea"
                    placeholder="Observaciónes" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <button type="button" class="btn btn-agro-prin col-sm-2"
            (click)="PublicaOferta(ModalRespuesta)">Guardar</button>
    </div>
    <br>
</ng-template>


<ng-template #ModalImagen let-modal>
    <div class="modal-header">
        <h1 class="modal-title" id="modal-basic-title">Imagen adicionales</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body" *ngFor="let oferta of DataOferta">
        <div class="row br">
            <img src="{{consultaimagen}}" class="col-sm-12">
        </div>
    </div>
    <div class="row justify-content-center">
        <button type="button" class="btn btn-agro-prin col-sm-2" (click)="modal.dismiss()">Aceptar</button>
    </div>
    <br>
</ng-template>

<ng-template #ModalRespuestaImg let-modal>
    <div class="modal-header">
        <h1>Respuesta</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row br">
            <div class="col-sm-12">
                <h2 class="TituloDetalle">{{Respuesta}}</h2>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <button type="button" class="btn btn-agro-prin col-sm-2" (click)="modal.close()">Aceptar</button>
    </div>
    <br>
</ng-template>