.btn-warning {
  position: relative;
  padding: 11px 16px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 5px;
  color: #fff;
  background-color: #397c97;
  border: 1px solid #397c97;
  transition: 0.2s;
  overflow: hidden;
  margin-top: 25px;
}

.btn-warning input[type="file"] {
  cursor: pointer;
  position: absolute;
  left: 0%;
  top: 0%;
  transform: scale(3);
  opacity: 0;
}

.btn-warning:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.marginleft {
  margin-right: 10px;
}

.descripcionlarga {
  overflow: auto;
  height: 80px;
  width: 100%;
  padding: 0;
  margin: 0;
}
.imgpresentacion{
  width: 24px !important;
  height: 24px !important;
}
.smsError {
  color: red;
  font-size: 15px;
  font-weight: bold;
}

.Imagen {
  position: relative;
  overflow: hidden;
  display: flex; /* Establece el contenedor como un contenedor flex */
  align-items: center; /* Centra verticalmente los elementos hijos */
  justify-content: center; /* Centra horizontalmente los elementos hijos */
}

.Imagen img {
  border-radius: 20px;
  width: 100%;
  height: auto;
  display: block;
}

.ValorTextModal {
  color: #575A5F;
  text-align: center !important;
}
.cajaProdOrden {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(81, 135, 111, 0.42);
  -moz-box-shadow: 0px 0px 0px 0px rgba(81, 135, 111, 0.42);
  box-shadow: 0px 0px 0px 0px rgba(81, 135, 111, 0.42);
  border: solid 1px #397c97;
}

.cajaProdOrdenCheck {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(81, 135, 111, 0.42);
  -moz-box-shadow: 0px 0px 0px 0px rgba(81, 135, 111, 0.42);
  box-shadow: 0px 0px 0px 0px rgba(81, 135, 111, 0.42);
  border: solid 1px #000;
  background-color: #397c97;
}

.lblCajaOrden {
  color: black;
  font-size: 23px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.lblCajaOrdenPresentacion {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.bot {
  border: 0;
  background: none;
  outline: none;
}

.bot:active {
  border: 0;
  background: none;
  outline: none;
}