* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ContenedorSlideButton {
    display: flex;
}

.ContenedorOpcionUno{
    display: flex;
    justify-content: right;
    align-items: center;
}

.ContenedorSlide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContenedorOpcionDos{
    display: flex;
    justify-content: left;
    align-items: center;
}

.OpcionUno {
    color: #397c97;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.OpcionUnoAfter { 
    color: #000000;
    font-size: 40px;
    font-weight: lighter;
    transition: 0.3s;
}

.OpcionEstandar {
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.OpcionDosEstandarAfter {
    color: #97394d;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.OpcionTresEstandarAfter {
    color: #eec916;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.CartaTotal {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #cccccc;
    border-radius: 10px; 
    background-color: #f3f3f3;
}

.CartaTotalAux {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #cccccc;
    border-radius: 10px; 
    background-color: #f3f3f3;
}

.Carta {
    width: 100%;
    height: 100%;
    border: 2px solid #cccccc;
    border-radius: 10px; 
    background-color: #f3f3f3;
}

.CartaPie {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #cccccc;
}

.ConfigGraficos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideToggle {
    background-color: #397c97;
    width: 120px;
    height: 32px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
}

.slideToggle::before {
    position: absolute;
    content: '';
    background-color: #ffffff;
    width: 27px;
    height: 27px;
    border-radius: 250px;
    margin: 2.1px 0 0 3.5px;
    transition: 0.5s;
}

input:checked + .slideToggle {
    background-color: #97394d;
}

input:checked + .slideToggle::before {
    transform: translateX(85px);
}

@media (max-width:767px) {
    .ContenedorSlideButton {
        display: inline;
        margin: 0 auto;
    }

    .ContenedorOpcionUno{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
   
    .ContenedorSlide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ContenedorOpcionDos{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .ConfigGraficos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow-x: auto;
        overflow-y: none;
    }

    .w-25 {
        width: 75% !important;
    }
}