/* .containerMain {
    background-image: linear-gradient(-225deg, #397c97 0%, #509dbd 51%, #30D2BE 100%);
    background-size: 1000% 1000%;
    animation: GradientAnimation 5s ease infinite;
}

@keyframes GradientAnimation {
    0%{background-position: 0 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0 50%}
} */

/* ::ng-deep .ngx-charts { 
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
} */

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.ContenedorOpcionUno{
    display: flex;
    justify-content: right;
    align-items: center;
}

.ContenedorSlide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContenedorOpcionDos{
    display: flex;
    justify-content: left;
    align-items: center;
}

.OpcionUno {
    color: #397c97;
    font-size: 40px;
    font-weight: bold;
    transition: 0.5s;
}

.OpcionUnoAfter { 
    color: #000000;
    font-size: 40px;
    font-weight: lighter;
    transition: 0.5s;
}

.OpcionDos {
    color: black;
    font-size: 40px;
    font-weight: lighter;
    transition: 0.5s;
}

.OpcionDosAfter {
    color: black;
    font-size: 40px;
    font-weight: bold;
    transition: 0.5s;
}

.CartaTotal {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #cccccc;
    border-radius: 10px; 
    background-color: #f3f3f3;
}

.Carta {
    width: 100%;
    border: 2px solid #cccccc;
    border-radius: 10px; 
    background-color: #f3f3f3;
}

.CartaPie {
    border-top: 2px solid #cccccc;
}

.slideToggle {
    background-color: #397c97;
    width: 120px;
    height: 32px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
}

.slideToggle::before {
    position: absolute;
    content: '';
    background-color: #ffffff;
    width: 27px;
    height: 27px;
    border-radius: 250px;
    margin: 2.1px 0 0 3.5px;
    transition: 0.5s;
}

input:checked + .slideToggle {
    background-color: #20096d;
}

input:checked + .slideToggle::before {
    transform: translateX(85px);
}

@media (max-width:600px) {
    .ContenedorOpcionUno{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ContenedorSlide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ContenedorOpcionDos{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}