<div class="Fondo">
    <br><br>
    <div class="container bg-white">
        <h1>Administrador ultima milla</h1>
        <div class="row">

            <div class="row mt-2 justify-content-center">
                <div class="col-sm-12">
                    <div id="map" class="ShowMap"></div>
                </div>
            </div>

            <hr>
            <h1 class="TextLeft">Información de compra seleccionada</h1>

            <div class="col-sm-6">
                <div class="TargetaSeleccionar">

                </div>
            </div>
        </div>
    </div>
</div>