<div class="Fondo">
    <br><br>
    <div class="container bg-white">
        <h1>Administrador ultima milla</h1>
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <ng-autocomplete [data]="DataOfertas" [searchKeyword]="KeywordOferta" placeholder="Codigo oferta"
                    (inputCleared)="LimpiaOfert('0')" (selected)='selectOfer($event)' [itemTemplate]="templateOferta"
                    [notFoundTemplate]="templateVacioOferta">
                </ng-autocomplete>
                <ng-template #templateOferta let-item>
                    <a [innerHTML]="item.CD_CNSCTVO + ' - ' + item.Nombre_Producto"></a>
                </ng-template>
                <ng-template #templateVacioOferta let-SinRegistro>
                    <label for="">Sin registros</label>
                </ng-template>
            </div>


            <div class="col-sm-6">
                <ng-autocomplete [disabled]="SelectOferta == '0'" [data]="DataSectores" [searchKeyword]="keywordSec"
                    placeholder="Sector" (inputCleared)="LimpiaSector('0')" (selected)='selectSector($event)'
                    [itemTemplate]="templateSec" [notFoundTemplate]="templateVacio" [(ngModel)]="Sector">
                </ng-autocomplete>
                <ng-template #templateSec let-item>
                    <a [innerHTML]="item.DSCRPCION_SCTOR"></a>
                </ng-template>
                <ng-template #templateVacio let-SinRegistro>
                    <label for="">Sin registros</label>
                </ng-template>
            </div>


            <div class="col-sm-10" *ngIf="VerTargetaGeneral == true">
                <div class="p-2">
                    <div class="m-1 row tarjetadetallehistorial">
                        <div class="col-sm-4 p-0">
                            <img src="{{UrlImagenes}}{{ArrayTargeneral[0].IMAGEN}}" class="imgTartejaDos" />
                        </div>
                        <div class="col-sm-8">
                            <div class="row justify-content-center ">
                                <div class="col-sm-11  text-center">
                                    <h6 class="Llave CentrarText textMay">{{ArrayTargeneral[0].Nombre_Producto}} -
                                        {{ArrayTargeneral[0].Descripcion_empaque}}</h6>
                                </div>
                            </div>
                            <hr class="hrSinEstilo">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="ValorIDOfer lblSmall"><strong>Codigo Oferta -
                                            {{ArrayTargeneral[0].CD_CNSCTVO}}</strong></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave lblSmall">Presentación empaque:&nbsp;</label><label
                                        class="Valor lblSmall">{{ArrayTargeneral[0].Descripcion_empaque}} Kilos</label>
                                </div>
                            </div>
                            <div class="row" *ngIf="ArrayTargeneral[0].DescToppings != null">
                                <div class="col-sm-12">
                                    <label class="Llave lblSmall">Adiciones:&nbsp;</label><br><label
                                        class="Valor lblSmall" [innerHTML]="ArrayTargeneral[0].DescToppings"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave lblSmall">Dirección Bodega:&nbsp;</label><label
                                        class="Valor lblSmall">{{ArrayTargeneral[0].DireccionBodega}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave lblSmall">Caracterización:&nbsp;</label><label
                                        class="Valor lblSmall">{{ArrayTargeneral[0].caracterizacion}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave lblSmall">Descripción:&nbsp;</label><label
                                        class="Valor lblSmall">{{ArrayTargeneral[0].descripcion}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--
            <div class="col-sm-2 mt-4 CentrarText" *ngIf="VerTargetaGeneral == true">
                <label class="Llave">¿Crear nueva ruta?</label>
                <button class="SinEstilo" (click)="CrearRuta()">
                    <img class="ImgAgrgar" src="../../../../assets/ImagenesAgroApoya2Adm/ic_nuevaruta.png" />
                </button>
            </div>-->





            <div class="col-12">
                <div id="map" [ngClass]="VerTargetaGeneral==true ? 'ShowMap' : 'HideMap' "></div>
            </div>




            <h1 class="TextLeft mt-3" *ngIf="SelectPin == true">Información de compra seleccionada</h1>

            <div class="row justify-content-center mb-5" *ngIf="SelectPin == true">


                <div class="col-sm-5 p-3 tarjetadetalle">
                    <div class="CentrarText bagroundTituloTargSelect">
                        <label class="Llave lblSmall textcolor w-100">{{ArrayTargeneral[0].Nombre_Producto}}</label>
                    </div>

                    <div >
                        <label class="Llave lblSmall">Nombre Cliente:&nbsp;</label><label
                            class="Valor lblSmall">{{NombreCliente}}</label>
                    </div>


                    <div >
                        <label class="Llave lblSmall">Cantidad:&nbsp;</label><label
                            class="Valor lblSmall">{{CantidadCompraCliente}}</label>
                    </div>

                    <div  *ngIf="AdicionalesSelectPin != 'null' ">
                        <label class="Llave lblSmall">Adicionales:&nbsp;</label>
                        <label class="Valor lblSmall" [innerHTML]="AdicionalesSelectPin"></label>
                    </div>






                    <div class="col-sm-12">
                        <label class="Llave lblSmall">Dirección Entrega:&nbsp;</label><label
                            class="Valor lblSmall">{{ArrayEntregas[0].DireccionEntrega}}</label>
                    </div>

                    <div class="col-sm-12">
                        <label class="Llave lblSmall">Presentación empaque:&nbsp;</label><label
                            class="Valor lblSmall">{{ArrayTargeneral[0].Descripcion_empaque}}</label>
                    </div>
                </div>

                <div class="col-sm-2 mt-4 CentrarText" *ngIf="VerBtnAgregarGrupo == true">
                    <label class="Llave">¿Agregar entrega a una ruta?</label>

                    <button class="SinEstilo" (click)="AbreModalGrupos(ModalRutasUltMilla)">
                        <img class="ImgAgrgar"
                            src=".../../../../../../../assets/ImagenesAgroApoya2Adm/agregarEntrega.png" />
                    </button>
                </div>
            </div>
            <div class="row justify-content-center TarEntrega p-1" *ngIf="verGrupo == true">
                <!--
                <label class="Llave lblSmall col-12 mt-2 p-2">La entrega tiene un peso promedio de {{AcumPeso}}
                    Kilogramos&nbsp;</label>-->



                <div class="col-sm-9 p-3 mt-2  mb-4 Parada tarjetadetalle"
                    *ngFor="let grup of ArrayGrupos; let p = index">
                    <div class="row sinmp">
                        <div class="col-sm-4 mt-2 mb-2">
                            <label class="Llave lblSmall">Nombre de
                                grupo:&nbsp;{{grup.NombreGrupo}}</label>
                        </div>
                        <div class="col-sm-8 row mt-2 mb-2">
                            <div class="col-sm-5">
                                <label class="Llave lblSmall">Su precio sugerido es de:</label>
                            </div>
                            <div class="col-sm-3 TextRight">
                                <input type="text" mask="separator" thousandSeparator=","
                                    class="form-control form-control-sm inputValor" placeholder="Valor contra oferta"
                                    required="required" [(ngModel)]="grup.ValorTransporte">
                            </div>
                            <div class="col-sm-4 StileImgRuta">
                                <button class="SinEstilo" title="Actualizar precio"
                                    (click)="AbreModalConfirmacion(Modalquitacompra,grup)">
                                    <img src=".../../../../../../../assets/ImagenesAgroApoya2Adm/ic_guardar.png">
                                </button>
                                <button class="SinEstilo" title="Información"
                                    (click)="AbreModalInfoUber(ModalDetaUber)">
                                    <img src=".../../../../../../../assets/ImagenesAgroApoya2Adm/alert.png">
                                </button>
                                <!--<button class="SinEstilo" title="Eminiar grupo"
                                    (click)="ConfirmacionElimRuta(Modalquitacompra, grup)">
                                    <img src=".../../../../../../../assets/ImagenesAgroApoya2Adm/cancel.png">
                                </button>-->
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center sinmp" *ngFor="let part of ArrayPartGrupos; let i = index">


                        <div class="row Parada justify-content-center" style="padding: 0;"
                            *ngIf="grup.IdGrupo == part.GrupoMilla">
                            <div class="col-12 bagroundTituloTargSelect CentrarText" style="padding: 0;">
                                <label class="Llave lblSmall textcolor">{{ArrayTargeneral[0].Nombre_Producto}} -
                                    {{part.UndProd}}</label>
                            </div>

                            <div class="row Parada">
                                <div class="col-sm-1">
                                    <label class="Llave lblSmall">{{i+1}}</label>
                                </div>
                                <div class="col-sm-8">
                                    <label class="Llave lblSmall">{{part.NombreCliente}}</label>
                                </div>

                                <div class="col-sm-3 TextRight">
                                    <!--<button class="SinEstilo" title="Eliminar"
                                        (click)="AbreModalEliminaDeGrupo(Modalquitacompra, part)">
                                        <img src=".../../../../../../../assets/ImagenesAgroApoya2Adm/basura.png">
                                    </button>-->

                                    <button class="SinEstilo" title="Detalle"
                                        (click)="DetalleCompra(ModalDetalleCompra, part)">
                                        <img src=".../../../../../../../assets/ImagenesAgroApoya2Adm/ver.png">
                                    </button>
                                </div>
                            </div>
                            <hr class="mt-1" *ngIf="i + 1 != ArrayPartGrupos.length">

                        </div>
                    </div>


                </div>
                <div class="col-sm-4 mt-2 mb-2" *ngIf="VerTargetaGeneral==true">
                    <button type="button" class="btn btn-agro-prin w-100" (click)="PublicarRuta()">Publicar</button>
                </div>
            </div>
        </div>
    </div>
</div>



<ng-template #Modalquitacompra let-modal>
    <div class="modal-header">
        <h1>AgroApoya2 Admin</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row br justify-content-center">
            <h6 class="CentrarText">{{MesajeModal}}</h6>

            <div class="row">
                <div class="col-sm-6 mt-2" (click)="OpcionModalConfirm(banderaModalConfirmacion)">
                    <label
                        class="col-sm-12 Llave lblSmall p-1 mt-2 bagroundTituloTargSelect btnEliminar">Aceptar</label>
                </div>

                <div class="col-sm-6 mt-2" (click)="modal.dismiss()">
                    <label
                        class="col-sm-12 Llave lblSmall p-1 mt-2 bagroundTituloTargSelect btnEliminar">Cancelar</label>
                </div>
            </div>
        </div>
    </div>
    <br>
</ng-template>



<ng-template #ModalRutasUltMilla let-modal>
    <div class="modal-header">
        <h1>AgroApoya2 Admin</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row br justify-content-center">
            <h6 class="CentrarText">Estos son las rutas a las cuales le puedes asignar la entrega</h6>

            <div class="RutasUltimMilla row mt-2" *ngFor="let group of ArrayGrupos; let i = index">
                <div class="row bagroundTituloTargSelect sinmp" *ngIf="i == 0">
                    <div class="col-sm-1 ">
                        <label class="Llave lblSmall textcolor">Ruta</label>
                    </div>
                    <div class="col-sm-5">
                        <label class="Llave lblSmall textcolor">Grupo</label>
                    </div>
                    <div class="col-sm-4 sinmp">
                        <label class="Llave lblSmall textcolor">Valor transporte</label>
                    </div>
                    <div class="col-sm-2 sinmp">
                        <label class="Llave lblSmall textcolor">Agregar?</label>
                    </div>
                </div>

                <div class="col-sm-1">
                    <label class="Llave lblSmall">{{i+1}}</label>
                </div>
                <div class="col-sm-5">
                    <label class="Llave lblSmall">{{group.NombreGrupo}}</label>
                </div>
                <div class="col-sm-4">
                    <label class="Llave lblSmall">{{group.ValorTransporte | currency}}</label>
                </div>
                <div class="col-sm-2">
                    <button class="SinEstilo" title="Agregar a ruta" (click)="AgregaComprasAruta(group)">
                        <img src=".../../../../../../../assets/ImagenesAgroApoya2Adm/mas.png">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br>
</ng-template>



<ng-template #ModalDetalleCompra let-modal>
    <div class="modal-header">
        <h1>AgroApoya2 Admin</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <h2>Detalle de compra</h2>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <label class="Llave lblSmall">Ruta milla:&nbsp;</label><label
                    class="Valor lblSmall">{{ArrayDetalleEntrega.NombreGrupoMilla}}</label>
            </div>

            <div class="col-sm-6">
                <label class="Llave lblSmall">Tipo de compra:&nbsp;</label><label
                    class="Valor lblSmall">{{ArrayDetalleEntrega.DesTipoUsuCompra}}</label>
            </div>

            <div class="col-sm-6">
                <label class="Llave lblSmall">Cliente:&nbsp;</label><label
                    class="Valor lblSmall">{{ArrayDetalleEntrega.NombreCliente}}</label>
            </div>

            <div class="col-sm-6">
                <label class="Llave lblSmall">Telefono:&nbsp;</label><label
                    class="Valor lblSmall">{{ArrayDetalleEntrega.Telefono}}</label>
            </div>
            <div class="col-sm-6">
                <label class="Llave lblSmall">Unidades:&nbsp;</label><label
                    class="Valor lblSmall">{{ArrayDetalleEntrega.UndProd}}&nbsp;Unidad(es)</label>
            </div>



            <div class="col-sm-12" *ngIf="ArrayDetalleEntrega.DescToppings != null">
                <label class="Llave lblSmall">Adicionales:&nbsp;</label><label
                    class="Valor lblSmall">{{ArrayDetalleEntrega.DescToppings}}&nbsp;Unidad(es)</label>
            </div>
            <div class="col-sm-12">
                <label class="Llave lblSmall">Direccion:&nbsp;</label><label
                    class="Valor lblSmall">{{ArrayDetalleEntrega.DireccionEntrega}}&nbsp;</label>
            </div>
        </div>

        <div class="row justify-content-center mt-2 mb-2">
            <div class="col-sm-5">
                <button type="button" class="btn btn-agro-prin w-100" (click)="modal.close()">Aceptar</button>
            </div>
        </div>

    </div>
    <br>
</ng-template>


<ng-template #ModalDetaUber let-modal>
    <div class="modal-header">
        <h1>AgroApoya2 Admin</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6 CentrarText">
                <label class="Llave lblSmall">Valor por kilometro:&nbsp;</label><label
                    class="Valor lblSmall">{{ArrayInfoUber[0].ValorKm | currency}}</label>
            </div>

            <div class="col-sm-6 CentrarText">
                <label class="Llave lblSmall">Valor por kilogramo:&nbsp;</label><label
                    class="Valor lblSmall">{{ArrayInfoUber[0].ValorKilo | currency}}</label>
            </div>

            <div class="col-sm-12 CentrarText">
                <label class="Llave lblSmall">Valor descarga:&nbsp;</label><label
                    class="Valor lblSmall">{{ArrayInfoUber[0].ValorDescarga | currency}}</label>
            </div>

        </div>

        <div class="row justify-content-center mt-2 mb-2">
            <div class="col-sm-5">
                <button type="button" class="btn btn-agro-prin w-100" (click)="modal.close()">Aceptar</button>
            </div>
        </div>
    </div>
    <br>
</ng-template>


<ng-template #ModalMensaje let-modal>
    <div class="modal-header">
        <h1>AgroApoya2 Admin</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <h6 class="CentrarText">{{MesajeModal}}</h6>
        </div>

        <div class="row justify-content-center mt-2 mb-2">
            <div class="col-sm-5">
                <button type="button" class="btn btn-agro-prin w-100" (click)="modal.close()">Aceptar</button>
            </div>
        </div>
    </div>
    <br>
</ng-template>