<form class="Fondo">
    <br><br>
    <div class="container bg-white">
        <h1 class="br">Buscar Oferta</h1>
        <div class="row justify-content-center">
            <img src="./../../../../../assets/ImagenesAgroApoya2Admin/barra1.png" style="width: 65%;">
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4 br">
                <ng-autocomplete [data]="ArrayProductos" [searchKeyword]="producto" placeholder="Producto"
                    (selected)='selectProducto($event)' [itemTemplate]="templateRes" [notFoundTemplate]="templateVacio">
                </ng-autocomplete>

                <ng-template #templateRes let-item id="templateRes">
                    <a [innerHTML]="item.des_producto"></a>
                </ng-template>

                <ng-template #templateVacio let-SinRegistro>
                    <label for="">Sin registros</label>
                </ng-template>
            </div>

            <div class="col-sm-4 br">
                <ng-autocomplete [data]="ArrayProductor" [searchKeyword]="productor" placeholder="Productor"
                    (selected)='selectProductor($event)' [itemTemplate]="templateResPr"
                    [notFoundTemplate]="templateVacioPr">
                </ng-autocomplete>

                <ng-template #templateResPr let-item id="templateResPr">
                    <a [innerHTML]="item.nombre_persona"></a>
                </ng-template>

                <ng-template #templateVacioPr let-SinRegistro>
                    <label for="">Sin registros</label>
                </ng-template>
            </div>
            <div class="col-sm-4 br">
                <ng-autocomplete [data]="ArrayEstado" [searchKeyword]="estado" placeholder="Estado"
                    (selected)='selectEstado($event)' [itemTemplate]="templateResEs"
                    [notFoundTemplate]="templateVacioPr">
                </ng-autocomplete>

                <ng-template #templateResEs let-item id="templateResEs">
                    <a [innerHTML]="item.DSCRPCION_ESTADO"></a>
                </ng-template>

                <ng-template #templateVacioEs let-SinRegistro>
                    <label for="">Sin registros</label>
                </ng-template>
            </div>

        </div>
        <div class="row br">
            <div class="col-sm-4 br">
                <input placeholder="Fecha oferta" type="text" class="form-control form-control-sm textBox"
                    onfocus="(this.type='date')" onblur="(this.type='date')" [(ngModel)]="FechaOferta"
                    name="FechaOferta">
            </div>
        </div>
        <div class="row br justify-content-center mt-3">
            <div class="col-sm-3 col-12 br">
                <button class="col-sm-12 btn btn-agro-prin" (click)="Buscar(templateBuscar)">Buscar</button>
            </div>
            <div class="col-sm-3 col-12 br">
                <button class="col-sm-12 btn btn-agro-sec" (click)="Limpiar()">Limpiar</button>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center" *ngIf="ValidaBusqueda == '1'">
            <div class="col-sm-11 tarjetadetalle">
                <div class="row">
                    <div class="col-sm-3" style="padding-top: 5%;">
                        <img src="./../../../../../assets/ImagenesAgroApoya2Admin/papapastusa.png" class="col-sm-12">
                    </div>
                    <div class="col-sm-9">
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="Llave">Nombre productor:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="Valor">{{NombreProductor}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="Llave">Producto:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="Valor">{{DesProducto}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="Llave">Tamaño:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="Valor">{{Tamano}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="Llave">Presentacion empaque:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="Valor">{{Presentacion}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="Llave">Descripción producto:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="Valor">{{Descripcion}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="Llave">Caracterización:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="Valor">{{Caracterizacion}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="Llave">Valor unidad empaque:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="Valor">{{ValorUnidad}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="Llave">Unidades disponibles:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="Valor">{{Unidades}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="Llave">Fecha recogida:</label>
                            </div>
                            <div class="col-sm-2">
                                <label class="Valor">{{FechaRecogida}}</label>
                            </div>
                            <div class="col-sm-1">
                                <label class="Llave">Jornada:</label>
                            </div>
                            <div class="col-sm-3">
                                <label class="Valor">{{Jornada}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="Llave">Direccion o coordenadas:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="Valor">{{Direccion}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="Llave">Valor total oferta:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="Valor">{{ValorTotal}}</label>
                            </div>
                        </div>
                        <br>
                    </div>

                    <hr>
                    <div class="row justify-content-center">
                        <div class="col-sm-1">
                            <button class="SinEstilo" (click)="EditaOferta(templateEditar)">
                                <img src="./../../../../../assets/ImagenesAgroApoya2Admin/Editar.png"
                                    title="Editar oferta">
                            </button>
                            <label>Editar</label>
                        </div>
                        <div class="col-sm-1">
                            <button class="SinEstilo" (click)="CerrarOferta(templateCerrar)">
                                <img src="./../../../../../assets/ImagenesAgroApoya2Admin/Cerrar.png"
                                    title="Cerrar oferta">
                            </button>
                            <label>Cerrar</label>
                        </div>
                        <div class="col-sm-1">
                            <button class="SinEstilo" disabled>
                                <img src="./../../../../../assets/ImagenesAgroApoya2Admin/EstadoP.png"
                                    title="Estado oferta">
                            </button>
                            <label>Estado</label>
                        </div>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="row br justify-content-center mt-3" *ngIf="ValidaBusqueda == '1'">
            <div class="col-sm-3 col-12 br">
                <button class="col-sm-12 btn btn-agro-prin" (click)="Enviar()">Siguiente</button>
            </div>
        </div>
        <br><br>
    </div>
    <ng-template #templateEditar let-modal>
        <div class="modal-header">
            <h1 class="modal-title" id="modal-basic-title">Editar oferta</h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            <div class="row br">
                <div class="col-sm-12">
                    <textarea name="ECaracteriza" id="ECaracteriza" class="col-sm-12 form-control form-control-sm textArea"
                        placeholder="Caracterización" rows="3" [(ngModel)]="ECaracteriza"></textarea>
                </div>
            </div>
            <div class="row br">
                <div class="col-sm-12">
                    <input type="text" class="col-sm-12 form-control form-control-sm textBox" placeholder="Fecha recogida"
                        onfocus="(this.type='date')" onblur="(this.type='date')" [(ngModel)]="EFechaRecogida" name="EFechaRecogida">
                </div>
            </div>
            <div class="row br">
                <div class="col-sm-12">
                    <select name="EJornada" id="EJornada" #ejornada class="form-control form-control-sm textBox"
                    (change)='SelEJornada(ejornada.value)'>
                        <option value="1">Jornada</option>
                        <option *ngFor="let jornada of ArrayJornada" [value]="jornada.CD_JRNDA" >
                            {{jornada.DESCRIPCION}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-agro-prin col-sm-2" (click)="AceptaEditar()">Guardar</button>
        </div>
        <br>
    </ng-template>
    <ng-template #templateCerrar let-modal>
        <div class="modal-header">
            <h1 class="modal-title" id="modal-basic-title">Cerrar oferta</h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            <div class="row br">
                <div class="col-sm-12">
                    <textarea [(ngModel)]="mcObservacion" name="mcObservacion" id="mcObservacion"
                        class="Col-sm-12 form-control form-control-sm textArea" placeholder="Observación" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-agro-prin col-sm-2" (click)="AceptaCerrar()">Guardar</button>
        </div>
        <br>
    </ng-template>
    <!-- Template Modal Buscar-->
    <ng-template #templateBuscar let-modal>
        <div class="modal-header">
            <h1 class="modal-title" id="modal-basic-title">Selecciona oferta</h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="moda-body">
            <ul>
                <li *ngFor="let seleccion of ArrayBusqueda" class="row br">
                    <div class="col-sm-10">
                        <input type="text"
                            value="{{seleccion.Producto}} - {{seleccion.Empaque}} - {{seleccion.NombreCompletoProductor}} - {{seleccion.VigenciaDesde}}"
                            class="form-control" disabled>
                    </div>
                    <div class="col-sm-1">
                        <button class="bot col-sm-1 SinEstilo" (click)="CargaBusqueda(seleccion)">
                            <img src="./../../../../../assets/ImagenesAgroApoya2Admin/Editar.png" alt="Ver">
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </ng-template>
</form>