<form class="Fondo">
    <br><br>
    <div class="container bg-white">
        <h1 class="br">Buscar Oferta</h1>
        <div class="row justify-content-center">
            <img src="./../../../../../assets/ImagenesAgroApoya2Adm/barra1.png" style="width: 65%;">
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4 br">
                <ng-autocomplete [data]="ArrayProductos" [searchKeyword]="producto" placeholder="Producto" (selected)='selectProducto($event)' (inputCleared)="LimpiarCampos('pd')" [itemTemplate]="templateRes" [notFoundTemplate]="templateVacio">
                </ng-autocomplete>

                <ng-template #templateRes let-item id="templateRes">
                    <a [innerHTML]="item.des_producto"></a>
                </ng-template>

                <ng-template #templateVacio let-SinRegistro>
                    <label for="">Sin registros</label>
                </ng-template>
            </div>

            <div class="col-sm-4 br">
                <ng-autocomplete [data]="ArrayProductor" [searchKeyword]="productor" placeholder="Productor" (selected)='selectProductor($event)' (inputCleared)="LimpiarCampos('pt')" [itemTemplate]="templateResPr" [notFoundTemplate]="templateVacioPr">
                </ng-autocomplete>

                <ng-template #templateResPr let-item id="templateResPr">
                    <a [innerHTML]="item.nombre_persona"></a>
                </ng-template>

                <ng-template #templateVacioPr let-SinRegistro>
                    <label for="">Sin registros</label>
                </ng-template>
            </div>
            <div class="col-sm-4 br">
                <ng-autocomplete [data]="ArrayEstado" [searchKeyword]="estado" placeholder="Estado" (selected)='selectEstado($event)' (inputCleared)="LimpiarCampos('es')" [itemTemplate]="templateResEs" [notFoundTemplate]="templateVacioPr">
                </ng-autocomplete>

                <ng-template #templateResEs let-item id="templateResEs">
                    <a [innerHTML]="item.DSCRPCION_ESTADO"></a>
                </ng-template>

                <ng-template #templateVacioEs let-SinRegistro>
                    <label for="">Sin registros</label>
                </ng-template>
            </div>

        </div>
        <div class="row br">
            <div class="col-sm-4 br">
                <input placeholder="Fecha oferta" type="text" class="form-control form-control-sm textBox" onfocus="(this.type='date')" onblur="(this.type='date')" [(ngModel)]="FechaOferta" name="FechaOferta">
            </div>
            <div class="col-sm-4 br">
                <input placeholder="Número oferta" type="text" class="form-control form-control-sm textBox" [(ngModel)]="NoOferta" name="NoOferta">
            </div>
        </div>
        <div class="row br justify-content-center mt-3">
            <div class="col-sm-3 col-12 br">
                <button class="col-sm-12 btn btn-agro-prin" (click)="Buscar(templateBuscar)">Buscar</button>
            </div>
            <div class="col-sm-3 col-12 br">
                <button class="col-sm-12 btn btn-agro-sec" (click)="Limpiar()">Limpiar</button>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center br tarjetadetalle" *ngFor="let oferta of ArrayOferta">
            <div class="row m-2">
                <div class="col-sm-3">
                    <img src={{RutaImagen+oferta.IMAGEN}} class="col-sm-12 ImgOferta">
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave TextMay">Codigo oferta:&nbsp;</label><label class="ValorIDOfer"><strong>{{oferta.COD_OFR_PUBLICO}}</strong></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Producto:&nbsp;</label><label class="Valor">{{oferta.Nombre_Producto}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Presentación empaque:&nbsp;</label><label class="Valor">{{oferta.Descripcion_empaque}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Tamaño:&nbsp;</label><label class="Valor">{{oferta.Nmbre_tamano}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Condición entrega:&nbsp;</label> <label class="Valor">{{oferta.Condicion_entrega}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Valor unidad:&nbsp;</label><label class="Valor">{{oferta.valor_unidad_formato}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Unidades disponibles:&nbsp;</label><label class="Valor">{{oferta.Unidades_disponibles}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="Llave">Valor total oferta:&nbsp;</label><label class="Valor">{{oferta.valor_Total_Ofr_formato}}</label>
                        </div>
                        <div class="col-sm-6">
                            <label class="Llave">Valor costeo:&nbsp;</label><label class="Valor">${{oferta.vlor_costeo}}</label>
                        </div>
                    </div>
                    <hr class="hrSinEstilo">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="Llave">Descripción producto:&nbsp;</label><label class="Valor">{{oferta.caracteristicas}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="Llave">Caracterización:&nbsp;</label><label class="Valor">{{oferta.caracterizacion}}</label>
                        </div>
                    </div>
                    <hr class="hrSinEstilo">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Fecha recogida:&nbsp;</label><label class="Valor">{{oferta.fecha_recogida}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Jornada:&nbsp;</label><label class="Valor">{{oferta.Nombre_jornada}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="Llave">Nombre productor:&nbsp;</label><label class="Valor">{{oferta.Nombre_productor}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Ubicación:&nbsp;</label><label class="Valor">{{oferta.Ubicacion_parsela +'
                                        ('+oferta.coordenadas_parcela}})</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Estado oferta:&nbsp;</label><label class="Valor">{{NomEstado}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row justify-content-center">
                <div class="col-sm-1" *ngIf="ValidaBusqueda == '1'">
                    <button class="SinEstilo" (click)="EditaOferta(templateEditar)">
                        <img class="BtnimgTamano" src="./../../../../../assets/ImagenesAgroApoya2Adm/Editar.png"
                            title="Editar oferta">
                    </button>
                    <label>Editar</label>
                </div>
                <div class="col-sm-1" *ngIf="ValidaBusqueda == '1' || ValidaBusqueda == '2'">
                    <button class="SinEstilo" (click)="CerrarOferta(templateCerrar)">
                        <img class="BtnimgTamano" src="./../../../../../assets/ImagenesAgroApoya2Adm/Cerrar.png"
                            title="Cerrar oferta">
                    </button>
                    <label>Cerrar</label>
                </div>
                <div class="col-sm-1">
                    <button class="SinEstilo" disabled>
                        <img class="BtnimgTamano" src={{ImagenEstado}} title={{EstadoOferta}}>
                    </button>
                    <label>Estado</label>
                </div>
                <div class="col-sm-1 click" (click)="AbrirPopuPResumen(ModalResumen, oferta)">
                    <button class="SinEstilo">
                        <img class="BtnimgTamano" src={{ImagenEstado}} title={{EstadoOferta}}>
                    </button>
                    <label>Resumen</label>
                </div>
            </div>
        </div>
        <div class="row br justify-content-center mt-3" *ngIf="ValidaBusqueda == '1'">
            <div class="col-sm-3 col-12 br">
                <button class="col-sm-12 btn btn-agro-prin" (click)="Enviar()">Siguiente</button>
            </div>
        </div>
        <br><br>
    </div>
    <ng-template #templateEditar let-modal>
        <div class="modal-header">
            <h1 class="modal-title" id="modal-basic-title">Editar oferta</h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            <div class="row br">
                <div class="col-sm-12">
                    <label class="col-sm-12 Llave">Caracterización</label>
                    <textarea name="ECaracteriza" id="ECaracteriza" class="col-sm-12 form-control form-control-sm textArea" placeholder="Caracterización" rows="3" [(ngModel)]="ECaracteriza"></textarea>
                </div>
            </div>
            <div class="row br">
                <div class="col-sm-12">
                    <label class="col-sm-12 Llave">Fecha Recogida</label>
                    <input type="date" class="col-sm-12 form-control form-control-sm textBox" placeholder="Fecha recogida" onfocus="(this.type='date')" onblur="(this.type='date')" [(ngModel)]="EFechaRecogida" name="EFechaRecogida">
                </div>
            </div>
            <div class="row br">
                <div class="col-sm-12">
                    <label class="col-sm-12 Llave">Jornada</label>
                    <select name="EJornada" id="EJornada" #ejornada class="form-control form-control-sm textBox" (change)='SelEJornada(ejornada.value)'>
                        <option value="1">Jornada</option>
                        <option *ngFor="let jornada of ArrayJornada" [value]="jornada.CD_JRNDA"
                            [selected]="jornada.CD_JRNDA == EJornada">
                            {{jornada.DESCRIPCION}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-agro-prin col-sm-2" (click)="AceptaEditar(ModalRespuesta)">Guardar</button>
        </div>
        <br>
    </ng-template>
    <ng-template #templateCerrar let-modal>
        <div class="modal-header">
            <h1 class="modal-title" id="modal-basic-title">Cerrar oferta</h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            <div class="row br">
                <div class="col-sm-12">
                    <textarea [(ngModel)]="mcObservacion" name="mcObservacion" id="mcObservacion" class="Col-sm-12 form-control form-control-sm textArea" placeholder="Observación" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-agro-prin col-sm-2" (click)="AceptaCerrar(ModalRespuesta)">Guardar</button>
        </div>
        <br>
    </ng-template>
    <!-- Template Modal Buscar-->
    <ng-template #templateBuscar let-modal>
        <div class="modal-header">
            <h1 class="modal-title" id="modal-basic-title">Selecciona oferta</h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="moda-body">
            <ul>
                <li *ngFor="let seleccion of ArrayBusqueda" class="row br">
                    <div class="col-sm-10">
                        <input type="text" value="{{seleccion.cd_cnsctvo}} - {{seleccion.Producto}} - {{seleccion.NombreCompletoProductor}} - {{seleccion.VigenciaDesde}}" class="form-control" disabled>
                    </div>
                    <div class="col-sm-1">
                        <button class="bot col-sm-1 SinEstilo" (click)="CargaBusqueda(seleccion)">
                            <img src="./../../../../../assets/ImagenesAgroApoya2Adm/Editar.png" alt="Ver">
                        </button>
                    </div>
                </li>
            </ul>
            <div class="row br">
                <div class="col-sm-12">
                    <h2 class="TituloDetalle">{{Respuesta}}</h2>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <button type="button" class="btn btn-agro-prin col-sm-2" (click)="modal.close()">Aceptar</button>
            </div>
            <br>
        </div>
    </ng-template>
    <ng-template #ModalRespuesta let-modal>
        <div class="modal-header">
            <h1>Respuesta</h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            <div class="row br">
                <div class="col-sm-12">
                    <h2 class="TituloDetalle">{{Respuesta}}</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-agro-prin col-sm-2" (click)="modal.close()">Aceptar</button>
        </div>
        <br>
    </ng-template>

    <ng-template #ModalResumen let-modal>
        <div class="modal-header">
            <h1>Resumen</h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            <!--Targeta-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="row justify-content-center tarjetadetalle" *ngFor="let oferta of ArrayOferta">
                        <div class="row m-2">
                            <div class="col-sm-3">
                                <img src={{RutaImagen+oferta.IMAGEN}} class="col-sm-12 ImgOferta">
                            </div>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="Llave TextMay">Codigo oferta:&nbsp;</label><label class="ValorIDOfer"><strong>{{oferta.COD_OFR_PUBLICO}}</strong></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="Llave">Producto:&nbsp;</label><label class="Valor">{{oferta.Nombre_Producto}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="Llave">Presentación empaque:&nbsp;</label><label class="Valor">{{oferta.Descripcion_empaque}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="Llave">Tamaño:&nbsp;</label><label class="Valor">{{oferta.Nmbre_tamano}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="Llave">Condición entrega:&nbsp;</label> <label class="Valor">{{oferta.Condicion_entrega}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="Llave">Valor unidad:&nbsp;</label><label class="Valor">{{oferta.valor_unidad_formato}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="Llave">Unidades disponibles:&nbsp;</label><label class="Valor">{{oferta.Unidades_disponibles}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="Llave">Valor total oferta:&nbsp;</label><label class="Valor">{{oferta.valor_Total_Ofr_formato}}</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="Llave">Valor costeo:&nbsp;</label><label class="Valor">${{oferta.vlor_costeo}}</label>
                                    </div>
                                </div>
                                <hr class="hrSinEstilo">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="Llave">Descripción producto:&nbsp;</label><label class="Valor">{{oferta.caracteristicas}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="Llave">Caracterización:&nbsp;</label><label class="Valor">{{oferta.caracterizacion}}</label>
                                    </div>
                                </div>
                                <hr class="hrSinEstilo">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="Llave">Fecha recogida:&nbsp;</label><label class="Valor">{{oferta.fecha_recogida}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="Llave">Jornada:&nbsp;</label><label class="Valor">{{oferta.Nombre_jornada}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="Llave">Nombre productor:&nbsp;</label><label class="Valor">{{oferta.Nombre_productor}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="Llave">Ubicación:&nbsp;</label><label class="Valor">{{oferta.Ubicacion_parsela +'
                                                    ('+oferta.coordenadas_parcela}})</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="Llave">Estado oferta:&nbsp;</label><label class="Valor">{{NomEstado}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngFor="let respu of ArrayResumenOferta">
                <!--Sectorización-->
                <div class="row br" *ngIf="respu.codigo == '1' && respu.registro > 0">
                    <h5 class="SubTituloForm">Sectorización</h5>
                </div>
                <div class="row br" *ngIf="respu.codigo == '1' && respu.registro > 0">
                    <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-three">
                        <ngb-panel title="Sectorización" id="config-panel-three">
                            <ng-template ngbPanelContent>
                                <div class="br row justify-content-center">
                                    <table class="col-sm-10 TableAgro">
                                        <tr>
                                            <th>Sector</th>
                                            <th>Cantidad</th>
                                            <th>Valor flete</th>
                                        </tr>
                                        <tr>
                                            <td>Prueba</td>
                                            <td>Prueba</td>
                                            <td>Prueba</td>
                                        </tr>
                                    </table>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
                <!--Asignación transportista-->
                <div class="row br" *ngIf="respu.codigo == '2' && respu.registro > 0">
                    <h5 class="SubTituloForm">Asignación transportista</h5>
                </div>
                <div class="row mt-1" *ngIf="respu.codigo == '2' && respu.registro > 0">
                    <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-three">
                        <ngb-panel title="Asignación transportista" id="config-panel-three">
                            <ng-template ngbPanelContent>
                                <div class="br row justify-content-center">
                                    <table class="col-sm-12 TableAgro">
                                        <tr>
                                            <th>Sector</th>
                                            <th>Cantidades</th>
                                            <th>Peso (kg)</th>
                                            <th>Conductor</th>
                                            <th>Valor flete registrado</th>
                                            <th>Valor transportista</th>
                                            <th>Estado</th>
                                        </tr>
                                        <tr>
                                            <td>Suba</td>
                                            <td>200</td>
                                            <td>50 KG</td>
                                            <td>Favio Enrique Bernal Gil
                                            </td>
                                            <td>50.000.00</td>
                                            <td>80.000.00</td>
                                            <td>Aceptado</td>
                                        </tr>
                                    </table>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
                <!--Costeo Oferta-->
                <div class="row br" *ngIf="respu.codigo == '3' && respu.registro > 0">
                    <h5 class="SubTituloForm">Costeo</h5>
                </div>
                <div class="row mt-1" *ngIf="respu.codigo == '3' && respu.registro > 0">
                    <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-three">
                        <ngb-panel title="Costeo Oferta" id="config-panel-three">
                            <ng-template ngbPanelContent>
                                <div class="br row justify-content-center">
                                    <table class="col-sm-10 TableAgro">
                                        <tr>
                                            <th>Concepto</th>
                                            <th>Tipo Valor</th>
                                            <th>Valor</th>
                                        </tr>
                                        <tr>
                                            <td>Lavada</td>
                                            <td>Unitario</td>
                                            <td>100.000.00</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="row justify-content-center br">
                                    <div class="col-sm-3"><label class="Llave">Valor total costeo:&nbsp;</label><label>$
                                            200.000.00</label>
                                    </div>
                                </div>
                                <hr>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>

                <!--Valoracion-->
                <div class="row br mt-5" *ngIf="respu.codigo == '4' && respu.registro > 0">
                    <h5 class="SubTituloForm">Valoración</h5>
                </div>
                <div class="row mt-1" *ngIf="respu.codigo == '4' && respu.registro > 0">
                    <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-three">
                        <ngb-panel title="Definición vigencia oferta" id="config-panel-three">
                            <ng-template ngbPanelContent>

                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave mb-1">Sector a valorar</label>
                                        <ng-autocomplete [data]="DataSectores" [searchKeyword]="keywordSec" (selected)='selectSector($event)' (inputCleared)='LimpiaSector()' placeholder="Sector" [itemTemplate]="templateSec" [notFoundTemplate]="templateVacio">
                                        </ng-autocomplete>
                                        <ng-template #templateSec let-item>
                                            <a [innerHTML]="item.DSCRPCION_SCTOR"></a>
                                        </ng-template>
                                        <ng-template #templateVacio let-SinRegistro>
                                            <label for="">Sin registros</label>
                                        </ng-template>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col-sm-12 Llave mb-1">Codigo sector</label>
                                        <label class="form-control textBox">{{CodigoOferSector}}</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col-sm-12 Llave mb-1">Flete negociado</label>
                                        <label class="form-control textBox">{{VlrFletSect}}</label>
                                    </div>
                                </div>


                                <div class="row br">
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave">Vigencia desde</label>
                                        <input type="date" class="col-sm-12 form-control mt-1 textBox" disabled>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave">Vigencia hasta</label>
                                        <input type="date" class="col-sm-12 form-control mt-1 textBox" disabled>
                                    </div>
                                </div>
                                <div class="row br">
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave">Fecha entrega</label>
                                        <input type="date" class="col-sm-12 form-control mt-1 textBox" disabled>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave">Fecha recogida</label>
                                        <input type="date" disabled class="col-sm-12 form-control mt-1 textBox" disabled>
                                    </div>
                                </div>
                                <div class="row br">
                                    <div class="col-sm-12">
                                        <label class="col-sm-12 Llave">Observaciones</label>
                                        <textarea class="col-sm-12 form-control mt-1 textArea" cols="30" rows="3" disabled></textarea>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
                <!--Definicion Ofertas-->
                <div class="row mt-1" *ngIf="respu.codigo == '4' && respu.registro > 0">
                    <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-three">
                        <!--Compra individual-->
                        <ngb-panel title="Compra individual" id="config-panel-three">
                            <ng-template ngbPanelContent>
                                <div class="row br">
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave mb-1">Tipo comisión</label>
                                        <input mask="separator" thousandSeparator="." type="text" class="col-sm-12 form-control mt-1 textBox">
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave">Valor comisión porcentaje</label>
                                        <input mask="separator" thousandSeparator="." type="text" class="col-sm-12 form-control mt-1 textBox" min="1" max="100">
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave">Valor comisión fija</label>
                                        <input mask="separator" thousandSeparator="." type="text" class="col-sm-12 form-control mt-1 textBox">
                                    </div>
                                </div>
                                <div class="row br">
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave">Minimo unidades</label>
                                        <input type="number" class="col-sm-12 form-control mt-1 textBox">
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave">Maximo unidades</label>
                                        <input type="number" class="col-sm-12 form-control mt-1 textBox">
                                    </div>
                                </div>
                                <div class="row br">
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave">Valor domicilio</label>
                                        <input mask="separator" thousandSeparator="." type="text" class="col-sm-12 form-control mt-1 textBox">
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave">Precio final (No incluye valor domicilio)</label>
                                        <input type="text" class="col-sm-12 form-control mt-1 textBox" value="{{100000 | currency}}" disabled="true">
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-panel>
                        <!--Compra grupal-->
                        <ngb-panel title="Compra grupal" id="config-panel-foor">
                            <ng-template ngbPanelContent>
                                <div class="row br">
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave mb-1">Tipo comisión</label>
                                        <input type="text" class="col-sm-12 form-control mt-1 textBox" disabled="true">
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave">Valor comisión porcentaje</label>
                                        <input type="number" class="col-sm-12 form-control mt-1 textBox" min="1" max="100">
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave">Valor comisión fija</label>
                                        <input mask="separator" thousandSeparator="." type="text" class="col-sm-12 form-control mt-1 textBox">
                                    </div>
                                </div>
                                <div class="row br">
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave">Minimo unidades lider</label>
                                        <input type="number" class="col-sm-12 form-control mt-1 textBox">
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave">Maximo unidades lider</label>
                                        <input type="number" class="col-sm-12 form-control mt-1 textBox">
                                    </div>
                                </div>
                                <div class="row br">
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave">Minimo unidades participante</label>
                                        <input type="number" class="col-sm-12 form-control mt-1 textBox">
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave">Maximo unidades participante</label>
                                        <input type="number" class="col-sm-12 form-control mt-1 textBox">
                                    </div>
                                </div>
                                <div class="row br">
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave">Valor domicilio</label>
                                        <input mask="separator" thousandSeparator="." type="text" class="col-sm-12 form-control mt-1 textBox">
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave">Porcentaje descuento lider</label>
                                        <input type="number" class="col-sm-12 form-control mt-1 textBox">
                                    </div>
                                </div>
                                <div class="row br">
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave">Cantidad de grupos</label>
                                        <input type="number" class="col-sm-12 form-control mt-1 textBox">
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave">Numero minimo de personas por grupo</label>
                                        <input type="number" class="col-sm-12 form-control mt-1 textBox">
                                    </div>
                                </div>
                                <div class="row br">
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave">Cantidad de compras individuales
                                            disponibles</label>
                                        <input type="number" class="col-sm-12 form-control mt-1 textBox">
                                    </div>
                                </div>
                                <div class="row br">
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave">Precio arranque lider</label>
                                        <input type="text" class="col-sm-12 form-control mt-1 textBox" value="{{100000 | currency}}" disabled="true">
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-12 Llave">Precio final participante</label>
                                        <input type="text" class="col-sm-12 form-control mt-1 textBox" value="{{200000 | currency}}" disabled="true">
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
                <!--Adicionales-->
                <div class="row mt-1" *ngIf="respu.codigo == '4' && respu.registro > 0">
                    <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-three">
                        <ngb-panel title="Adicionales" id="config-panel-three">
                            <ng-template ngbPanelContent>
                                <div class="row justify-content-center br">
                                    <table class="col-sm-12 TableAgro">
                                        <tr>
                                            <th>Descripción</th>
                                            <th>Valor unitario</th>
                                            <th>Tipo</th>
                                            <th>Unidades para oferta</th>
                                            <th>Maximo unidades por compra</th>
                                            <th>Acciones</th>
                                        </tr>
                                        <tr>
                                            <td>Prueba para validar la informacion</td>
                                            <td>$10,000.00</td>
                                            <td>Característica sobre el producto</td>
                                            <td>200</td>
                                            <td>1</td>
                                            <td>
                                                <button class="SinEstilo m-1" title="Imagen amparado">
                                                    <img src="./../../../../../assets/ImagenesAgroApoya2Adm/imagen.png">
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6">Okay</td>
                                        </tr>
                                    </table>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
                <!--Fin Valoracion-->





                <!--Costeo Oferta-->
                <div class="row br" *ngIf="respu.codigo == '5' && respu.registro > 0">
                    <h5 class="SubTituloForm">Trazabilidad</h5>
                </div>
                <div class="row mt-1" *ngIf="respu.codigo == '5' && respu.registro > 0">
                    <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-three">

                        <ngb-panel title="Costeo Oferta" id="config-panel-three">
                            <ng-template ngbPanelContent>
                                <div class="br row justify-content-center">
                                    Fechas etc
                                </div>
                            </ng-template>
                        </ngb-panel>
                        <!--Compra individual-->

                        <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-three">
                            <ngb-panel title="Compra individual" id="config-panel-three">
                                <ng-template ngbPanelContent>
                                    <div class="row br">
                                        <div class="col-sm-6">
                                            <label class="col-sm-12 Llave mb-1">Tipo comisión</label>
                                            <input mask="separator" thousandSeparator="." type="text" class="col-sm-12 form-control mt-1 textBox">
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="col-sm-12 Llave">Valor comisión porcentaje</label>
                                            <input mask="separator" thousandSeparator="." type="text" class="col-sm-12 form-control mt-1 textBox" min="1" max="100">
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="col-sm-12 Llave">Valor comisión fija</label>
                                            <input mask="separator" thousandSeparator="." type="text" class="col-sm-12 form-control mt-1 textBox">
                                        </div>
                                    </div>
                                    <div class="row br">
                                        <div class="col-sm-6">
                                            <label class="col-sm-12 Llave">Minimo unidades</label>
                                            <input type="number" class="col-sm-12 form-control mt-1 textBox">
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="col-sm-12 Llave">Maximo unidades</label>
                                            <input type="number" class="col-sm-12 form-control mt-1 textBox">
                                        </div>
                                    </div>
                                    <div class="row br">
                                        <div class="col-sm-6">
                                            <label class="col-sm-12 Llave">Valor domicilio</label>
                                            <input mask="separator" thousandSeparator="." type="text" class="col-sm-12 form-control mt-1 textBox">
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="col-sm-12 Llave">Precio final (No incluye valor domicilio)</label>
                                            <input type="text" class="col-sm-12 form-control mt-1 textBox" value="{{100000 | currency}}" disabled="true">
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>

                        <!--Compra grupal-->
                        <ngb-panel title="Costeo Oferta" id="config-panel-three">
                            <ng-template ngbPanelContent>
                                <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-three">
                                    <ngb-panel title="Compra grupal" id="config-panel-foor">
                                        <ng-template ngbPanelContent>
                                            <div class="row br">
                                                <div class="col-sm-6">
                                                    <label class="col-sm-12 Llave mb-1">Tipo comisión</label>
                                                    <input type="text" class="col-sm-12 form-control mt-1 textBox" disabled="true">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="col-sm-12 Llave">Valor comisión porcentaje</label>
                                                    <input type="number" class="col-sm-12 form-control mt-1 textBox" min="1" max="100">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="col-sm-12 Llave">Valor comisión fija</label>
                                                    <input mask="separator" thousandSeparator="." type="text" class="col-sm-12 form-control mt-1 textBox">
                                                </div>
                                            </div>
                                            <div class="row br">
                                                <div class="col-sm-6">
                                                    <label class="col-sm-12 Llave">Minimo unidades lider</label>
                                                    <input type="number" class="col-sm-12 form-control mt-1 textBox">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="col-sm-12 Llave">Maximo unidades lider</label>
                                                    <input type="number" class="col-sm-12 form-control mt-1 textBox">
                                                </div>
                                            </div>
                                            <div class="row br">
                                                <div class="col-sm-6">
                                                    <label class="col-sm-12 Llave">Minimo unidades participante</label>
                                                    <input type="number" class="col-sm-12 form-control mt-1 textBox">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="col-sm-12 Llave">Maximo unidades participante</label>
                                                    <input type="number" class="col-sm-12 form-control mt-1 textBox">
                                                </div>
                                            </div>
                                            <div class="row br">
                                                <div class="col-sm-6">
                                                    <label class="col-sm-12 Llave">Valor domicilio</label>
                                                    <input mask="separator" thousandSeparator="." type="text" class="col-sm-12 form-control mt-1 textBox">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="col-sm-12 Llave">Porcentaje descuento lider</label>
                                                    <input type="number" class="col-sm-12 form-control mt-1 textBox">
                                                </div>
                                            </div>
                                            <div class="row br">
                                                <div class="col-sm-6">
                                                    <label class="col-sm-12 Llave">Cantidad de grupos</label>
                                                    <input type="number" class="col-sm-12 form-control mt-1 textBox">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="col-sm-12 Llave">Numero minimo de personas por grupo</label>
                                                    <input type="number" class="col-sm-12 form-control mt-1 textBox">
                                                </div>
                                            </div>
                                            <div class="row br">
                                                <div class="col-sm-6">
                                                    <label class="col-sm-12 Llave">Cantidad de compras individuales
                                                        disponibles</label>
                                                    <input type="number" class="col-sm-12 form-control mt-1 textBox">
                                                </div>
                                            </div>
                                            <div class="row br">
                                                <div class="col-sm-6">
                                                    <label class="col-sm-12 Llave">Precio arranque lider</label>
                                                    <input type="text" class="col-sm-12 form-control mt-1 textBox" value="{{100000 | currency}}" disabled="true">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="col-sm-12 Llave">Precio final participante</label>
                                                    <input type="text" class="col-sm-12 form-control mt-1 textBox" value="{{200000 | currency}}" disabled="true">
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
            </div>
        </div>







        <div class="row justify-content-center">
            <button type="button" class="btn btn-agro-prin col-sm-2" (click)="modal.close()">Aceptar</button>
        </div>
        <br>
    </ng-template>
</form>