<div class="bg-white mt-4 sinmp row">
    <h1>Administrador ultima milla</h1>
    <div class="mt-1">
        <ngb-accordion #acc="ngbAccordion">
            <ngb-panel title="Administración" id="config-panel-one">
                <ng-template ngbPanelContent>
                    <div class="row justify-content-center" *ngIf="IdEstadoProceso == '0'">
                        <div class="col-sm-4 mt-2 mb-2">
                            <button type="button" class="btn btn-agro-prin w-100"
                                (click)="SeleccionaTransporte(templateTransportes)">Editar transporte</button>
                        </div>
                        <div class="col-sm-4 mt-2 mb-2">
                            <button type="button" class="btn btn-agro-prin w-100"
                                (click)="CambioEstadoProceso()">Generar rutas automaticas</button>
                        </div>

                        <div class="col-sm-5 mt-2 mb-2">
                            <button type="button" class="btn btn-agro-prin w-100"
                                (click)="CambiaEstadoProcesoManual()">Generar rutas manuales</button>
                        </div>
                    </div>
                    <div class="row justify-content-center" *ngIf="IdEstadoProceso == '1' || IdEstadoProceso == '2'">
                        <table class="col-sm-11 TableAgro ">
                            <tr>
                                <th>Selección</th>
                                <th>Consecutivo</th>
                                <th>Sector</th>
                                <th>Numero de entregas</th>
                            </tr>
                            <tr class="textresult" *ngFor="let item of ArrayConsTransporte; let i = index"
                                [ngClass]="item.checked == true ? 'Ischecked' : 'IsNotchecked' ">
                                <td>
                                    <input class="form-check-input check" type="checkbox" id="flexCheckDefault"
                                        [checked]="item.checked" (change)="SetStile($event, i)" />
                                </td>

                                <td>{{item.CD_CNSCTVO}}</td>
                                <td>{{item.DesSector}}</td>
                                <td>{{item.NumeroDeCompras}}</td>
                            </tr>
                        </table>
                        <div class="col-sm-4 mt-4 mb-2">
                            <button type="button" class="btn btn-agro-prin w-100" (click)="Volver()">Volver</button>
                        </div>
                        <div class="col-sm-4 mt-4 mb-2">
                            <button type="button" class="btn btn-agro-prin w-100"
                                (click)="MuestraEntregasDisponibles()">Asignar entregas</button>
                        </div>
                        <hr class="mt-2 mb-2" />
                    </div>
                    <div class="row justify-content-center" *ngIf="IdEstadoProceso == '2'">

                        <div class="col-sm-3 mt-2 mb-2">
                            <button type="button" class="btn btn-agro-prin w-100"
                                (click)="IniciaMapRutaPoligon(templatePoligonRuta)">Crear sector milla</button>
                        </div>
                        <div class="col-sm-4 mb-2 mt-2">
                            <ng-autocomplete [data]="ArrayPolygonos" [searchKeyword]="'NombreSector'"
                                placeholder="Buscar sector milla" (inputCleared)="LimpiaSectorUtimaMilla('0')"
                                (selected)='selectSectorUtimaMilla($event)' [itemTemplate]="templateSecUltimaMilla"
                                [notFoundTemplate]="templateVacio" [(ngModel)]="SectorUltimaMilla">
                            </ng-autocomplete>
                            <ng-template #templateSecUltimaMilla let-item>
                                <a [innerHTML]="item.NombreSector"></a>
                            </ng-template>
                            <ng-template #templateVacio let-SinRegistro>
                                <label for="">Sin registros</label>
                            </ng-template>
                        </div>

                        <hr class="mt-2 mb-2" />

                        <div class="row justify-content-center">
                            <div id="map" class="ShowMap"></div>
                        </div>
                        <div class="row justify-content-center mt-4">
                            <div class="col-sm-4 mt-2 mb-2">
                                <button type="button" class="btn btn-agro-prin w-100"
                                    (click)="CambiaEstadoProceso()">Generar Ruta</button>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center" *ngIf="IdEstadoProceso == '3'">


                        <div class="col-sm-6 mt-2">
                            <label class="col-sm-12 Llave">Valor flete</label>
                            <input mask="separator" thousandSeparator="," type="text" value="0" [(ngModel)]="ValorFlete"
                                class="col-sm-12 form-control mt-1 textBox" placeholder="Valor flete">
                        </div>


                        <div class="col-sm-6 mt-2">
                            <label class="col-sm-12 Llave">Fecha entrega</label>
                            <input type="date" class="col-sm-12 form-control mt-1 textBox" [(ngModel)]="FechaEntrega">
                        </div>

                        <div class="col-sm-6 mt-2">
                            <label class="col-sm-12 Llave">Ubicación entrega</label>
                            <input type="text" class="col-sm-12 form-control mt-1 textBox"
                                placeholder="Ubicación entrega" [(ngModel)]="UbicacionEntrega" />
                        </div>

                        <div class="col-sm-6 mt-2">
                            <label class="col-sm-12 mb-1 Llave">Bodega</label>
                            <ng-autocomplete [data]="DataBodegas" [searchKeyword]="'NombreBodega'" placeholder="Bodega"
                                (selected)='selectBodega($event)' [itemTemplate]="templateResBodega"
                                [notFoundTemplate]="templateVacio" [(ngModel)]="Bodega"
                                (inputCleared)="LimpiaBodega('0')">
                            </ng-autocomplete>
                            <ng-template #templateResBodega let-item>
                                <a [innerHTML]="item.NombreBodega"></a>
                            </ng-template>
                            <ng-template #templateVacio let-SinRegistro>
                                <label for="">Sin registros</label>
                            </ng-template>
                        </div>


                        <div class="col-sm-4 mt-4 mb-2">
                            <button type="button" class="btn btn-agro-prin w-100" (click)="Volver()">Cancelar</button>
                        </div>
                        <div class="col-sm-4 mt-4 mb-2">
                            <button type="button" class="btn btn-agro-prin w-100"
                                (click)="CreaTransporte()">Crear</button>
                        </div>
                    </div>
                    <div class="row justify-content-center" *ngIf="IdEstadoProceso == '4'">
                        <div class="row justify-content-center mb-2">
                            <div id="mapRuta" class="ShowMap"></div>
                            <div id="mapRutaPolilyneas" class="ShowMap"></div>
                        </div>


                        <div class="row mt-5 justify-content-center">
                            <label class="Llave lblSmall mb-3" style="text-align: center;">¿Quieres agregar otra entrega
                                a este grupo?</label>

                            <div class="col-sm-2">
                                <label style="text-align: center;" class="col-sm-12 mt-3 Llave">IdCompra:</label>
                            </div>
                            <div class="col-sm-2 mt-2">
                                <input type="number" class="col-sm-12 form-control mt-1 textBox" placeholder="IdCarro"
                                    #IdCarrAgrega />
                            </div>
                            <div class="col-sm-3 mt-2 mb-2">
                                <button type="button" class="btn btn-agro-prin w-100"
                                    (click)="AgregaCompraAGrupo(IdCarrAgrega.value)">Agregar</button>
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-sm-4">
                                <label class="Llave lblSmall">Nombre de
                                    grupo:&nbsp;{{NombreGrupo}}</label>
                            </div>

                            <div class="col-sm-6 row">

                                <div class="col-sm-6">
                                    <label class="Llave lblSmall">Su precio sugerido es de:</label>
                                </div>
                                <div class="col-sm-6 TextRight">
                                    <input type="text" mask="separator" thousandSeparator="," class="form-control"
                                        placeholder="Valor contra oferta" required="required" [(ngModel)]="ValorGrupo">
                                </div>
                            </div>
                            <div class="col-sm-2" style="text-align: center;">
                                <button class="SinEstilo" title="Actualizar precio">
                                    <img src=".../../../../../../../assets/ImagenesAgroApoya2Adm/ic_guardar.png">
                                </button>
                                <button class="SinEstilo" title="Información">
                                    <img src=".../../../../../../../assets/ImagenesAgroApoya2Adm/alert.png">
                                </button>
                            </div>
                        </div>
                        <div class="row" cdkDropList [cdkDropListData]="ArrayGruposMilla"
                            (cdkDropListDropped)="drop($event, ArrayGruposMilla)">

                            <div cdkDrag class="col-sm-6 justify-content-center Parada sinmp mt-3 CursorPointer"
                                *ngFor="let part of ArrayGruposMilla; let y = index">
                                <div class="row Parada">
                                    <div class="col-sm-1">
                                        <label class="Llave lblSmall">{{y+1}}</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="Llave lblSmall">{{part.NombrePersona}}</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="Llave lblSmall">{{part.DireccionEntrega}}</label>
                                    </div>

                                    <div class="col-sm-3 TextRight">
                                        <button class="SinEstilo" title="Eliminar"
                                            (click)="AbreModalConfirmacionModEntrega(part,templateConfirmacionElimina)">
                                            <img src=".../../../../../../../assets/ImagenesAgroApoya2Adm/basura.png">
                                        </button>
                                        <button class="SinEstilo" title="Ver"
                                            (click)="AbreModalInfoCompra(part, templateDetalleEntrega)">
                                            <img src=".../../../../../../../assets/ImagenesAgroApoya2Adm/ver.png">
                                        </button>
                                    </div>
                                </div>
                                <hr class="mt-1" *ngIf="y + 1 != ArrayGruposMilla.length">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center" *ngIf="IdEstadoProceso == '5'">

                        <div class="row justify-content-center" *ngIf="IdEstadoProcesoCreaTransporteManual == '1'">
                            <div class="col-sm-6 mt-2">
                                <label class="col-sm-12 Llave">Valor flete</label>
                                <input mask="separator" thousandSeparator="," type="text" value="0"
                                    [(ngModel)]="ValorFlete" class="col-sm-12 form-control mt-1 textBox"
                                    placeholder="Valor flete">
                            </div>


                            <div class="col-sm-6 mt-2">
                                <label class="col-sm-12 Llave">Fecha entrega</label>
                                <input type="date" class="col-sm-12 form-control mt-1 textBox"
                                    [(ngModel)]="FechaEntrega">
                            </div>

                            <div class="col-sm-6 mt-2">
                                <label class="col-sm-12 Llave">Ubicación entrega</label>
                                <input type="text" class="col-sm-12 form-control mt-1 textBox"
                                    placeholder="Ubicación entrega" [(ngModel)]="UbicacionEntrega" />
                            </div>

                            <div class="col-sm-6 mt-2">
                                <label class="col-sm-12 mb-1 Llave">Bodega</label>
                                <ng-autocomplete [data]="DataBodegas" [searchKeyword]="'NombreBodega'"
                                    placeholder="Bodega" (selected)='selectBodega($event)'
                                    [itemTemplate]="templateResBodega" [notFoundTemplate]="templateVacio"
                                    [(ngModel)]="Bodega" (inputCleared)="LimpiaBodega('0')">
                                </ng-autocomplete>
                                <ng-template #templateResBodega let-item>
                                    <a [innerHTML]="item.NombreBodega"></a>
                                </ng-template>
                                <ng-template #templateVacio let-SinRegistro>
                                    <label for="">Sin registros</label>
                                </ng-template>
                            </div>

                            <div class="col-sm-8 mt-2">
                                <label class="col-sm-12 mb-1 Llave">Identificador de entregas</label>
                                <textarea class="form-control form-control-sm textArea" cols="30" rows="3"
                                    placeholder="Identificador de la compra (Obligatorio)"
                                    [(ngModel)]="IdentificadorIdCarr_"></textarea>
                            </div>



                            <div class="row justify-content-center">
                                <div class="col-sm-4 mt-4 mb-2">
                                    <button type="button" class="btn btn-agro-prin w-100"
                                        (click)="CancelarCreacionTransportemanual()">Cancelar</button>
                                </div>
                                <div class="col-sm-4 mt-4 mb-2">
                                    <button type="button" class="btn btn-agro-prin w-100"
                                        (click)="CreaTransporteManual()">Crear</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="IdEstadoProcesoCreaTransporteManual == '2'">
                            <div class="mb-2 mt-2">
                                <div id="mapRuta" class="ShowMap"></div>
                                <div id="mapRutaPolilyneas" class="ShowMap"></div>
                            </div>
                        </div>
                        <div class="row mt-5" *ngIf="IdEstadoProcesoCreaTransporteManual == '2'">
                            <div class="col-sm-4">
                                <label class="Llave lblSmall">Nombre de
                                    grupo:&nbsp;{{NombreGrupo}}</label>
                            </div>

                            <div class="col-sm-6 row">

                                <div class="col-sm-6">
                                    <label class="Llave lblSmall">Su precio sugerido es de:</label>
                                </div>
                                <div class="col-sm-6 TextRight">
                                    <input type="text" mask="separator" thousandSeparator="," class="form-control"
                                        placeholder="Valor contra oferta" required="required" [(ngModel)]="ValorGrupo">
                                </div>
                            </div>
                            <div class="col-sm-2" style="text-align: center;">
                                <button class="SinEstilo" title="Actualizar precio">
                                    <img src=".../../../../../../../assets/ImagenesAgroApoya2Adm/ic_guardar.png">
                                </button>
                                <button class="SinEstilo" title="Información">
                                    <img src=".../../../../../../../assets/ImagenesAgroApoya2Adm/alert.png">
                                </button>
                            </div>
                        </div>
                        <div class="row" cdkDropList [cdkDropListData]="ArrayGruposMilla"
                            (cdkDropListDropped)="dropTransporteManual($event, ArrayGruposMilla)"
                            *ngIf="IdEstadoProcesoCreaTransporteManual == '2'">

                            <div cdkDrag class="col-sm-6 justify-content-center Parada sinmp mt-3 CursorPointer"
                                *ngFor="let part of ArrayGruposMilla; let y = index">
                                <div class="row Parada">
                                    <div class="col-sm-1">
                                        <label class="Llave lblSmall">{{y+1}}</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="Llave lblSmall">{{part.NombrePersona}}</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="Llave lblSmall">{{part.DireccionEntrega}}</label>
                                    </div>

                                    <div class="col-sm-3 TextRight">
                                        <button class="SinEstilo" title="Eliminar"
                                            (click)="AbreModalConfirmacionModEntrega(part,templateConfirmacionEliminaManual)">
                                            <img src=".../../../../../../../assets/ImagenesAgroApoya2Adm/basura.png">
                                        </button>
                                        <button class="SinEstilo" title="Ver"
                                            (click)="AbreModalInfoCompra(part, templateDetalleEntrega)">
                                            <img src=".../../../../../../../assets/ImagenesAgroApoya2Adm/ver.png">
                                        </button>
                                    </div>
                                </div>
                                <hr class="mt-1" *ngIf="y + 1 != ArrayGruposMilla.length">
                            </div>
                        </div>

                        <div class="col-sm-3 mt-2 mb-4">
                            <button type="button" class="btn btn-agro-prin w-100" (click)="Volver()">Finalizar</button>
                        </div>
                    </div>
                    <div class="row justify-content-center" *ngIf="IdEstadoProceso == '6'">
                        <h3 class="mt-4">{{ArrayTransporteSeleccionado.UbicacionEntrega}}</h3>
                        <div class="row">
                            <div class="mb-2 mt-2">
                                <div id="mapRuta" class="ShowMap"></div>
                                <div id="mapRutaPolilyneas" class="ShowMap"></div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-sm-4">
                                <label class="Llave lblSmall">Nombre de
                                    grupo:&nbsp;{{NombreGrupo}}</label>
                            </div>

                            <div class="col-sm-6 row">

                                <div class="col-sm-6">
                                    <label class="Llave lblSmall">Su precio sugerido es de:</label>
                                </div>
                                <div class="col-sm-6 TextRight">
                                    <input type="text" mask="separator" thousandSeparator="," class="form-control"
                                        placeholder="Valor contra oferta" required="required" [(ngModel)]="ValorGrupo">
                                </div>
                            </div>
                            <div class="col-sm-2" style="text-align: center;">
                                <button class="SinEstilo" title="Actualizar precio">
                                    <img src=".../../../../../../../assets/ImagenesAgroApoya2Adm/ic_guardar.png">
                                </button>
                                <button class="SinEstilo" title="Información">
                                    <img src=".../../../../../../../assets/ImagenesAgroApoya2Adm/alert.png">
                                </button>
                            </div>
                        </div>
                        <div class="row justify-content-center" cdkDropList [cdkDropListData]="ArrayGruposMilla"
                            (cdkDropListDropped)="dropTransporteManual($event, ArrayGruposMilla)"
                            *ngIf="IdEstadoProcesoCreaTransporteManual == '2'">

                            <div cdkDrag class="col-sm-12 justify-content-center Parada sinmp mt-3 CursorPointer"
                                *ngFor="let part of ArrayGruposMilla; let y = index">
                                <div class="row Parada">
                                    <div class="col-sm-1">
                                        <label class="Llave lblSmall">{{y+1}}</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="Llave lblSmall">{{part.NombrePersona}}</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="Llave lblSmall">{{part.DireccionEntrega}}</label>
                                    </div>

                                    <div class="col-sm-3 TextRight">
                                        <button class="SinEstilo" title="Eliminar"
                                            (click)="AbreModalConfirmacionModEntrega(part,templateConfirmacionEliminaManual)">
                                            <img src=".../../../../../../../assets/ImagenesAgroApoya2Adm/basura.png">
                                        </button>
                                        <button class="SinEstilo" title="Ver"
                                            (click)="AbreModalInfoCompra(part, templateDetalleEntrega)">
                                            <img src=".../../../../../../../assets/ImagenesAgroApoya2Adm/ver.png">
                                        </button>
                                    </div>
                                </div>
                                <hr class="mt-1">
                            </div>
                        </div>


                        <div class="col-sm-3 mt-2 mb-4">
                            <button type="button" class="btn btn-agro-prin w-100" (click)="Volver()">Finalizar</button>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>






<ng-template #ModalMensaje let-modal>
    <div class="modal-header">
        <h1>AgroApoya2 Admin</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <h6 class="CentrarText">{{MesajeModal}}</h6>
        </div>

        <div class="row justify-content-center mt-2 mb-2">
            <div class="col-sm-5">
                <button type="button" class="btn btn-agro-prin w-100" (click)="modal.close()">Aceptar</button>
            </div>
        </div>
    </div>
    <br>
</ng-template>




<ng-template #templateTransportes let-modal>
    <div class="modal-header">
        <h1>SELECCIONAR TRANSPORTE</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>

    <div class="modaBody">

        <div class="row justify-content-center">
            <li class="col-sm-10 espacioul row" *ngFor="let ite of ArrayConsTransportes">
                <div class="col-11">
                    <div class="listasStyle">
                        <label title="{{ite.UbicacionEntrega}}">{{ite.IdTrans}}-{{ite.UbicacionEntrega}}</label>
                    </div>
                </div>
                <div class="col-1">
                    <button class="bot" title="Selecciónar transporte"
                        (click)="SelectTransporte(ite, templateConfirmacionEditTransporte)">
                        <img src="../../../../assets/ImagenesAgroApoya2Adm/aprobar.png" alt="Selecciónar"
                            class="BtnimgTamanoPeque">
                    </button>
                </div>
            </li>
        </div>
    </div>
    <br>
</ng-template>




<ng-template #templatePoligonRuta let-modal>
    <div class="modal-header">
        <h1>Crear poligono</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="CerrarModalMapaRutaPolygon()"></button>
    </div>
    <div class="row justify-content-center mb-4" *ngIf="VerMapRutaPolygon == false">
        <div class="col-sm-6 mt-2">
            <label class="col-sm-12 Llave">Nombre Polygono</label>
            <input type="text" class="col-sm-12 form-control mt-1 textBox" placeholder="Nombre Polygono"
                [(ngModel)]="NombrePolygonCrear" />
        </div>
        <div class="col-sm-3 mt-4">
            <button type="button" class="btn btn-agro-prin w-100" (click)="CreaPolygon()">Crear</button>
        </div>
    </div>


    <div class="modaBody" *ngIf="VerMapRutaPolygon == true">
        <div class="row">
            <div [ngClass]="ArrayCoordenadas.length > 0? 'col-sm-10' : 'col-sm-12'">
                <div id="CreamapPoligon" class="ShowMap"></div>
            </div>
            <div class="col-sm-2" id="CoordenadasDiv" *ngIf="ArrayCoordenadas.length > 0">
                <div class="row ArrayCoors" *ngFor="let coor of ArrayCoordenadas; let i = index">
                    <div class="row CirculoImg" alt="Borrar" (click)="EliminarCoordenadasMap(coor)">
                        <img class="imagen-flotante" src="../../../../assets/ImagenesAgroApoya2Adm/ic_borrar.png">
                    </div>

                    <div class="row">Lat: {{coor.LTTUD}}</div>
                    <div class="row">Long: {{coor.LNGTUD}}</div>

                    <hr *ngIf="i != ArrayCoordenadas.length" />
                </div>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #templateConfirmacionElimina let-modal>
    <div class="modal-header">
        <h1>ESTÁ SEGURO DE ELIMINAR ESTA ENTREGA EN EL TRANSPORTE</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>

    <div class="modaBody">

        <div class="row p-3 justify-content-center">
            <p style="text-align: center;">¿Esta seguro de eliminar la compra de {{ItemEliminacion.NombrePersona}} en el
                transporte?</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-4 mt-2 mb-2">
                <button type="button" class="btn btn-agro-prin w-100" (click)="EliminaEntrega(ItemEliminacion)"
                    (click)="modal.dismiss()">Eliminar</button>
            </div>
            <div class="col-sm-4 mt-2 mb-2">
                <button type="button" class="btn btn-agro-prin w-100" (click)="modal.dismiss()">Cancelar</button>
            </div>
        </div>
    </div>
    <br>
</ng-template>


<ng-template #templateDetalleEntrega let-modal>
    <div class="modal-header">
        <h1>Detalle entrega</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>

    <div class="modaBody">
        <div class="row p-3">
            <div class="col-sm-6">
                <label class="Llave lblSmall">Nombre:</label>{{ItemVerInfo.NombrePersona}}
            </div>
            <div class="col-sm-6">
                <label class="Llave lblSmall">Telefono:</label> {{ItemVerInfo.CELULAR_PERSONA}}
            </div>
            <div class="col-12">
                <label class="Llave lblSmall">Dirección:</label> {{ItemVerInfo.DireccionEntrega}}
            </div>

            <div class="col-12" *ngIf="ItemVerInfo.Producto != null">
                <label class="Llave lblSmall">Productos:</label>
                <br>
                <p>{{ItemVerInfo.Producto}}</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-4 mt-2 mb-2">
                <button type="button" class="btn btn-agro-prin w-100" (click)="modal.dismiss()">Aceptar</button>
            </div>
        </div>
    </div>
    <br>
</ng-template>


<ng-template #templateConfirmacionEliminaManual let-modal>
    <div class="modal-header">
        <h1>ESTÁ SEGURO DE ELIMINAR ESTA ENTREGA EN EL TRANSPORTE</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>

    <div class="modaBody">

        <div class="row p-3 justify-content-center">
            <p style="text-align: center;">¿Esta seguro de eliminar la compra de {{ItemEliminacion.NombrePersona}} en el
                transporte?</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-4 mt-2 mb-2">
                <button type="button" class="btn btn-agro-prin w-100" (click)="EliminaEntregaManual(ItemEliminacion)"
                    (click)="modal.dismiss()">Eliminar</button>
            </div>
            <div class="col-sm-4 mt-2 mb-2">
                <button type="button" class="btn btn-agro-prin w-100" (click)="modal.dismiss()">Cancelar</button>
            </div>
        </div>
    </div>
    <br>
</ng-template>

<ng-template #templateConfirmacionEditTransporte let-modal>
    <div class="modal-header">
        <h1>ESTÁ SEGURO DE EDITAR LA INFORMACIÓN DEL TRANSPORTE</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>

    <div class="modaBody">

        <div class="row p-3 justify-content-center">
            <p style="text-align: center;">¿Esta seguro de editar el transporte de
                {{ArrayTransporteSeleccionado.UbicacionEntrega}}?</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-4 mt-2 mb-2">
                <button type="button" class="btn btn-agro-prin w-100" (click)="AbreModalConfirmacionEditarTransporte()"
                    (click)="modal.dismiss()">Editar</button>
            </div>
            <div class="col-sm-4 mt-2 mb-2">
                <button type="button" class="btn btn-agro-prin w-100" (click)="modal.dismiss()">Cancelar</button>
            </div>
        </div>
    </div>
    <br>
</ng-template>