<div class="container">
  <h1 class="text-center py-5">Uso de plataforma ManyChat</h1>

  <!-- Pestañas de navegación -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link cursorPonter"
        [class.active]="Auxmenu === '1'"
        (click)="BtnEncontrarUsuario()"
      >
        Encontrar usuario
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link cursorPonter"[class.active]="Auxmenu === '2'"(click)="BtnEnvioMensajes()">
        Envio Mensajes
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link cursorPonter"
        [class.active]="Auxmenu === '3'"
        (click)="BtnVariables()"
      >
        variables
      </a>
    </li>
  </ul>

  <div class="tab-content" *ngIf="Auxmenu === '1'">
    <div class="card shadow mb-4">
      <div class="card-body">
        <h5 class="card-title">Encontrar usuario por medio de su celular</h5>
        <p class="card-text">
          En este documento explicaremos cómo buscar un usuario utilizando su
          número de celular. De esta forma, podremos obtener el id_manychat, la
          información del usuario y el historial de conversaciones que hemos
          tenido con él.
        </p>
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <h3 class="card-title">Login</h3>
        <p class="card-text">
          ¡Hola! En esta página encontrará cómo iniciar sesión. Simplemente
          selecciona algunas de estas opciones: Facebook, Google, Telegram o
          Apple.
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Imagen de WhatsApp 2024-11-25 a las 14.53.57_67d50b9a.jpg"
          alt="Imagen 1"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <h3 class="card-title">Proyectos</h3>
        <p class="card-text">¡Continúa dandole al proyecto!</p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-25 142902.png"
          alt="Imagen 2"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <h3 class="card-title">Dasboard</h3>
        <p class="card-text">
          Accede a tu lista de contactos. Haz clic en el ícono.
          <img src="../../../../assets/ducument-imagenes/image.png" alt="" />
          Para ver todos tus contactos actuales..
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-25 143024.png"
          alt="Imagen 3"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <p class="card-text">
          Ahora bien, dale al botón de (Condición), después (Campos del sistema)
          y por último a la opción de (WhatsApp)..
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-25 143708.png"
          alt="Imagen 4"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <p class="card-text">
          Después de que hagas los pasos anteriores, le das a la siguiente
          opción (WhatsApp ID).
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-25 143729.png"
          alt="Imagen 4"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <p class="card-text">
          Después, debes buscar por el número de teléfono a la persona a la que
          deseas encontrar en (WhatsApp ID is unknown)..
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-25 143750.png"
          alt="Imagen 4"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <p class="card-text">Encuentras a la persona y la seleccionas.</p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-25 143846.png"
          alt="Imagen 4"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <p class="card-text">
          Por último, encontrarás la información personal e importante. Lo que
          está subrayado es el (ID ManyChat)..
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-25 143936.png"
          alt="Imagen 4"
          class="img-fluid"
        />
      </div>
    </div>
  </div>

  <!-- Envio Mensajes  -->
  <div class="tab-content" *ngIf="Auxmenu === '2'">
    <div class="card shadow mb-4">
      <div class="card-body">
        <h5 class="card-title">Envio Mensajes masivos</h5>
        <p class="card-text">
          En este documento se explica cómo crear una plantilla con un mensaje
          predeterminado y configurarla para su envío automatizado, ya sea a
          través de la plataforma o mediante la API de ManyChat..
        </p>
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <h3 class="card-title">Login</h3>
        <p class="card-text">
          ¡Hola! En esta página encontrará cómo iniciar sesión. Simplemente
          selecciona algunas de estas opciones: Facebook, Google, Telegram o
          Apple.
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Imagen de WhatsApp 2024-11-25 a las 14.53.57_67d50b9a.jpg"
          alt="Imagen 1"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <h3 class="card-title">Proyectos</h3>
        <p class="card-text">¡Continúa dandole al proyecto!</p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-25 142902.png"
          alt="Imagen 2"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <h3 class="card-title">Ajustes</h3>
        <p class="card-text">
          Haz clic en el ícono de configuración.<img
            src="../../../../assets/ducument-imagenes/Imagen de WhatsApp 2024-12-01 a las 19.55.16_74e6728d555.jpg"
            alt=""
          />
          ir a WhatsApp
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-28 152457.png"
          alt="Imagen 3"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <p class="card-text">
          Después, le da a (Plantillas de mensajes), luego a (Plantilla nueva).
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-28 152515.png"
          alt="Imagen 3"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <h3 class="card-title">Plantillas</h3>
        <p class="card-text">
          Después, (Nombre de la plantilla), luego (Marketing) y (Idioma)..
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-28 152602.png"
          alt="Imagen 3"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <h3 class="card-title">Prueba Plantillas</h3>
        <p class="card-text">
          Poner el mensaje como se muestra en la imagen. También puede agregar
          unos encabezados.
          <img
            src="../../../../assets/ducument-imagenes/Imagen de WhatsApp 2024-12-01 a las 19.56.11_b997538066.jpg"
            alt=""
          />
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-28 152944.png"
          alt="Imagen 3"
          class="img-fluid"
        />
      </div>
    </div>

    <div class="card shadow mb-4">
      <div class="card-body">
        <h3 class="card-title">Proporcionar variables</h3>
        <p class="card-text">
         En las llaves que pueden ver en la imagen es la que hace posible poner las variables.
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Imagen de WhatsApp 2024-12-02 a las 09.49.29_0bb086d767.jpg"
          alt="Imagen 3"
          class="img-fluid"
        />
      </div>
    </div>

    <div class="card shadow mb-4">
      <div class="card-body">
        <h3 class="card-title">Proporcionar Muestra de variables</h3>
        <p class="card-text">
          Llenar los campos que correspondan, en este caso son Nombre y
          Registro. Los demás, como pie de página, son opcionales.
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-28 153009.png"
          alt="Imagen 3"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <h3 class="card-title">Enviar</h3>
        <p class="card-text">
          Después, vamos hacia arriba para enviar la plantilla a revisión.
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-28 153102.png"
          alt="Imagen 3"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <p class="card-text">
          Después, le dirá (Revisar) donde está subrayado.
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-28 153134.png"
          alt="Imagen 3"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <p class="card-text">
          Despues de Revisar, le dara dos opciones de (EDITAR) (DELETE) y le
          saldra (APROBADO)
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-28 153239.png"
          alt="Imagen 3"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <h3 class="card-title">Dasboard</h3>
        <p class="card-text">
          Despues nos devolvemos al Dasboard para ir
          <img
            src="../../../../assets/ducument-imagenes/Imagen de WhatsApp 2024-12-01 a las 19.56.49_5c7d8627677.jpg"
            alt=""
          />
          A la (Automatización), después hacia la carpeta de (CDI), y dentro de
          esta, la automatización que corresponde.
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-28 153333.png"
          alt="Imagen 3"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <h3 class="card-title">Automatizacion</h3>
        <p class="card-text">
          Le damos al botón (Nueva automatización), lo que está subrayado.
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-28 153423.png"
          alt="Imagen 3"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <p class="card-text">
          Aparecerá una interfaz y le da donde está el ícono de (WhatsApp).
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-28 153529.png"
          alt="Imagen 3"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <p class="card-text">
          Elige la opcion de (ENVIAR, fuera de ventana de 24 horas).
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-28 153558.png"
          alt="Imagen 3"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <p class="card-text">Elegir una plantilla de mensajes.</p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-28 153623.png"
          alt="Imagen 3"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <p class="card-text">
          Después, le debe de dar un nombre que dice (Sin título), preferible el
          mismo de la plantilla. Por último, le da clic en el botón subrayado
          (Publicar en vivo).
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-28 153657.png"
          alt="Imagen 3"
          class="img-fluid"
        />
      </div>
    </div>

    <div class="card shadow mb-4">
      <div class="card-body">
        <p class="card-text">
          Después le da en el botón del navegador para regresar y selecciona la
          plantilla que creó.
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-28 153731.png"
          alt="Imagen 3"
          class="img-fluid"
        />
      </div>
    </div>

    <div class="card shadow mb-4">
      <div class="card-body">
        <p class="card-text">
          Después de publicar, le aparecerá en la URL como está subrayado en la
          imagen de ejemplo.
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-28 153826.png"
          alt="Imagen 3"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <h3 class="card-title">Postman</h3>
        <p class="card-text">
          Aquí podrá ver que es un método (POST) para enviar un cuerpo (BODY)
          que contiene (ID) de ManyChat y el ID de la plantilla. Cuando le demos
          los parámetros del BODY y se le dé en el botón de SEND, le aparecerá
          un mensaje de (status: success).
        </p>
        <pre>
    EN EL POSTMAN VERIFICAMOS:
    
    * URL: https://api.manychat.com/fb/sending/sendFlow
    * Método: Post
    
    * Headers:
    Authorization = Bearer 478118:7ec9b22d0d4b87182fcafa3a9ea04c55
    Content-Type = application/json
    
    * body:
    {{ "{" }}
    "subscriber_id": idmanychat,
    "flow_ns": "id de-l-plantilla"    
    {{ "}" }}
        </pre>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-28 154251.png"
          alt="Imagen 3"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <h3 class="card-title">WhatsApp</h3>
        <p class="card-text">
          Por último, le llegará un mensaje de WhatsApp, el mismo que escribimos
          más arriba.
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-28 154426.png"
          alt="Imagen 3"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
  <!-- variables -->
  <div class="tab-content" *ngIf="Auxmenu === '3'">
    <div class="card shadow mb-4">
      <div class="card-body">
        <h5 class="card-title">Encontrar usuario por medio de su celular</h5>
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <h3 class="card-title">Login</h3>
        <p class="card-text">
          ¡Hola! En esta página encontrará cómo iniciar sesión. Simplemente
          selecciona algunas de estas opciones: Facebook, Google, Telegram o
          Apple.
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Imagen de WhatsApp 2024-11-25 a las 14.53.57_67d50b9a.jpg"
          alt="Imagen 1"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <h3 class="card-title">Proyectos</h3>
        <p class="card-text">¡Continúa dandole al proyecto!</p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-11-25 142902.png"
          alt="Imagen 2"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <h3 class="card-title">Dasboard</h3>
        <p class="card-text">
          Haz click en el ícono.
          <img src="../../../../assets/ducument-imagenes/image.png" alt="" />
          Para ver todos tus contactos actuales, seleccione cualquier contacto
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-12-02 12190511.png"
          alt="Imagen 3"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <p class="card-text">Aqui debes de dar click en gestionar campos personalizados</p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-12-02 12193413.png"
          alt="Imagen 4"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <p class="card-text">
          Despues seleccionamos campos del sistema y creamos un Nuevo campo de usuario y seleccionamos una carpeta en este caso (CAMPOS AGROAPOYADOS).
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-12-02 12214412.png"
          alt="Imagen 4"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <p class="card-text">
          Diligenciar formulario, aunque la descripción es opcional siempre ponerla, para informacion y despues le das al boton de
          (Crear)
          
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-12-02 12242515.png"
          alt="Imagen 4"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <p class="card-text">Aqui como se puede ver ya esta el campo creado, con el nombre y la descripcion y tambien si deja en cursor sobre el campo le mostrara el ID del campo.</p>
        <img
          src="../../../../assets/ducument-imagenes/Imagen de WhatsApp 2024-12-02 a las 12.26.50_9adb1238Camp.jpg"
          alt="Imagen 4"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <p class="card-text">
          Entonces debe de volver al inicio entrar al icono de usuarios<img src="../../../../assets/ducument-imagenes/image.png" alt="" /> Busco el usuario al cual quiero realizar la actualización del campo, busco el campo  personalizados para este caso es (campo prueba) y le doy el valor 
           y busacar por el numero de la persona a la cual le atualizara el campo 
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-12-02 12274316.png"
          alt="Imagen 4"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <p class="card-text">
         como se puede ver el el campo que esta subrayado tiene el nombre que le pusimos cuando lo creamos, le da click al campo 
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-12-02 12293417.png"
          alt="Imagen 4"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <p class="card-text">
          <h3>Atualizacion desde MinyChat</h3>
          <p>
          Despues le puede dar el valor que quieran despues le da en (APLICAR)
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-12-02 12295718.png"
          alt="Imagen 4"
          class="img-fluid"
        />
      </div>
    </div>

    <div class="card shadow mb-4">
      <div class="card-body">
        <h3>Atualizacion desde Postman</h3>
        <p class="card-text">
          Despues de (APLICAR) le aparecera el valor que le dio al campo en este caso le dimos uno
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Imagen de WhatsApp 2024-12-02 a las 17.25.31_c2a321d044.jpg"
          alt="Imagen 4"
          class="img-fluid"
        />
      </div>
    </div>

    <div class="card shadow mb-4">
      <div class="card-body">
        <p class="card-text">
          La segunda forma de actualizar es por medio de un microservicio, atra vez del postman le da un cuerpo en formato Jason, con URL como se muestra en este ejemplo, y el resultado es "1"
        
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-12-02 123533.png"
          alt="Imagen 4"
          class="img-fluid"
        />
      </div>
    </div>

    <div class="card shadow mb-4">
      <div class="card-body">
        <p class="card-text">
          Y este es el resultado con Postman
        </p>
        <img
          src="../../../../assets/ducument-imagenes/Captura de pantalla 2024-12-02 123632334.png"
          alt="Imagen 4"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>