<div class="row justify-content-center mt-4" style="margin: 0; padding: 0;">
    <div class="row justify-content-center col-sm-4 mt-4 mb-4 selectExcel" style="cursor: pointer;">
        <div class="col-12 row" style="cursor: pointer;">
            <div class="image-upload col-12">
                <label for="file-input5" class="col-12" style="text-align: center;">
                    <span style="vertical-align: sub; font-weight: 900; cursor: pointer;">Cargue usuarios automático</span>
                    <img id="Imagen5" title="Selecciona el archivo xls"
                        src="../../../../assets/ImagenesAgroApoya2Adm/sobresalir.png"
                        style="width: 50px; height: 50px;">
                </label>
                <input name="file-input5" id="file-input5" type="file"
                    (change)="Operacion($event, 1)" /><!--(change)="CargaImagen($event, '5')"-->
            </div>
        </div>
    </div>

    <div class="row mt-3 mb-3" style="text-align: center;" *ngIf="ArrayDataInsert.length > 0">
        <label style="vertical-align: sub; text-align: center;">Usuarios verificados {{NumberTotal}} de
            {{ArrayDataInsert.length}}</label>
    </div>

    <label style="vertical-align: sub; text-align: center;" class="col-sm-6" *ngIf="ArrayDataInsert.length > 0">Usuarios
        registrados {{numberinsertados}}</label>
    <label style="vertical-align: sub; text-align: center;" class="col-sm-6" *ngIf="ArrayDataInsert.length > 0">Usuarios
        no registrados {{numbernofueposible}}</label>

    <div class="col-sm-6" style="height: 550px; overflow: auto;" *ngIf="ArrayDataInsert.length > 0">
        <table class="table col-sm-12 TableAgro">
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Direcciòn</th>
                <th>Telefono</th>
                <th>Resultado</th>
            </tr>
            <tbody *ngFor="let data of ArrayRespuesta">
                <tr *ngIf="data.Estado == true">
                    <td>{{data.Nombre}}</td>
                    <td style="overflow: auto;">{{data.Email}}</td>
                    <td>{{data.Direccion}}</td>
                    <td>{{data.Telefono}}</td>
                    <td>{{data.Respuesta}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6" style="height: 550px; overflow: auto;" *ngIf="ArrayDataInsert.length > 0">
        <table class="table col-sm-12 TableAgro">
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Direcciòn</th>
                <th>Telefono</th>
                <th>Resultado</th>
            </tr>
            <tbody *ngFor="let data of ArrayRespuesta">
                <tr *ngIf="data.Estado == false">
                    <td>{{data.Nombre}}</td>
                    <td style="overflow: auto;">{{data.Email}}</td>
                    <td>{{data.Direccion}}</td>
                    <td>{{data.Telefono}}</td>
                    <td>{{data.Respuesta}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<ng-template #templateemai let-modal>
    <div class="p-2">
        <div class="mt-4 mb-4 text-center">
            <img src="../../../../assets/animate/svg-loaders/circles.svg" />
            <h3 style="color: #397c97;">Enviando email...</h3>
        </div>
    </div>
</ng-template>