
    <header class=" text-white text-center py-5">
      <div class="container">
        <h1 class="display-4">Bienvenidos a la documentacion</h1>
        <p class="lead"></p>
      </div>
    </header>
    <!-- Sección de características -->
    <section class="container my-5">
      <h2 class="text-center fw-bold mb-4">Componentes</h2>
      <div class="row g-4">
        <div class="col-md-4">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title">Uso ManyChat</h5>
              <a href="http://localhost:4200/#/UsoMany">Ducumentacion por WhatsApp.</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title">Otros componen</h5>
              <p class="card-text">Ducumentacion por wha</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title">Otros </h5>
              <p class="card-text">Ducumentacion por wha</p>
            </div>
          </div>
        </div>
      </div>
    </section>
