<div class="container" [ngClass]="Loader == true ? 'Opacity' : '' ">
    <div class="row mt-4 justify-content-center">

        <div class="col-sm-4 mt-2 mb-2">
            <button type="button" class="btn btn-agro-prin w-100" (click)="AsignaCampoMayChat()">AsignaNombre</button>
        </div>

        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">CodUser</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">ManyChat</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let respu of ArrayUsers; let i = index">
                    <th>{{respu.USUCODIG}}</th>
                    <td>{{respu.NOMBRES_PERSONA}}</td>
                    <td>{{respu.CELULAR_PERSONA}}</td>
                    <th>{{respu.id_manychat}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="divloader text-center" *ngIf="Loader == true">
    <img src="../../../../assets/animate/svg-loaders/circles.svg" />
    <h3 style="color: #397c97;">Enviando mensajes... {{NunMensajesEnviados}} de {{this.ArrayUsers.length}}</h3>
</div>