<form class="Fondo">
    <br><br>
    <div class="container bg-white">
        <br>
        <h1>Crear Oferta</h1>
        <div class="row">
            <div class="col-sm-12">
                <label class="col-sm-12 Llave">Productor</label>
                <ng-autocomplete [data]="ArrayProductor" [searchKeyword]="productor" placeholder="Productor"
                    (selected)='selectProductor($event)' (inputCleared)="LimpiarCampos('pt')"
                    [itemTemplate]="templateResPr" [notFoundTemplate]="templateVacioPr">
                </ng-autocomplete>

                <ng-template #templateResPr let-item id="templateResPr">
                    <a [innerHTML]="item.nombre_persona"></a>
                </ng-template>

                <ng-template #templateVacioPr let-SinRegistro>
                    <label for="">Sin registros</label>
                </ng-template>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">Producto</label>
                <select class="form-control form-control-sm textBox" #SelectProducto id="SelectProducto"
                    (change)='SelProducto(SelectProducto.value)'>
                    <option value="0">Producto(Obligatorio)</option>
                    <option *ngFor="let Producto of ArrayProductos;" [value]="Producto.id_producto"
                        [selected]="Producto.id_producto == IdProducto">
                        {{Producto.des_producto}}
                    </option>
                </select>
            </div>
            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">Presentación Empaque</label>
                <select class="form-control form-control-sm textBox" #SelectEmpaque id="SelectEmpaque"
                    (change)='SelEmpaque(SelectEmpaque.value)'>
                    <option value="0">Presentación Empaque(Obligatorio)</option>
                    <option *ngFor="let Empaque of ArrayEmpaque;" [value]="Empaque.id_empaque"
                        [selected]="Empaque.id_empaque == IdEmpaque">
                        {{Empaque.des_empaque}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">Condición</label>
                <select class="form-control form-control-sm textBox" #SelectCondicion id="SelectCondicion"
                    (change)='SelCondicion(SelectCondicion.value)'>
                    <option value="0">Condición(Obligatorio)</option>
                    <option *ngFor="let Condicion of ArrayCondicion;" [value]="Condicion.id_condicion"
                        [selected]="Condicion.id_condicion == IdCondicion">
                        {{Condicion.des_condicion}}
                    </option>
                </select>
            </div>
            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">Tamaño</label>
                <select class="form-control form-control-sm textBox" #SelectTamano id="SelectTamano"
                    (change)='SelTamano(SelectTamano.value)'>
                    <option value="0">Tamaño(Obligatorio)</option>
                    <option *ngFor="let Tamano of ArrayTamano;" [value]="Tamano.id_tamano"
                        [selected]="Tamano.id_tamano == IdCondicion">
                        {{Tamano.des_tamano}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 br">
                <label class="col-sm-12 Llave">Caracteristicas</label>
                <textarea required="required" name="caracteristicas" id="caracteristicas"
                    class="form-control form-control-sm textArea" cols="30" rows="3"
                    placeholder="Caracteristicas que el comprador debe saber de tu producto (Obligatorio)"
                    [(ngModel)]="DesProducto"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">Valor unidad empaque</label>
                <input type="number" class="form-control form-control-sm textBox"
                    placeholder="Valor unidad empaque (Obligatorio)" required="required" [(ngModel)]="ValorOferta"
                    name="ValorOferta">
            </div>
            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">Unidades</label>
                <input type="numebr" class="form-control form-control-sm textBox" placeholder="Unidades (Obligatorio)"
                    required="required" [(ngModel)]="Unidades" name="Unidades" (change)="CalculaValorTotal();">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 br">
                <label class="col-sm-12 Llave">Valor Total Oferta</label>
                <input type="number" class="form-control form-control-sm textBox" id="ValorTOferta"
                    placeholder="Valor Total Oferta (Obligatorio)" disabled [(ngModel)]="ValorTotalOferta"
                    name="ValorTotalOferta">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">Vigencia Oferta Desde</label>
                <input type="date" class="form-control form-control-sm textBox" id="VigenciaOferta"
                    [(ngModel)]="Vigencia" name="Vigencia">
            </div>
            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">Jornada</label>
                <select name="EJornada" id="EJornada" #ejornada class="form-control form-control-sm textBox"
                    (change)='SelEJornada(ejornada.value)'>
                    <option value="1">Jornada</option>
                    <option *ngFor="let jornada of ArrayJornada" [value]="jornada.CD_JRNDA">
                        {{jornada.DESCRIPCION}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">Departamento</label>
                <select name="SelectDepa" #SelectDepa id="SelectDepa" class="form-control form-control-sm textBox"
                    (change)='SelDepa(SelectDepa.value)'>
                    <option value="0">Departamento (Obligatorio)</option>
                    <option *ngFor="let Departamento of ArrayDepa;" [value]="Departamento.CD_RGION"
                        [selected]="Departamento.CD_RGION == IdDepartamento">
                        {{Departamento.DSCRPCION}}
                    </option>
                </select>
            </div>
            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">Ciudad</label>
                <select name="Ciudad" id="Ciudad" class="form-control form-control-sm textBox" #SelectCiud
                    (change)='SelCiud(SelectCiud.value)'>
                    <option value="0">Ciudad (Obligatorio)</option>
                    <option *ngFor="let Ciudad of ArrayCiud;" [value]="Ciudad.CD_MNCPIO"
                        [selected]="Ciudad.CD_MNCPIO == IdCiudad">
                        {{Ciudad.DSCRPCION}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 br">
                <label class="col-sm-12 Llave">Ubicación Parcela</label>
                <input type="text" class="form-control form-control-sm textBox" placeholder="Ubicación Parcela"
                    [(ngModel)]="UbicacionPar" name="UbicacionPar">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-10 br">
                <h5 class="SubTituloForm">Agrega la ubicación de la oferta</h5>
                <h6 class="TituloDetalle">{{CoordenadasParcela}}</h6>
            </div>
            <div class="col-sm-2 br">
                <button type="button" class="btn btn-outline-info" (click)="AbrirMapa(ModalMapa)">Mapa</button>
            </div>
        </div>
        <hr>
        <div class="row br justify-content-center">
            <h5 class="SubTituloForm">Selecciona las imagenes de tu producto</h5>
            <br><br>
            <div class="col-sm-2 centraimagen">
                <div class="image-upload">
                    <label for="file-input1">
                        <img id="Imagen1" title="Selecciona una imagen" [src]="Imagen1" style="border-radius: 10px;">
                    </label>
                    <input name="file-input1" id="file-input1" type="file" (change)="CargaImagen($event, '1')" />
                </div>
            </div>
            <div class="col-sm-2 centraimagen">
                <div class="image-upload">
                    <label for="file-input2">
                        <img id="Imagen2" title="Selecciona una imagen" [src]="Imagen2" style="border-radius: 10px;">
                    </label>
                    <input name="file-input2" id="file-input2" type="file" (change)="CargaImagen($event,'2')" />
                </div>
            </div>
            <div class="col-sm-2 centraimagen">
                <div class="image-upload">
                    <label for="file-input3">
                        <img id="Imagen3" title="Selecciona una imagen" [src]="Imagen3" style="border-radius: 10px;">
                    </label>
                    <input name="file-input3" id="file-input3" type="file" (change)="CargaImagen($event, '3')" />
                </div>
            </div>
            <div class="col-sm-2 centraimagen">
                <div class="image-upload">
                    <label for="file-input4">
                        <img id="Imagen4" title="Selecciona una imagen" [src]="Imagen4" style="border-radius: 10px;">
                    </label>
                    <input name="file-input4" id="file-input4" type="file" (change)="CargaImagen($event, '4')" />
                </div>
            </div>
            <div class="col-sm-2 centraimagen">
                <div class="image-upload">
                    <label for="file-input5">
                        <img id="Imagen5" title="Selecciona una imagen" [src]="Imagen5" style="border-radius: 10px;">
                    </label>
                    <input name="file-input5" id="file-input5" type="file" (change)="CargaImagen($event, '5')" />
                </div>
            </div>
        </div>
        <br>
        <div class="row br justify-content-center mt-3">
            <div class="col-sm-3 col-12">
                <button class="col-sm-12 btn btn-agro-prin" (click)="Guardar(ModalRespuesta)">Guardar</button>
            </div>
            <div class="col-sm-3 col-12">
                <button class="col-sm-12 btn btn-agro-prin" (click)="Limpiar()">Limpiar</button>
            </div>
            <div class="col-sm-3 col-12">
                <button class="col-sm-12 btn btn-agro-sec">Cancelar</button>
            </div>
        </div>
        <br>
    </div>
    <br><br>
    <ng-template #ModalRespuesta let-modal>
        <div class="modal-header">
            <h1>Respuesta</h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            <div class="row br">
                <div class="col-sm-12">
                    <h2 class="TituloDetalle">{{Respuesta}}</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-agro-prin col-sm-2" (click)="modal.close()">Aceptar</button>
        </div>
        <br>
    </ng-template>
    <ng-template #ModalMapa let-modal>
        <div class="modal-header">
            <h1>Seleccione coordenadas</h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <label class="col-sm-12 Llave">Coordenada Norte</label>
                    <input type="text" class="form-control form-control-sm textBox" placeholder="Coordenada norte"
                    [(ngModel)]="Coor1" name="Coor1">
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-12 Llave">Coordenada Sur</label>
                    <input type="text" class="form-control form-control-sm textBox" placeholder="Coordenada sur"
                    [(ngModel)]="Coor2" name="Coor2">
                </div>
            </div>
            <hr>
            <div class="row mt-2 justify-content-center ">
                <div class="col-sm-11 ">
                    <div id="map" [ngClass]="ValidaInsertSec=='1' ? 'ShowMap' : 'HideMap' "></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-agro-prin col-sm-2" (click)="AceptarCoordenadas()">Aceptar</button>
        </div>
        <br>
    </ng-template>
</form>