<div class="container d-flex flex-column align-items-center min-vh-100 justify-content-center">
  <div class="p-4 w-100" style="max-width: 100%;">
    <h1 class="text-primary mb-4 text-center custom-title">Mapa de calor</h1>

    <!-- Contenedor de Filtros -->
    <div class="d-flex flex-row flex-wrap justify-content-center align-items-center" style="margin-bottom: 1rem;">
      <!-- Filtro por Fecha de Inicio de Compra -->
      <div class="mb-2 me-2">
        <label for="fechaInicioCompra" class="form-label" style="font-size: 0.75rem;">Fecha de Inicio de Compra</label>
        <input type="text" class="form-control form-control-sm" id="fechaInicioCompra" name="fechaInicioCompra"
          placeholder="Fecha de Inicio de Compra" onfocus="(this.type='date')"
          onblur="if(this.value==''){this.type='text'}" />
      </div>

      <!-- Filtro por Fecha de Fin de Compra -->
      <div class="mb-2 me-2">
        <label for="fechaFinCompra" class="form-label" style="font-size: 0.75rem;">Fecha de Fin de Compra</label>
        <input type="text" class="form-control form-select-sm" id="fechaFinCompra" name="fechaFinCompra"
          placeholder="Fecha de Fin de Compra" onfocus="(this.type='date')"
          onblur="if(this.value==''){this.type='text'}" />
      </div>

      <!-- Filtro por Fecha de Registro -->
      <div class="mb-2 me-2">
        <label for="fechaRegistro" class="form-label" style="font-size: 0.75rem;">Fecha de Registro</label>
        <input type="text" class="form-control form-select-sm" id="fechaRegistro" name="fechaRegistro" placeholder="Fecha de Registro"
          onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" />
      </div>

      <!-- Filtro por Localidades -->
      <div class="mb-2 me-2">
        <label for="localidades" class="form-label" style="font-size: 0.75rem;">Localidades</label>
        <select class="form-select form-select-sm" id="localidades" name="localidades">
          <option selected disabled>Seleccione Localidad</option>
          <option *ngFor="let ArrayRespu of ArrayLocalidadesFiltro"  value="{{ArrayRespu.IdTipo}}">{{ArrayRespu.Descripcion}}</option>
        </select>
      </div>

      <!-- Filtro de Número de Compras -->
      <div class="mb-2 me-2">
          <label for="numeroCompras" class="form-label" style="font-size: 0.75rem;">Número de Compras</label>
          <select class="form-control form-select-sm" id="numeroCompras" name="numeroCompras">
            <option value="" disabled selected>Número de compras</option>
            <option *ngFor="let Compranum of Comprasfiltros"  value="{{Compranum.IdTipo}}">{{Compranum.Descripcion}}</option>
          </select>
        </div>
        
    </div>

    <!-- Botones de acción -->
    <div class="d-flex justify-content-center" style="margin-bottom: 2rem;">
      <button type="submit" class="btn btn-primary me-3" style="width: 20%;">Buscar <i
          class="bi bi-search"></i></button>
      <button type="button" class="btn btn-primary me-3" style="width: 20%;">Descargar <i
          class="bi bi-download"></i></button>
      <button type="reset" class="btn btn-secondary" style="width: 20%;">Limpiar <i class="bi bi-x-circle"></i></button>
    </div>

    <!-- Mapa -->
    <div class="d-flex justify-content-center mb-4">
      <div id="map" class="ShowMapaCalor" style="width: 98%; height: 500px;"></div>
      <option *ngFor="let mapaPinsFiltro of PinsFiltro" value="{{mapaPinsFiltro.id}}">{{mapaPinsFiltro.Descripcion}}</option>
    </div>
  </div>
</div>