<div class="Fondo">
    <div class="container ">
        <br><br>
        <div class="row">
            <div class="col-sm-3">
                <label>Metros a la redonda:</label>
                <input type="number" class="form-control" [(ngModel)]="metrosRedonda" placeholder="Ej: 1000">
            </div>
            <div class="col-sm-3">
                <label>Sector:</label>
                <select class="form-control" [(ngModel)]="sectorSeleccionado">
                    <option *ngFor="let sector of sectores" [value]="sector.id">{{sector.nombre}}</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label>Filtro Compradores:</label>
                <select class="form-control" [(ngModel)]="tipoComprador">
                    <option value="0">Seleccionar</option>
                    <option value="1">Compradores</option>
                    <option value="2">No Compradores</option>
                </select>
            </div>
            <div class="col-sm-3 d-flex align-items-end">
                <button class="btn btn-primary w-100" (click)="Buscar()">Buscar</button>
            </div>
        </div>
        <br>
        <label>Número de usuarios en el mapa de calor: {{numeroUsuarios}}</label>
        <br>
        <div *ngIf="!isCalculating">
            <label>Usuarios en el radio seleccionado: <strong style="color: blue;">{{usuariosEnRadio}}</strong></label>
            <ul style="list-style: none; padding-left: 20px;">
                <li><strong style="color: green;">Compradores:</strong> {{compradoresEnRadio}}</li>
                <li><strong style="color: red;">No Compradores:</strong> {{noCompradoresEnRadio}}</li>
            </ul>
        </div>
        <div *ngIf="isCalculating">
            <label>
               Número de usuarios en el radio seleccionado: 
               <strong style="color: grey; font-style: italic;">
                  <i class="fa fa-spinner fa-spin"></i> Calculando...
               </strong>
            </label>
        </div>
        <br>
        <div id="map" class="ShowMapaCalor"></div>
    </div>
</div>