.tabla{
  width: 90%;
  border: 2px solid lightblue;
  border-collapse: collapse;

  text-align: center;
}

.primeraFila{
  background-color: #397c97;
  color: white;
  border: 2px solid white;
  text-align: center;
}

.imagenIcono
{
  height: 50px;
  width: 50px
}

.botonesRelacion{
  height: 75px;
  width: 75px;
}
