<br>
<div class="container bg-white">
    <br>
    <h1>Reporte ventas</h1>
    <!--FILTROS-->
    <div class="row">
        <div class="col-sm-6">
            <input class="col-sm-12 form-control textBox" type="number" placeholder="Consecutivo oferta"
                [(ngModel)]="OferFiltro">
        </div>
        <div class="col-sm-6">
            <ng-autocomplete [data]="DataSectores" [searchKeyword]="keywordSec" placeholder="Sector"
                (inputCleared)="LimpiaSector('')" (selected)='selectSector($event)' [itemTemplate]="templateSec"
                [notFoundTemplate]="templateVacio" [(ngModel)]="Sector">
            </ng-autocomplete>
            <ng-template #templateSec let-item>
                <a [innerHTML]="item.DSCRPCION_SCTOR"></a>
            </ng-template>
            <ng-template #templateVacio let-SinRegistro>
                <label for="">Sin registros</label>
            </ng-template>
        </div>
        <div class="col-sm-6 mt-3">
            <ng-autocomplete [data]="DataEstadoPago" [searchKeyword]="keywordEsPago" placeholder="Estado pago"
                (inputCleared)="LimpiaEstadoPago('')" (selected)='selectEstadoPago($event)'
                [itemTemplate]="templateEstadoPag" [notFoundTemplate]="templateVacio" [(ngModel)]="EstadoPago">
            </ng-autocomplete>
            <ng-template #templateEstadoPag let-item>
                <a [innerHTML]="item.descripcion"></a>
            </ng-template>
            <ng-template #templateVacio let-SinRegistro>
                <label for="">Sin registros</label>
            </ng-template>
        </div>
        <div class="col-sm-6 mt-3">
            <ng-autocomplete [data]="DataEstadoCompra" [searchKeyword]="keywordEsCompra" placeholder="Estado de compra"
                (inputCleared)="LimpiaEstadoCompra('')" (selected)='selectEstadoCompra($event)'
                [itemTemplate]="templateEstadoCompra" [notFoundTemplate]="templateVacio" [(ngModel)]="EstadoCompra">
            </ng-autocomplete>
            <ng-template #templateEstadoCompra let-item>
                <a [innerHTML]="item.descripcion"></a>
            </ng-template>
            <ng-template #templateVacio let-SinRegistro>
                <label for="">Sin registros</label>
            </ng-template>
        </div>

        <div class="col-sm-6 mt-3">
            <label><small>Fecha inicio</small></label>
            <input [(ngModel)]="FechaIniCom" class="form-control" type="date" maxlength="50">
        </div>
        <div class="col-sm-6 mt-3">
            <label><small>Fecha fin</small></label>
            <input [(ngModel)]="FechaFinCom" class="form-control" type="date" maxlength="50">
        </div>
    </div>
    <div class="row br justify-content-center">
        <div class="col-sm-3 col-2">
            <button class="btn btn-agro-prin col-sm-12" (click)="BusquedaGen()">
                Buscar
            </button>
        </div>
        <div class="col-sm-3 col-2">
            <button class="btn btn-agro-prin col-sm-12" (click)="ProductoTotal(ModalRespuesta,ModalProductos)">
                Producto total
            </button>
        </div>
        <div class="col-sm-3 col-2">
            <button class="btn btn-agro-prin col-sm-12" [disabled]="ValidaDescarga" (click)="GeneraExcel()">
                Descargar
            </button>
        </div>
        <div class="col-sm-3 col-2">
            <button class="btn btn-agro-sec col-sm-12" (click)="LimpiaForm()">
                Limpiar
            </button>
        </div>
    </div>
</div>
<br>
<label style="margin-left: 50px;">
    <strong>{{NumeroRegistros}}</strong>
</label>
<br>
<div class="row m-0 p-0">
    <table class="col-sm-12 TableAgro">
        <tr>
            <th>Fecha Compra / Oferta / Sector</th>
            <th>Nombre</th>
            <th>Teléfono / Direccion entrega</th>
            <th>Productos</th>
            <th style="width: 120px;">Valor Domicilio</th>
            <th style="width: 120px;">Total Compra</th>
            <th style="width: 80px;">Detalle</th>
        </tr>
        <tr *ngFor="let oferta of DataConsulta">
            <td>
                {{oferta.OFERTA}}
                <br> <strong>{{oferta.IdOferta}}</strong>
                <br> {{oferta.SECTOR}}
                <br>
                <label style="color: red;" *ngIf="oferta.IdEstadoCompra ==  '4' ">
                    <strong>{{oferta.DescEstadoCompra}}</strong>
                </label>
                <label style="color: #1BCA56;" *ngIf="oferta.IdEstadoCompra == '1' ">
                    <strong>{{oferta.DescEstadoCompra}}</strong>
                </label>
                <label style="color: #CA1BCA;" *ngIf="oferta.IdEstadoCompra != '4' && oferta.IdEstadoCompra != '1' ">
                    <strong>{{oferta.DescEstadoCompra}}</strong>
                </label>
                <br> <strong>{{oferta.FechaCompra}}</strong>
            </td>
            <td class="overflow">
                <strong>{{oferta.NombrePesona}}</strong>
                <br> {{oferta.CORREO_PERSONA}}
            </td>
            <td>
                <strong>{{oferta.CelularPersona}} </strong>
                <br> {{oferta.DireccionEntrega}}
            </td>
            <td>
                <div class="m-0 p-0" *ngIf="oferta.Unidades != 0 ">
                    <label>{{oferta.PRODUCTO}} : {{oferta.Unidades}} Und x
                        {{oferta.ValorProdcuto | currency : 'USD' : 'symbol' :'1.0-0'}} </label>
                    <br>
                </div>
                <div [innerHTML]="oferta.ADICIONALES"></div>
            </td>
            <td style="width: 120px;">
                {{oferta.TotalValorDomicilio | currency : 'USD' : 'symbol' :'1.0-0'}}
            </td>
            <td style="width: 120px;">
                {{oferta.TotalValorPago | currency : 'USD' : 'symbol' : '1.0-0'}}
            </td>
            <td style="width: 80px;">
                <img src=".../../../../../../../assets/ImagenesAgroApoya2Adm/info.png"
                    (click)="DetalleCompra(oferta, ModalDetalle)">
            </td>
        </tr>
    </table>
</div>
<br>
<ng-template #ModalDetalle let-modal>
    <div class="modal-header">
        <h1>Detalle compra</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div>
            <div class="row br">
                <div class="col-sm-6">
                    <h6 class="textblue"><strong>INFORMACIÓN DEL CLIENTE</strong></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="Llave">Nombre cliente:&nbsp;</label>
                    <label class="Valor">{{Filacompra.NombrePesona}}</label>
                </div>
                <div class="col-sm-6">
                    <label class="Llave">Correo:&nbsp;</label>
                    <label class="Valor">{{Filacompra.CorreoPersona}}</label>
                </div>
                <div class="col-sm-6">
                    <label class="Llave">Celular:&nbsp;</label>
                    <label class="Valor">{{Filacompra.CelularPersona}}</label>
                </div>
                <div class="col-sm-6">
                    <label class="Llave">Dirección:&nbsp;</label>
                    <label class="Valor">{{Filacompra.DireccionEntrega}}</label>
                </div>
            </div>
        </div>
        <br>
        <div>
            <div class="row br">
                <div class="col-sm-6">
                    <h6 class="textblue"><strong>INFORMACIÓN GENERAL DE LA COMPRA</strong></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="Llave">Codigo pedido:&nbsp;</label>
                    <label class="Valor">{{Filacompra.id}}</label>
                </div>
                <div class="col-sm-6">
                    <label class="Llave">Nombre sector:&nbsp;</label>
                    <label class="Valor">{{Filacompra.SECTOR}}</label>
                </div>
                <div class="col-sm-6">
                    <label class="Llave">Estado compra:&nbsp;</label>
                    <label class="Valor">{{Filacompra.DescEstadoCompra}}</label>
                </div>
                <div class="col-sm-6">
                    <label class="Llave">Estado pago:&nbsp;</label>
                    <label class="Valor">{{Filacompra.DesEstadoPago}}</label>
                </div>
                <div class="col-sm-6">
                    <label class="Llave">Tipo de pago:&nbsp;</label>
                    <label class="Valor">{{Filacompra.DesTipoPago}}</label>
                </div>
                <div class="col-sm-6">
                    <label class="Llave">Código Promocional:&nbsp;</label>
                    <label class="Valor">{{Filacompra.CodigoDescuentoGeneral}}</label>
                </div>
                <div class="col-sm-6">
                    <label class="Llave">Tipo de oferta:&nbsp;</label>
                    <label class="Valor">{{Filacompra.DesTipoOfeta}}</label>
                </div>
            </div>
        </div>
        <br>
        <div>
            <div class="row br">
                <div class="col-sm-6">
                    <h6 class="textblue"><strong>PRODUCTOS A ENTREGAR</strong></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-12" *ngIf="Filacompra.Unidades != 0 ">
                    <label>{{Filacompra.PRODUCTO}} : {{Filacompra.Unidades}} Und x
                        {{Filacompra.ValorProdcuto | currency : 'USD' : 'symbol' :'1.0-0'}} </label>
                    <br>
                </div>
                <div class="col-12">
                    <div [innerHTML]="Filacompra.ADICIONALES"></div>
                </div>
            </div>
        </div>
        <br>
        <div>
            <div class="row br">
                <div class="col-sm-6">
                    <h6 class="textblue"><strong>INFORMACIÓN DE REFERIDOS</strong></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="Llave">Número de referidos:&nbsp;</label>
                    <label class="Valor">{{Filacompra.NumReferidos}}</label>
                </div>
                <div class="col-sm-12">
                    <label class="Llave">Información de los referidos:&nbsp;</label>
                </div>
                <div class="col-12">
                    <div [innerHTML]="Filacompra.NombresReferidos"></div>
                </div>
            </div>
        </div>
        <br>
        <div>
            <div class="row br">
                <div class="col-sm-6">
                    <h6 class="textblue"><strong>INFORMACIÓN DE REFERIDOR</strong></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="Llave">Código de registro:&nbsp;</label>
                    <label class="Valor">{{Filacompra.DesCodigoRegistro}}</label>
                </div>
                <div class="col-sm-6">
                    <label class="Llave">Nombre referidor:&nbsp;</label>
                    <label class="Valor">{{Filacompra.NombreReferidor}}</label>
                </div>
            </div>
        </div>
    </div>
    <hr class="hrSinEstilo">
    <br>
    <div class="row justify-content-center">
        <button type="button" class="btn btn-agro-prin col-sm-2" (click)="modal.close()">Aceptar</button>
    </div>
    <br>
</ng-template>

<ng-template #ModalRespuesta let-modal>
    <div class="modal-header ">
        <h1>Respuesta</h1>
        <button type="button " class="btn-close " aria-label="Close " (click)="modal.dismiss() "></button>
    </div>
    <div class="modal-body ">
        <div class="row br ">
            <div class="col-sm-12 ">
                <h2 class="TituloDetalle ">{{Respuesta}}</h2>
            </div>
        </div>
    </div>
    <div class="row justify-content-center ">
        <button type="button " class="btn btn-agro-prin col-sm-6" (click)="modal.dismiss() ">Aceptar</button>
    </div>
    <br>
</ng-template>

<ng-template #ModalProductos let-modal>
    <div class="modal-header ">
        <h1>Cantidad Productos</h1>
        <button type="button " class="btn-close " aria-label="Close " (click)="modal.dismiss() "></button>
    </div>
    <div class="modal-body ">
        <div class="row br ">
            <div class="col-sm-12 ">

                <table class="col-sm-12 ">
                    <tr class="TableAgro">
                        <th>Producto</th>
                        <th>Peso Total </th>
                    </tr>
                    <tr *ngFor="let oferta of ArregloLibrasOferta">
                        <th><label class="p-2">{{oferta.Producto}}</label> </th>
                        <th style="text-align: center;">{{oferta.PesoTotal}} Libras</th>
                    </tr>
                </table>

                <table class="col-sm-12 mt-2 ">
                    <tr class="TableAgro">
                        <th>Producto</th>
                        <th>Cantidad total</th>
                        <th>Peso und</th>
                        <th>Peso Total unidad</th>
                    </tr>
                    <tr *ngFor="let oferta of ArregloUnidadesOferta">
                        <th><label class="p-2">{{oferta.Producto}}</label> </th>
                        <th style="text-align: center;"><label class="p-2">{{oferta.CantidadTotal}}</label> </th>
                        <th style="text-align: center;">{{oferta.PesoUnid}}</th>
                        <th style="text-align: center;" >{{oferta.PesoTotal}}</th>
                    </tr>
                    <tr class="TableAgro">
                        <br>
                    </tr>
                    <tr class="TableAgro">
                        <th>Totales</th>
                        <th>{{ProdTotal}}</th>
                        <th></th>
                        <th>{{LibrasTotalTotales}}</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row justify-content-center ">
        <button type="button " class="btn btn-agro-prin col-sm-6" (click)="modal.dismiss() ">Aceptar</button>
    </div>
    <br>
</ng-template>