.ImgSiguiente{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 20px;
}
th{
    padding: 0;
}
.overflow{
    overflow: auto;
}
.textrigt{
    text-align: right !important;
}
.imgpdf{
    width: 32px;
    height: 32px;
}
.hrfirma{
    margin-top: 20px;
}
.dvfirma{
    padding: 0;
}
.LetraPequeña{
    font-size: 10px;
    text-align: justify !important;
}