

.tabla{
  border: 2px solid lightblue;
  border-collapse: collapse;
  font-weight: 500;
}

.primera{
  background-color: #397c97;
  color: white;
  border: 2px solid white;
  text-align: center;
}

.btn-sort{
 font-weight: bold;
 color: white;
}

.conductores{
  border: 1px solid #397c97;
  padding: 5px;
}

.overflowth{
  overflow: auto;
}
.textcenter{
  text-align: center;
}
.textoConductor{
  color: #397c97;
  font-weight: bold;
}

.textoConductorS{
  color: #397c97;
  font-weight: bold;
  font-size: smaller;
}
.divloader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Opacity{
  opacity: 0.1;
}
.Stiky{
  position: sticky;
  top: 0;
}

.textoConductorTit{
  color: #000;
  font-weight: bold;
  font-size: smaller;
  text-align: center;
  font-size: 13px;
}