<div class="container py-5">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-3">
      <label class="textoDir"> Seleccione tipo de usuario </label>
      <select class="form-control" [(ngModel)]="tipoUsuario">
        <option value="0">Seleccione tipo de usuario</option>
        <option *ngFor="let Usu of ArrayTipoUsuario;" [value]="Usu.IdTipoUsuario">
          {{Usu.Descripcion}}
        </option>
      </select>
    </div>
    <div class="col-3">
      <label class="textoDir"> Correo persona </label>
      <input [(ngModel)]="mail" class="form-control" type="text" maxlength="50" placeholder="Correo persona">
    </div>
    <div class="col-3">
      <label class="textoDir"> Nombre Persona </label>
      <input [(ngModel)]="nombre" class="form-control" type="text" maxlength="20" placeholder="Nombre persona">
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row mt-2">
    <div class="col-1"></div>
    <div class="col-3">
      <label class="textoDir"> Codigo de usuario </label>
      <input [(ngModel)]="codigo" #inputCodigo class="form-control" type="number" placeholder="Código persona">
    </div>
    <div class="col-3">
      <label class="textoDir"> Fecha de registro desde </label>
      <input [(ngModel)]="FechaDesde" class="form-control" type="date" maxlength="50">
    </div>
    <div class="col-3">
      <label class="textoDir"> Fecha de registro hasta </label>
      <input [(ngModel)]="FechaHasta" class="form-control" type="date">
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row mt-2">
    <div class="col-1"></div>
    <div class="col-3">
      <button class="btn btn-top w-100 btn btn-agro-prin " (click)="buscar()">
        Buscar
      </button>
    </div>
    <div class="col-3">
      <button class="btn btn-top w-100 btn btn-agro-prin" (click)="limpiarDatos()">
        Limpiar
      </button>
    </div>
    <div class="col-3">
      <button class="btn btn-top w-100 btn btn-agro-prin " (click)="descargar()">
        Descargar Excel
      </button>
    </div>
    <div class="col-1"></div>
  </div>
</div>

<div class="row">
  <table class="col-sm-12 TableAgro">
    <tr>
      <th>Usucodig</th>
      <th (click)="organizarTP()">Tipo Persona</th>
      <th (click)="organizarN()">Nombre</th>
      <th>Celular</th>
      <th (click)="organizarM()">Correo</th>
      <th (click)="organizarF()">Fecha de creación</th>
      <th>Tipo Documento</th>
      <th>Número documento</th>
      <th (click)="organizarD()">Departamento</th>
      <th (click)="organizarC()">Ciudad</th>
      <th>Dirección</th>
      <th>observaciones</th>
      <th scope="col">Detalle</th>
    </tr>
    <tr *ngFor="let Usu of ArrayUsuarios;">
      <td class="textcenter">{{Usu.Usucodig}}</td>
      <td>{{Usu.DesTipoPersona}}</td>
      <td>{{Usu.NombrePersona}} {{Usu.ApellidoPersona}}</td>
      <td>{{Usu.NumeroCelular}}</td>
      <td class="overflowth">{{Usu.CorreoPersona}}</td>
      <td>{{Usu.FechaCreacion}}</td>
      <td>{{Usu.DesTipoDocumento}}</td>
      <td>{{Usu.NumeroDoc}}</td>
      <td>{{Usu.DesDepto}}</td>
      <td>{{Usu.DesCiudad}}</td>
      <td>{{Usu.Direccion}}</td>
      <td>{{Usu.Observacion}}</td>
      <td (click)="AbrirModal(Usu, ModalRespuesta)">
        <img src=".../../../../../../../assets/ImagenesAgroApoya2Adm/info.png" alt="">
      </td>
    </tr>
  </table>
</div>


<ng-template #ModalRespuesta let-modal>
  <div class="modal-header">
    <h1>Información</h1>
    <button (keyup.enter)="modal.close()" type="button" class="btn-close" aria-label="Close"
      (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body text-start mb-0">
    <div class="row justify-content-start ">
      <div class="col-12 text-center mb-2">
        <p class="textoConductor m-0 p-0 "> Nombre: </p> <span style="font-weight: bold;"> {{nombreM}} </span>
      </div>
    </div>
    <div class="row justify-content-start text-s">
      <div class="col-6">
        <p class="textoConductorS m-0 p-0 "> Fecha de creación: </p> <span> {{FechaDesdeM}} </span>
      </div>
      <div class="col-6">
        <p class="textoConductorS m-0 p-0 "> Tipo de usuario: </p> <span> {{tipoUsuarioM}} </span>
      </div>
      <div class="col-6">
        <p class="textoConductorS m-0 p-0 "> Código: </p> <span> {{codigoM}} </span>
      </div>
    </div>
    <label></label>
    <div class="row">
      <div class="col-6">
        <p class="textoConductorS m-0 p-0 "> Nombre: </p> <span> {{nombreM}} </span>
      </div>
      <div class="col-6">
        <p class="textoConductorS m-0 p-0 "> Correo electrónico: </p> <span> {{mailM}} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p class="textoConductorS m-0 p-0 "> Tipo de documento: </p> <span> {{tipoDocumento}} </span>
      </div>
      <div class="col-6">
        <p class="textoConductorS m-0 p-0 "> Número de documento: </p> <span> {{numDoc}} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p class="textoConductorS m-0 p-0 "> Número de celular: </p> <span> {{celular}} </span>
      </div>
      <div class="col-6">
        <p class="textoConductorS m-0 p-0 "> Dirección: </p> <span> {{direccion}} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p class="textoConductorS m-0 p-0 "> Derpartamento: </p> <span> {{dpto}} </span>
      </div>
      <div class="col-6">
        <p class="textoConductorS m-0 p-0 "> Ciudad: </p> <span> {{ciudad}} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="textoConductorS m-0 p-0"> Observaciones: </p> <span> {{observaciones}} </span>
      </div>
    </div>
    <hr>
  </div>
  <div class="m-0 pt-0 text-start modal-body" *ngIf="cliente">
    <div class="row">
      <div class="col-6">
        {{razonS}}
      </div>
      <div class="col-6">
        {{NIT}}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p class="textoConductorS m-0 p-0"> Descripción: </p> <span> {{descripcion}} </span>
      </div>
      <div class="col-6">
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p class="textoConductorS m-0 p-0"> Tipo cliente: </p> <span> {{tipoC}} </span>
      </div>
      <div class="col-6">
        <p class="textoConductorS m-0 p-0"> Coordenadas: </p> <span> {{coordenadas}} </span>
      </div>
    </div>
  </div>
  <div class="modal-body text-center" *ngIf="transportista">
    <div *ngIf="conductores">
      <p class="textoConductor" *ngIf="conductores"> MIS CONDUCTORES: </p>
      <div *ngFor="let con of arrayConductores" class="conductores mb-1 ">
        <div class="row">
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Descripción: </p> <span> {{con.IdConductor}} </span>
          </div>
          <div class="col-6">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Nombre: </p> <span> {{con.NombreConductor}} </span>
          </div>
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Correo electrónico: </p> <span> {{con.CorreoPersona}} </span>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Tipo de documento: </p> <span> {{con.DescTipoDocumento}} </span>
          </div>
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Número: </p> <span> {{con.NumeroDocumento}} </span>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Teléfono: </p> <span> {{con.Telefono}} </span>
          </div>
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Dirección: </p> <span> {{con.Direccion}} </span>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Departamento: </p> <span> {{con.DescDepa}} </span>
          </div>
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Ciudad: </p> <span> {{con.DesCiudad}} </span>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Coordinadas: </p> <span> {{con.Coordenadas}} </span>
          </div>
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Placa del vehículo: </p> <span> {{con.Placa}} </span>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Carrocería: </p> <span> {{con.DesCarroceria}} </span>
          </div>
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Peso: </p> <span> {{con.DesPesoCarro}} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <button (keyup.enter)="modal.close()" type="button" class="btn btn-agro-prin col-sm-2"
      (click)="modal.close()">Aceptar</button>
  </div>
  <br>
</ng-template>