<div class="container py-5">
<div class="row">
  <div class="col-1"></div>
  <div class="col-3">
    <label class="textoDir"> Selección tipo de usuario </label>
    <select class="form-control" [(ngModel)]="tipoUsuario">
      <option value="0">Seleccione tipo de usuario</option>
      <option *ngFor="let Usu of ArrayTipoUsuario;" [value]="Usu.IdTipoUsuario" >
      {{Usu.Descripcion}}
    </option>
    </select>
  </div>
  <div class="col-3">
    <label class="textoDir"> Correo Usuario </label>
    <input [(ngModel)]="mail" class="form-control" type="text" maxlength="50" placeholder="Correo persona">
  </div>
  <div class="col-3">
    <label class="textoDir"> Nombre Persona </label>
    <input [(ngModel)]="nombre" class="form-control" type="text" maxlength="20" placeholder="Nombre persona">
  </div>
  <div class="col-1"></div>
</div>
<div class="row mt-2">
  <div class="col-1"></div>
  <div class="col-3">
    <label class="textoDir"> Codigo de usuario </label>
    <input [(ngModel)]="codigo" class="form-control" type="text" placeholder="Código persona" >
  </div>
  <div class="col-3">
    <label class="textoDir"> Fecha de registro desde </label>
    <input [(ngModel)]="FechaDesde" class="form-control" type="datetime" maxlength="50">
  </div>
  <div class="col-3">
    <label class="textoDir"> Fecha de registro hasta </label>
    <input [(ngModel)]="FechaHasta" class="form-control" type="datetime" maxlength="50">
  </div>
  <div class="col-1"></div>
</div>
<div class="row mt-2">
  <div class="col-2"></div>
  <div class="col-3">
    <button  class="btn btn-top w-100 btn btn-agro-prin " (click)="buscar()">
      Buscar
    </button>
  </div>
  <div class="col-3">
    <button  class="btn btn-top w-100 btn btn-agro-prin" (click)="limpiarDatos()">
      Limpiar
    </button>
  </div>
  <div class="col-3">
    <button  class="btn btn-top w-100 btn btn-agro-prin " (click)="descargar()">
      Descargar Excel
    </button>
  </div>
  <div class="col-1"></div>
</div>
</div>

<table class="tabla mx-auto" >
  <tr>
    <th>Usucodig</th>
    <th>
      <button class="btn btn-sort" (click)="organizarTP()"> Tipo Persona </button>
    </th>
    <th>
      <button class="btn btn-sort" (click)="organizarN()"> Nombre </button>
    </th>
    <th>Celular</th>
    <th>
      <button class="btn btn-sort" (click)="organizarM()"> Correo </button>
    </th>
    <th>
      <button class="btn btn-sort" (click)="organizarF()"> FechaCreacion </button>
    </th>
    <th style="width:5%">Tipo Documento</th>
    <th>Número documento</th>
    <th>
      <button class="btn btn-sort" (click)="organizarD()"> Departamento</button>
    </th>
    <th>
      <button class="btn btn-sort" (click)="organizarC()"> Ciudad </button>
    </th>
    <th>Dirección</th>
    <th>Observacion</th>
    <th>Acciones</th>
  </tr>
  <tr *ngFor="let Usu of ArrayUsuarios;">
    <th>{{Usu.Usucodig}}</th>
    <th>{{Usu.DesTipoPersona}}</th>
    <th>{{Usu.NombrePersona}} {{Usu.ApellidoPersona}}</th>
    <th>{{Usu.NumeroCelular}}</th>
    <th>{{Usu.CorreoPersona}}</th>
    <th>{{Usu.FechaCreacion}}</th>
    <th>{{Usu.DesTipoDocumento}}</th>
    <th>{{Usu.NumeroDoc}}</th>
    <th>{{Usu.DesDepto}}</th>
    <th>{{Usu.DesCiudad}}</th>
    <th>{{Usu.Direccion}}</th>
    <th>{{Usu.Observacion}}</th>
    <th>
      <button class="btn" (click)="AbrirModal(Usu, ModalRespuesta)"> ver más </button>
    </th>
  </tr>
</table>


<ng-template #ModalRespuesta let-modal>
  <div class="modal-header">
      <h1>Información</h1>
      <button (keyup.enter)="modal.close()" type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body text-center">
    <div class="row justify-content-start">
      <div class="col-12">
        {{nombreM}}
      </div>
      </div>
      <div class="row justify-content-start">
        <div class="col-12">
          {{tipoUsuarioM}}
        </div>
      </div>
      <div class="row justify-content-start">
        <div class="col-6">
          {{codigoM}}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          {{nombreM}}
        </div>
        <div class="col-6">
          {{mailM}}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          {{tipoDocumento}}
        </div>
        <div class="col-6">
          {{numDoc}}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          {{celular}}
        </div>
        <div class="col-6">
          {{direccion}}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          {{dpto}}
        </div>
        <div class="col-6">
          {{ciudad}}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          {{observaciones}}
        </div>
      </div>
  </div>
  <div class="modal-body text-center" *ngIf="cliente">
    <div class="row">
      <div class="col-6">
        {{razonS}}
      </div>
      <div class="col-6">
        {{NIT}}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        {{descripcion}}
      </div>
      <div class="col-6">
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        {{tipoC}}
      </div>
      <div class="col-6">
        {{coordenadas}}
      </div>
    </div>
  </div>
  <div class="modal-body text-center" *ngIf="transportista">
    <div class="row">
      <div class="col-6">
        {{coordenadas}}
      </div>
      <div class="col-6">
      </div>
    </div>
    <div *ngIf="conductores">
      <p class="textoConductor"> MIS CONDUCTORES: </p>
      <div *ngFor="let con of arrayConductores" class="conductores">
        <div class="row">
          <div class="col-6">
            {{con.IdConductor}}
          </div>
          <div class="col-6">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            {{con.NombreConductor}}
          </div>
          <div class="col-6">
            {{con.CorreoPersona}}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            {{con.DescTipoDocumento}}
          </div>
          <div class="col-6">
            {{con.NumeroDocumento}}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            {{con.Telefono}}
          </div>
          <div class="col-6">
            {{con.Direccion}}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            {{con.DescDepa}}
          </div>
          <div class="col-6">
            {{con.DesCiudad}}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            {{con.Coordenadas}}
          </div>
          <div class="col-6">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            {{con.Placa}}
          </div>
          <div class="col-6">
            {{con.DesCarroceria}}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            {{con.DesPesoCarro}}
          </div>
          <div class="col-6">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
      <button (keyup.enter)="modal.close()" type="button" class="btn btn-agro-prin col-sm-2" (click)="modal.close()">Aceptar</button>
  </div>
  <br>
</ng-template>
