<div class="container py-5" [ngClass]="Loader == true ? 'Opacity' : '' ">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3">
      <label class="textoDir"> Seleccione tipo de usuario </label>
      <select class="form-control" [(ngModel)]="tipoUsuario">
        <option value="0">Seleccione tipo de usuario</option>
        <option *ngFor="let Usu of ArrayTipoUsuario;" [value]="Usu.IdTipoUsuario">
          {{Usu.Descripcion}}
        </option>
      </select>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <label class="textoDir"> Correo persona </label>
      <input [(ngModel)]="mail" class="form-control" type="text" maxlength="50" placeholder="Correo persona">
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <label class="textoDir"> Nombre Persona </label>
      <input [(ngModel)]="nombre" class="form-control" type="text" maxlength="20" placeholder="Nombre persona">
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <label class="textoDir"> Codigo de usuario </label>
      <input [(ngModel)]="codigo" #inputCodigo class="form-control" type="number" placeholder="Código persona">
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <label class="textoDir"> Fecha de registro desde </label>
      <input [(ngModel)]="FechaDesde" class="form-control" type="date" maxlength="50">
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <label class="textoDir"> Fecha de registro hasta </label>
      <input [(ngModel)]="FechaHasta" class="form-control" type="date">
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <label class="textoDir"> Celular </label>
      <input [(ngModel)]="CelularFiltro" class="form-control">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 col-sm-6 col-md-3 mt-2">
      <button class="btn btn-top w-100 btn btn-agro-prin " (click)="UpdateManyChatUsers()">
        ActualizaManyChat
      </button>
    </div>
    <div class=" col-12 col-sm-6 col-md-3 mt-2">
      <button class="btn btn-top w-100 btn btn-agro-prin " (click)="buscar()">
        Buscar
      </button>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mt-2">
      <button class="btn btn-top w-100 btn btn-agro-prin" (click)="limpiarDatos()">
        Limpiar
      </button>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mt-2">
      <button class="btn btn-top w-100 btn btn-agro-prin " (click)="descargar()">
        Descargar Excel
      </button>
    </div>
  </div>
</div>

<div class="row" [ngClass]="Loader == true ? 'Opacity' : '' ">
  <table class="col-sm-12 TableAgro">
    <tr class="Stiky">
      <th>Usucodig</th>
      <th (click)="organizarTP()">Tipo Persona</th>
      <th (click)="organizarN()">Nombre</th>
      <th>Celular</th>
      <th (click)="organizarM()">Correo</th>
      <th (click)="organizarF()">Fecha de creación</th>
      <th>Tipo Documento</th>
      <th>Número documento</th>
      <th (click)="organizarD()">Departamento</th>
      <th (click)="organizarC()">Ciudad</th>
      <th>Dirección</th>
      <th>observaciones</th>
      <th scope="col">Detalle</th>
    </tr>
    <tr *ngFor="let Usu of ArrayUsuarios;">
      <td class="textcenter">{{Usu.Usucodig}}</td>
      <td>{{Usu.DesTipoPersona}}</td>
      <td>{{Usu.NombrePersona}} {{Usu.ApellidoPersona}}</td>
      <td>{{Usu.NumeroCelular}}</td>
      <td class="overflowth">{{Usu.CorreoPersona}}</td>
      <td>{{Usu.FechaCreacion}}</td>
      <td>{{Usu.DesTipoDocumento}}</td>
      <td>{{Usu.NumeroDoc}}</td>
      <td>{{Usu.DesDepto}}</td>
      <td>{{Usu.DesCiudad}}</td>
      <td>{{Usu.Direccion}}</td>
      <td>{{Usu.Observacion}}</td>
      <td (click)="AbrirModal(Usu, ModalRespuesta)">
        <img src=".../../../../../../../assets/ImagenesAgroApoya2Adm/info.png" alt="" class="CursorPointer">
      </td>
    </tr>
  </table>
</div>


<ng-template #ModalRespuesta let-modal>
  <div class="modal-header">
    <h1>Información</h1>
    <button (keyup.enter)="modal.close()" (keyup.enter)="cerrarModalrespuesta()" type="button" class="btn-close"
      aria-label="Close" (click)="modal.dismiss()" (click)="cerrarModalrespuesta()"></button>
  </div>
  <div class="modal-body text-start mb-0">
    <div class="row justify-content-start ">
      <div class="col-12 text-center mb-2">
        <p class="textoConductor m-0 p-0 "> Nombre: <span class="textoConductorTit" style="font-weight: bold;">
            {{nombreM}} </span></p>
      </div>
    </div>
    <div class="row justify-content-start text-s">
      <div class="col-6">
        <p class="textoConductorS m-0 p-0 "> Fecha de creación: <span class="textoConductorTit"> {{FechaDesdeM}} </span>
        </p>
      </div>
      <div class="col-6">
        <p class="textoConductorS m-0 p-0 "> Tipo de usuario: <span class="textoConductorTit"> {{tipoUsuarioM}} </span>
        </p>
      </div>
      <div class="col-6">
        <p class="textoConductorS m-0 p-0 "> Código: <span class="textoConductorTit"> {{codigoM}} </span></p>
      </div>
    </div>
    <label></label>
    <div class="row">
      <div class="col-6">
        <p class="textoConductorS m-0 p-0 "> Nombre: <span class="textoConductorTit"> {{nombreM}} </span></p>
      </div>
      <div class="col-6">
        <p class="textoConductorS m-0 p-0 "> Correo electrónico: <span class="textoConductorTit"> {{mailM}} </span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p class="textoConductorS m-0 p-0 "> Tipo de documento: <span class="textoConductorTit"> {{tipoDocumento}}
          </span></p>
      </div>
      <div class="col-6">
        <p class="textoConductorS m-0 p-0 "> Número de documento: <span class="textoConductorTit"> {{numDoc}} </span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p class="textoConductorS m-0 p-0 "> Número de celular: <span class="textoConductorTit"> {{celular}} </span></p>
      </div>
      <div class="col-6">
        <p class="textoConductorS m-0 p-0 "> Dirección: <span class="textoConductorTit"> {{direccion}} </span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p class="textoConductorS m-0 p-0 "> Derpartamento: <span class="textoConductorTit"> {{dpto}} </span></p>
      </div>
      <div class="col-6">
        <p class="textoConductorS m-0 p-0 "> Ciudad: <span class="textoConductorTit"> {{ciudad}} </span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="textoConductorS m-0 p-0"> Observaciones: <span class="textoConductorTit"> {{observaciones}} </span>
        </p>
      </div>
    </div>
    <hr>


    <div class="row" *ngIf="referidor != null && referidor != ''">
      <h2>Referidor</h2>
      <div class="row">
        <div class="col-sm-4">
          <p class="textoConductorTit m-0 p-0 "> Nombre </p>
        </div>
        <div class="col-sm-6">
          <p class="textoConductorTit m-0 p-0 "> Email </p>
        </div>
        <div class="col-sm-2">
          <p class="textoConductorTit m-0 p-0 "> Codigo </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <p class="textoConductorS textcenter m-0 p-0 "> {{referidor}} </p>
        </div>
        <div class="col-sm-6">
          <p class="textoConductorS textcenter m-0 p-0 "> {{emailreferidor}} </p>
        </div>
        <div class="col-sm-2">
          <p class="textoConductorS textcenter m-0 p-0 "> {{CodIngresado}} </p>
        </div>
      </div>
    </div>

    <hr class="mt-2 mb-2" *ngIf="referidor != null && referidor != ''">
  </div>
  <div class="m-0 pt-0 text-start modal-body" *ngIf="cliente">
    <!--<div class="row">
      <div class="col-6">
        {{razonS}}
      </div>
      <div class="col-6">
        {{NIT}}
      </div>
    </div>-->
    <div class="row">
      <div class="col-6">
        <p class="textoConductorS m-0 p-0"> Descripción: <span class="textoConductorTit"> {{descripcion}} </span></p>
      </div>
      <div class="col-6">
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p class="textoConductorS m-0 p-0"> Tipo cliente: <span class="textoConductorTit"> {{tipoC}} </span></p>
      </div>
      <div class="col-6">
        <p class="textoConductorS m-0 p-0"> Coordenadas: <span class="textoConductorTit"> {{coordenadas}} </span></p>
      </div>
    </div>
  </div>
  <div class="modal-body text-center" *ngIf="transportista">
    <div *ngIf="conductores">
      <p class="textoConductor" *ngIf="conductores"> MIS CONDUCTORES: </p>
      <div *ngFor="let con of arrayConductores" class="conductores mb-1 ">
        <div class="row">
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Descripción: <span class="textoConductorTit"> {{con.IdConductor}}
              </span></p>
          </div>
          <div class="col-6">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Nombre: <span class="textoConductorTit"> {{con.NombreConductor}} </span>
            </p>
          </div>
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Correo electrónico: <span class="textoConductorTit">
                {{con.CorreoPersona}} </span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Tipo de documento: <span class="textoConductorTit">
                {{con.DescTipoDocumento}} </span></p>
          </div>
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Número: <span class="textoConductorTit"> {{con.NumeroDocumento}} </span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Teléfono: <span class="textoConductorTit"> {{con.Telefono}} </span></p>
          </div>
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Dirección: <span class="textoConductorTit"> {{con.Direccion}} </span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Departamento: <span class="textoConductorTit"> {{con.DescDepa}} </span>
            </p>
          </div>
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Ciudad: <span class="textoConductorTit"> {{con.DesCiudad}} </span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Coordinadas: <span class="textoConductorTit"> {{con.Coordenadas}}
              </span></p>
          </div>
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Placa del vehículo: <span class="textoConductorTit"> {{con.Placa}}
              </span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Carrocería: <span class="textoConductorTit"> {{con.DesCarroceria}}
              </span></p>
          </div>
          <div class="col-6">
            <p class="textoConductorS m-0 p-0"> Peso: <span class="textoConductorTit"> {{con.DesPesoCarro}} </span></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-body text-start mb-0" *ngIf="cliente && ArrayHistorialCompras.length > 0">
    <div class="row justify-content-start mb-5">
      <div class="col-12 text-center mb-2">
        <p class="primera m-0 p-0 ">
          <span class="textoConductorTit" style="font-weight: bold; color: white;"> Total Compras </span>
        </p>
      </div>

      <div class="col-sm-6">
        <p class="textoConductorS m-0 p-0 text-center">Valor total:
          <span class="textoConductorTit">{{valorTotalRecaudo | currency : 'USD' : 'symbol' :'1.0-0'}}</span>
        </p>
      </div>
      <div class="col-sm-6">
        <p class="textoConductorS m-0 p-0" *ngIf="numTotalRegalo > 0">
          <span class="textoConductorTit">{{nombreM}} obtuvo {{numTotalRegalo}} obsequio(s) en total.</span>
        </p>
        <p class="textoConductorS m-0 p-0" *ngIf="numTotalRegalo == 0">
          <span class="textoConductorTit">{{nombreM}} no a obtenido ningún obsequios</span>
        </p>
      </div>
    </div>
    <div class="row" *ngFor="let respu of ArrayHistorialCompras; let i = index">
      <div class="row justify-content-start ">
        <div class="col-12 text-center mb-2">
          <p class="primera m-0 p-0 ">
            <span class="textoConductorTit" style="font-weight: bold; color: white;"> {{respu.Cd_cnsctivo}} </span>
          </p>
        </div>
      </div>
      <div class="row justify-content-start text-s">

        <div class="col-sm-6">

          <p class="textoConductorS m-0 p-0">Prodocuntos:</p>

          <p class="textoConductorS m-0 p-0" *ngIf="respu.Unidades > 0">
            <span class="textoConductorTit">{{respu.Producto}} - {{respu.Empaque}} : {{respu.Unidades}} x
              {{respu.ValorPagarPrin | currency : 'USD' : 'symbol' :'1.0-0'}} </span>
          </p>
          <p class="textoConductorS m-0 p-0" *ngFor="let top of respu.Toppings; let t = index">
            <span class="textoConductorTit">{{top}}</span>
          </p>

          <hr class="mt-2 mb-2">

          <p class="textoConductorS m-0 p-0 mb-3 textcenter">Total:
            <span class="textoConductorTit">{{respu.ValorPagar | currency : 'USD' : 'symbol' :'1.0-0'}}</span>
          </p>
        </div>


        <div class="col-sm-6">

          <p class="textoConductorS m-0 p-0">Obsequios:</p>
          <p class="textoConductorS m-0 p-0" *ngFor="let regalo of respu.RegalosCompra; let r = index">
            <span class="textoConductorTit">{{regalo}}</span>
          </p>

          <p class="textoConductorS m-0 p-0"
            *ngIf="respu.RegalosCompra == undefined || respu.RegalosCompra.length == 0">
            <span class="textoConductorTit">{{nombreM}} No obtuvo obsequios en esta oferta.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <button (keyup.enter)="modal.close()" (keyup.enter)="cerrarModalrespuesta()" type="button"
      class="btn btn-agro-prin col-sm-2 m-2" (click)="modal.close()" (click)="cerrarModalrespuesta()">Aceptar</button>

    <button (keyup.enter)="consulta_historial_Mtd()" type="button" class="btn btn-agro-prin col-sm-2 m-2"
      (click)="consulta_historial_Mtd()" *ngIf="ArrayHistorialCompras.length == 0">Ver historial</button>
  </div>
  <br>
</ng-template>


<ng-template #templaUsersCtualizados let-modal>
  <div class="p-2">
    <div class="modal-header">
      <img style="width: 40px; margin-right: 10px;" src="../../../../assets/ImagenesAgroApoya2Adm/ic_Agro.png">
      <h5 class="modal-title TituloForm LblVerde">Usuarios a los cuales se les actualizo la informacion</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="mt-4 mb-4 text-center">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Usuario</th>
            <th scope="col">Email</th>
            <th scope="col">Telefono</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let res of ArrayUsersActualizados; let i = index">
            <th scope="row">{{res.NombrePersona}}</th>
            <td style="overflow: auto;">{{res.CorreoElectronico}}</td>
            <td>{{res.NumTelefono}}</td>
            <td><img style="width: 20px;" [src]="res.img"></td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="row justify-content-center">
      <div class="col-6 textcenter">
        <button type="button" id="btnGuardarDirecccion" class="btn btn-top w-100 btn btn-agro-prin col-sm-12"
          (click)="modal.dismiss('Cross click')"> Aceptar </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #templaMensaje let-modal>
  <div class="p-2">
    <div class="modal-header">
      <img style="width: 40px; margin-right: 10px;" src="../../../../assets/ImagenesAgroApoya2Adm/ic_Agro.png">
      <h5 class="modal-title TituloForm LblVerde">AgroApoya2Admin</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="mt-4 mb-4 text-center">
      <div class="row">
        <h5 class="modal-title TituloForm LblVerde">En este momento no hay usuarios disponibles para actualizar!</h5>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 textcenter">
        <button type="button" id="btnGuardarDirecccion" class="btn btn-top w-100 btn btn-agro-prin col-sm-12"
          (click)="modal.dismiss('Cross click')"> Aceptar </button>
      </div>
    </div>
  </div>
</ng-template>

<div class="divloader" *ngIf="Loader == true">
  <img src="../../../../assets/animate/svg-loaders/circles.svg" />
  <h3 style="color: #397c97;">Cargando....</h3>
</div>