<div class="container bg-white">
    <br>
    <h1 class="br">Administración Piezas Publicitarias </h1>
    <br>
    <div class="row br">
        <div class="col-sm-12">
            <select #moduloselect class="form-control form-control-sm textBox" [(ngModel)]="IdListaModulo"
                (change)="CambiarBtnModulo(moduloselect.value)" title="Seleccionar el tipo de plantilla">
                <option value="0">Seleccione modulo</option>
                <option value="{{Respu.Id}}" *ngFor="let Respu of arregloListaModulo" [selected]="Respu.Id == IdModulo">
                    {{Respu.Descripcion}}</option>
            </select>
        </div>
    </div>
    <div class="row br justify-content-center">
        <div class="col-sm-3">
            <button class="col-sm-12 btn btn-agro-prin" *ngIf="banderaAgregar == '1'" title="Agregar Modulo"
                (click)="AgregarModulo(templateAgregarModulo)">
                Crear modulo</button>
            <button class="col-sm-12 btn btn-agro-prin" title="Editar Modulo"
                (click)="EditarModulo(templateEditarModulo)" *ngIf="banderaAgregar == '2'">
                Editar modulo</button>
        </div>
        <div class="col-sm-3">
            <button class="col-sm-12 btn btn-agro-sec" title="Editar Modulo" (click)="Limpiar()">
                Limpiar</button>
        </div>
    </div>

    <div class="row br">
        <div class="col-sm-12 m-1 " (click)="AgregarDetalleImagen(templateAgregarDetalleImg, tarjeta)"
            *ngFor="let tarjeta of ConsultaTarjetas" class="tarjetadetallePubli" [style.width.px]="tarjeta.ancho"
            [style.height.px]="tarjeta.alto">
            <img id="Imagen1" title="Selecciona una imagen" [src]="tarjeta.Imagen" class="imagendetalle">
        </div>
    </div>

</div>

<ng-template #templateAgregarModulo let-modal>
    <div class="modal-header">
        <h1 class="modal-title" id="modal-basic-title">Agregar Módulo</h1>
        <button type="button" class="btn-close" aria-label="Close"
            (click)="CrearModuloCompleto(ModalRespuesta)"></button>
    </div>
    <div class="modal-body">
        <div class="row br">
            <div class="col-sm-12">
                <input type="text" class="col-sm-12 form-control form-control-sm textBox"
                    [disabled]="auxGuardarNombreMod == '2'" [(ngModel)]="NombreModulo"
                    [ngModelOptions]="{standalone: true}" name="NombreModulo" placeholder="Nombre del modulo">
            </div>
        </div>

        <div class="row br" *ngIf="VerOcultarCampos != '1'">
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Ancho</label>
                <input class="col-sm-12 form-control form-control-sm textBox" [(ngModel)]="boxAncho" type="number"
                    name="Ancho">
            </div>
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Largo</label>
                <input class="col-sm-12 form-control form-control-sm textBox" [(ngModel)]="boxLargo" type="number"
                    name="Largo">
            </div>
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Orden</label>
                <input class="col-sm-12 form-control form-control-sm textBox" [(ngModel)]="boxOrden" type="number"
                    name="Orden">
            </div>

        </div>
        <div class="row br justify-content-center mt-3" *ngIf="VerOcultarCampos != '1'">
            <div class="col-sm-3 col-12">
                <button class="col-sm-12 btn btn-agro-prin"
                    (click)="BtnGuardarModuloDetalle(ModalRespuesta)">Agregar</button>
            </div>
        </div>
        <div class="br row justify-content-center" *ngIf="VerOcultarCampos != '1' && VerOcultarCampos !='2'">
            <hr>
            <table class="col-sm-12 TableAgro">
                <tr>
                    <th>Ancho</th>
                    <th>Alto</th>
                    <th>Orden</th>
                    <th>Eliminar</th>
                </tr>
                <tr *ngFor="let mod of ConsultaTarjetas">
                    <td>{{mod.ancho}}</td>
                    <td>{{mod.alto}}</td>
                    <td>{{mod.Orden}}</td>
                    <td>
                        <button class="SinEstilo" (click)="BtnEliminarDetalleMod(mod, ModalRespuesta)">
                            <img src="./../../../../../assets/ImagenesAgroApoya2Adm/basura.png"
                                class="BtnimgTamanoPeque mr-2">
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-sm-3" *ngIf="auxGuardarNombreMod == '1'">
                <button class="col-sm-12 btn btn-agro-prin" (click)="BtnGuardarModulo(ModalRespuesta)"
                    title="Agregar Nombre Modulo">
                    Guardar</button>
            </div>
            <div class="col-sm-3" *ngIf="auxGuardarNombreMod == '2'">
                <button class="col-sm-12 btn btn-agro-prin" (click)="CrearModuloCompleto(ModalRespuesta)"
                    title="Agregar Nombre Modulo">
                    Aceptar</button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #templateAgregarDetalleImg let-modal>
    <div class="modal-header">
        <h1 class="modal-title" id="modal-basic-title">Detalle</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Ancho</label>
                <input class="col-sm-12 form-control form-control-sm textBox" disabled [(ngModel)]="boxAncho"
                    type="number" name="Ancho">
            </div>
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Largo</label>
                <input class="col-sm-12 form-control form-control-sm textBox" disabled [(ngModel)]="boxLargo"
                    type="number" name="Largo">
            </div>
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Orden</label>
                <input class="col-sm-12 form-control form-control-sm textBox" disabled [(ngModel)]="boxOrden"
                    type="number" name="Orden">
            </div>
        </div>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">URL</label>
                <input class="col-sm-12 form-control form-control-sm textBox" [(ngModel)]="boxPath" type="text"
                    name="Direccion">
            </div>
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Acción</label>
                <select class="form-control form-control-sm textBox" #selectaccion
                    (change)="SelectAccion(selectaccion.value)" title="Seleccionar el tipo de plantilla">
                    <option value="0">Seleccinar acción...</option>
                    <option *ngFor="let Respu of arregloListaAccion" [value]="Respu.Id"
                        [selected]="Respu.Id == IdListaAccion">
                        {{Respu.Descripcion}}</option>
                </select>
            </div>

            <div class="col-sm-4">
                <button type="button" class="btn-warning col-sm-12">
                    <i class="fa fa-upload marginleft"></i> Subir Imagen
                    <input name="file-input3" id="file-input3" type="file" [(ngModel)]="btnImagen"
                        (change)="CargaImgPublicidad($event, ModalRespuesta)" />
                </button>
            </div>

        </div>
        <div class="row br justify-content-center mt-3">
            <div class="col-sm-3 col-12">
                <button class="col-sm-12 btn btn-agro-prin"
                    (click)="BtnGuardarModAccion(ModalRespuesta)">Guardar</button>
            </div>
        </div>
    </div>

</ng-template>

<ng-template #ModalRespuesta let-modal>
    <div class="modal-header">
        <h1>Respuesta</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row br">
            <div class="col-sm-12">
                <h2 class="TituloDetalle">{{Respuesta}}</h2>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <button type="button" class="btn btn-agro-prin col-sm-2" (click)="modal.close()">Aceptar</button>
    </div>
    <br>
</ng-template>

<ng-template #templateEditarModulo let-modal>
    <div class="modal-header">
        <h1 class="modal-title" id="modal-basic-title">Editar Módulo</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row br">
            <div class="col-sm-12">
                <label class="col-sm-12 Llave">Nombre módulo </label>
                <input type="text" class="col-sm-12 form-control form-control-sm textBox" [(ngModel)]="NombreModulo"
                    name="NombreModulo" disabled>
            </div>
        </div>
        <div class="row br">
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Ancho</label>
                <input class="col-sm-12 form-control form-control-sm textBox" [(ngModel)]="boxAncho" type="number"
                    name="Ancho">
            </div>
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Largo</label>
                <input class="col-sm-12 form-control form-control-sm textBox" [(ngModel)]="boxLargo" type="number"
                    name="Largo">
            </div>
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Orden</label>
                <input class="col-sm-12 form-control form-control-sm textBox" [(ngModel)]="boxOrden" type="number"
                    name="Orden">
            </div>
        </div>
        <div class="row br justify-content-center mt-3">
            <div class="col-sm-3 col-12">
                <button class="col-sm-12 btn btn-agro-prin"
                    (click)="BtnGuardarModuloDetalle(ModalRespuesta)">Agregar</button>
            </div>
        </div>
        <div class="br row justify-content-center">
            <hr>
            <table class="col-sm-12 TableAgro">
                <tr>
                    <th>Ancho</th>
                    <th>Alto</th>
                    <th>Orden</th>
                    <th>Eliminar</th>
                </tr>
                <tr *ngFor="let mod of ConsultaTarjetas">
                    <td>{{mod.ancho}}</td>
                    <td>{{mod.alto}}</td>
                    <td>{{mod.Orden}}</td>
                    <td>
                        <button class="SinEstilo" (click)="BtnEliminarDetalleMod(mod, ModalRespuesta)">
                            <img src="./../../../../../assets/ImagenesAgroApoya2Adm/basura.png"
                                class="BtnimgTamanoPeque mr-2">
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row br justify-content-center mt-3">
            <div class="col-sm-3 col-12">
                <button class="col-sm-12 btn btn-agro-prin" (click)="modal.dismiss()">Aceptar</button>
            </div>
        </div>
    </div>
</ng-template>