.image-upload {
    text-align: center;
    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}
.btn-warning{
    position: relative;
    padding: 11px 16px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 5px;
    color: #fff;
    background-color: #397c97;
    border: 1px solid #397c97;
    transition: 0.2s;
    overflow: hidden; 
    margin-top: 25px;
    bottom: 6px;
  }
  
  .btn-warning input[type = "file"]{
    cursor: pointer;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: scale(3);
    opacity: 0;
  }
  
  .btn-warning:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
  }
  
  .tarjeta{
    display: flex;
  }

  .styleTarget{
    border:#397c97 1 px solid;
  }