.Texto{
    text-align: center;
}
.Mensaje{
    color: #397c97;
    font-weight: 500;
}
.icPasword{
    width: 25px;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
    padding: auto;
    margin-left: 5px;
    cursor: pointer;
}
.ConPasword{
    display: flex;
    justify-content: space-between;
  }