<div *ngIf="SeccionUno == true" class="container">
    <div class="row justify-content-center">
        <h1 class="mt-2">Olvidé mi contraseña</h1>
        <div class="form-group col-11 col-lg-11">
            <input [(ngModel)]="Email" type="email" class="form-control Texto"
                placeholder="Correo electrónico con el cual te registraste." (keypress)="LimpiarMsj()">
            <small class="form-text text-muted Mensaje">{{Mensaje}}</small>
            <button class="btn ColorAgro mt-2 col-4" *ngIf="IsBusy == '1'" (click)="GenerarCodigo(ModalGuardar)">Generar código</button>
        </div>
    </div>
</div>

<!--SeccionDos-->
<div *ngIf="SeccionDos == true" class="container">
    <div class="row">
        <h1 class="mt-1">Código</h1>
        <br />
        <div class="form-group m-1 col-lg-11 row justify-content-center">
            <label>Por favor ingresa el código enviado.</label>

            <div class="col-sm-3">
                <input [(ngModel)]="Cod1" id="Cod1" maxlength="1" type="text" class="m-2 form-control Texto"
                    placeholder="">
            </div>
            <div class="col-sm-3">
                <input [(ngModel)]="Cod2" maxlength="1" type="text" class="m-2 form-control Texto"
                    placeholder="">
            </div>
            <div class="col-sm-3">
                <input [(ngModel)]="Cod3" maxlength="1" type="text" class="m-2 form-control Texto"
                    placeholder="">
            </div>
            <div class="col-sm-3">
                <input [(ngModel)]="Cod4" maxlength="1" type="text" class="m-2 form-control Texto"

                    placeholder="">
            </div>


            <small class="form-text text-muted Mensaje">{{Mensaje}}</small>
            <button class="btn ColorAgro mt-2 col-4" (click)="ConfirmaCodigo()">Enviar</button>
        </div>
    </div>
</div>

<!--SeccionTres-->

<div *ngIf="SeccionTres == true" class="container">
    <div class="row">
        <h1 class="mt-1">Nueva contraseña</h1>
        <div class="form-group col-lg-12">

            <div class="mt-2 ConPasword">
                <input type="password" (keyup)="IsEnablesPsswordTow()" maxlength="15" placeholder="Nueva contraseña" class="form-control" [(ngModel)]="PasswordUno"
                    id="EntryClaveOne"/>
                <img src="{{imagenOne}}" class="icPasword" id="image" (click)="ocultarPass()">
            </div>
            <div class="mt-2 ConPasword">
                <input type="password" maxlength="15" placeholder="Nueva contraseña" class="form-control" [(ngModel)]="PasswordDos"
                    id="EntryClaveTwo" disabled="{{EnabledPasswordTwo}}" (keyup)="ConfirmaPassword()"/>
                <img src="{{imagenTwo}}" class="icPasword" id="image" (click)="ocultarPassTwo()">
            </div>
            <small class="form-text text-muted Mensaje">{{Mensaje}}</small>
            <br/>
            <button class="btn ColorAgro mt-3 col-4" (click)="ActualizaToken(ModalGuardar)">Confirmar</button>
        </div>
    </div>
</div>

<ng-template #ModalGuardar let-modal>
    <div class="p-2">
      <div class="modal-header">
        <img style="width: 40px; margin-right: 10px;" src="../../../../assets/ImagenesAgroApoya2Adm/ic_AgroAzul.png">
        <h1 class="modal-title TituloForm">{{TituloModal}}</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="mt-4 mb-4 text-center TituloDetalle">
        {{MensajeModal}}
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" id="btnGuardarDirecccion" class="btn ColorAgro" (click)="modal.dismiss('Cross click')">
          Continuar </button>
      </div>
    </div>
  </ng-template>