  .Vermas {
    width: 40px;
    height: 40px;
    align-content: center;

  }

  .custom-map {
    height: 400px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    width: 100%;
    margin: 0 auto;
    /* Centra horizontalmente */
  }

  .botones-container {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #dee2e6;
  }

  .star {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
  }

  .star img {
    width: 29px;
    height: 29px;
    cursor: pointer;
  }

  .lblPeque {
    font-size: 10px !important;
    margin: 0px !important;
    padding: 0px !important;
    font-weight: bold;
  }

  @media (max-width: 768px) {
    .custom-map {
      width: 100%;
      /* Ocupa todo el ancho en pantallas pequeñas */
      height: 300px;
      /* Ajusta la altura */
    }
  }