<div class="container mt-4">
    <div class="row">
      <!-- Tabla 1 -->
      <div class="col-md-6">
        <div class="table-title text-center">Reporte Usuarios</div>
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Localidad</th>
                <th>No Usuarios</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>Ibague</td><td>100</td></tr>
              <tr><td>Medellín</td><td>200</td></tr>
              <tr><td>Cali</td><td>300</td></tr>
              <tr><td>Bogotá</td><td>400</td></tr>
              <tr><td>Cartagena</td><td>500</td></tr>
              <tr><td>Bucaramanga</td><td>600</td></tr>
              <tr><td>Ibague</td><td>100</td></tr>
              <tr><td>Medellín</td><td>200</td></tr>
              <tr><td>Cali</td><td>300</td></tr>
              <tr><td>Bogotá</td><td>400</td></tr>
              <tr><td>Cartagena</td><td>500</td></tr>
              <tr><td>Bucaramanga</td><td>600</td></tr>
              <tr><td>Ibague</td><td>100</td></tr>
              <tr><td>Medellín</td><td>200</td></tr>
              <tr><td>Cali</td><td>300</td></tr>
              <tr><td>Bogotá</td><td>400</td></tr>
              <tr><td>Cartagena</td><td>500</td></tr>
              <tr><td>Bucaramanga</td><td>600</td></tr>
            </tbody>
          </table>
        </div>
        <table class="small-table">
            <tr>
              <td>Total</td>
              <td>$6'100</td>
            </tr>
          </table>
      </div>
  
      <!-- Tabla 2 -->
      <div class="col-md-6">
        <div class="table-title text-center">Reporte Ventas</div>
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Mes</th>
                <th>No Ventas</th>
                <th>Valor Venta</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>Enero</td><td>500</td><td>$100,000</td></tr>
              <tr><td>Febrero</td><td>450</td><td>$90,000</td></tr>
              <tr><td>Marzo</td><td>520</td><td>$110,000</td></tr>
              <tr><td>Abril</td><td>480</td><td>$95,000</td></tr>
              <tr><td>Mayo</td><td>510</td><td>$105,000</td></tr>
              <tr><td>Junio</td><td>530</td><td>$115,000</td></tr>
              <tr><td>Enero</td><td>500</td><td>$100,000</td></tr>
              <tr><td>Febrero</td><td>450</td><td>$90,000</td></tr>
              <tr><td>Marzo</td><td>520</td><td>$110,000</td></tr>
              <tr><td>Abril</td><td>480</td><td>$95,000</td></tr>
              <tr><td>Mayo</td><td>510</td><td>$105,000</td></tr>
              <tr><td>Junio</td><td>530</td><td>$115,000</td></tr>
            </tbody>
          </table>
        </div>
        <table class="small-table">
            <tr>
              <td>Total</td>
              <td>$160,000</td>
            </tr>
          </table>          
      </div>
    </div>
  </div>
  