
thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fdfeff;
    color: #000000;
  }
  

  .table-responsive {
    max-height: 300px; 
    overflow-y: auto; /* Scroll vertical */
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fafafa9a;
    box-shadow: 2px 2px 4px rgb(255, 255, 255);
  }
  .table {
    margin-bottom: 0;
  }
  
  .table td, .table th {
    font-size: 14px;
  }
  

  .table-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  

  .total-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #343a40;
  }
  
  .total-value {
    margin-left: 10px;
    color: #007bff;
  }
.small-table {
    width: auto; 
    margin: 10px auto; 
    border-collapse: collapse; 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    background-color: #f8f9fa; 
    border-radius: 8px;
  }
  .small-table td {
    padding: 10px 20px; 
    border: 1px solid #ddd; 
    text-align: left; 
  }
  