<br>
<div class="container bg-white">
    <br>
    <h1 class="br">Configuración plantillas correo</h1>
    <br>
    <div class="row mt-4 mb-3">
        <div class="col-sm-4 mb-3">
            <select class="form-control form-control-sm textBox" [(ngModel)]="IdListaplantilla"
                [ngModelOptions]="{standalone: true}" title="Seleccionar el tipo de plantilla">
                <option value="0" selected>Seleccione tipo plantilla...</option>
                <option value="{{Respu.IdTipoPlantilla}}" *ngFor="let Respu of arregloListaTipoPlantilla">
                    {{Respu.Descripcion}}</option>

            </select>
        </div>
        <div class="col-sm-4 mb-3">
            <input type="text" title="Nombre plantilla máximo 150 caracteres"
                class="form-control form-control-sm textBox" placeholder="Nombre plantilla" maxlength="150"
                [(ngModel)]="NombrePlantilla" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col-sm-4 mb-3">
            <select class="form-control form-control-sm textBox" [(ngModel)]="IdMomentoEnvio"
                [ngModelOptions]="{standalone: true}" title="Seleccionar el momento de envio">
                <option value="0" selected>Seleccione momento envio...</option>
                <option value="{{Respu.idMomentoEnvio}}" *ngFor="let Respu of arregloListaMomentoEnvio">
                    {{Respu.Descripcion}}</option>
            </select>
        </div>
    </div>
    <div class="row br justify-content-center">
        <div class="col-sm-3 col-12 br">
            <button class="col-sm-12 btn btn-agro-prin" (click)="BuscarPlantilla(templateBuscarPlantilla, ModalRespuesta)" title="Buscar plantilla">Buscar</button>
        </div>
        <div class="col-sm-3 col-12 br">
            <button class="col-sm-12 btn btn-agro-prin" title="Agregar plantilla" (click)="CrearPlantilla()">Insertar</button>
        </div>
    </div>
    <br>
    <div class="row" *ngIf="VerOcultarCampos != '1'">
        <div class="row justify-content-center">
            <div class="col-12">
                <h5 class="textblue">Información plantilla de correo</h5>
            </div>
        </div>
        <div class="col-sm-4 mb-3">
            <input type="text" title="Nombre plantilla máximo 150 caracteres"
                class="form-control form-control-sm textBox" maxlength="150" placeholder="Nombre"
                [(ngModel)]="NombrePlantillaForm" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col-sm-4 mb-3">
            <select class="form-control form-control-sm textBox" [(ngModel)]="TipoPlantillaForm"
                [ngModelOptions]="{standalone: true}" title="Seleccionar tipo de plantilla">
                <option value="0" selected>Seleccione tipo plantilla...</option>
                <option value="{{Respu.IdTipoPlantilla}}" *ngFor="let Respu of arregloListaTipoPlantilla">
                    {{Respu.Descripcion}}</option>
            </select>
        </div>
        <div class="col-sm-4 mb-3">
            <select class="form-control form-control-sm textBox" [(ngModel)]="MomentoEnvioForm"
                [ngModelOptions]="{standalone: true}" title="Seleccionar el momento de envio">
                <option value="0" selected>Seleccione momento envio...</option>
                <option value="{{Respu.idMomentoEnvio}}" *ngFor="let Respu of arregloListaMomentoEnvio">
                    {{Respu.Descripcion}}</option>
            </select>
        </div>
        <div class="col-sm-4 mb-3">
            <input type="text" class="form-control form-control-sm textBox" title="Asunto máximo 150 caracteres"
                maxlength="150" placeholder="Asunto" [(ngModel)]="AsuntoForm" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col-sm-4 mb-3">
            <select class="form-control form-control-sm textBox" title="Seleccionar el estado" [(ngModel)]="EstadoForm"
                [ngModelOptions]="{standalone: true}">
                <option value="0">Seleccione estado...</option>
                <option value="1"> Activo </option>
                <option value="2"> Inactivo </option>
            </select>
        </div>
        <div class="col-12">
            <textarea class="form-control form-control-sm textArea" rows="3" maxlength="500" minlength="3"
                placeholder="Descripción" title="Descripción" [(ngModel)]="descripcionForm"
                [ngModelOptions]="{standalone: true}" (keyup)="CaracteresDescripcion()"></textarea>
            <label class="w-100 text-secondary text-right">
                <small>{{caracteresDescForm}}</small>
            </label>
        </div>
        <br>
        <div class="row br">
            <div class="displayFlexStar col-12 mb-3">
                <h5 class="textblue">Encabezado y pie de página correo</h5>
            </div>
            <p class="Valor">Aquí podrá cargar dos imágenes la primera corresponde al encabezado del correo y la
                segunda al
                pie de página del mismo.</p>
            <div class="col-sm-6 col-12 mb-3 contenedor">
                <h5 class="textblue">Encabezado</h5>
                <br>
                <div class="image-uploadTres hijo ">
                    <label for="file-input3" class="m-auto imgCentroDos">
                        <img src="{{Imagencabeza}}" class="imgCentro" alt="Seleccionar una imagen"
                            title="Las propiedades de la imagen deben ser peso máximo 1 MG y de tipo JPG o PNG y su tamaño debe ser de 1200px x 628px">
                    </label>
                    <input name="file-input3" id="file-input3" type="file"
                        (change)="CargaImagenCabeza($event, ModalRespuesta)"
                        title="Las propiedades de la imagen deben ser peso máximo 1 MG y de tipo JPG o PNG y su tamaño debe ser de 1200px x 628px" />
                </div>
            </div>
            <div class="col-sm-6 col-12 mb-3 contenedor">
                <div><strong class="SubTituloForm">Pie</strong></div>
                <br>
                <div class="image-uploadTres hijo ">
                    <label for="file-input2" class="m-auto imgCentroDos">
                        <img src="{{ImagenPie}}" class="imgCentro" alt="Seleccionar una imagen"
                            title="Las propiedades de la imagen deben ser peso máximo 1 MG y de tipo JPG o PNG y su tamaño debe ser de 1200px x 628px">
                    </label>
                    <input name="file-input2" id="file-input2" type="file"
                        (change)="CargaImagenPie($event, ModalRespuesta)"
                        title="Las propiedades de la imagen deben ser peso máximo 1 MG y de tipo JPG o PNG y su tamaño debe ser de 1200px x 628px" />
                </div>
            </div>

        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-sm-12 text-center">
            <button class="col-sm-3 btn btn-agro-prin" (click)="BtnGuardarPlantilla(ModalRespuesta)"
                *ngIf="VerOcultarCampos == '2' " title="Agregar nueva plantilla">Guardar</button>
            <button class="col-sm-3 btn btn-agro-prin" (click)="BtnActualizarrPlantilla(ModalRespuesta)"
                *ngIf="VerOcultarCampos == '3'" title="Actualizar plantilla">Actualizar</button>
        </div>
    </div>
    <br>
    <div class="row" *ngIf="VerOcultarCampos != '1' && VerOcultarCampos !='2'">

        <div class="displayFlexStar col-12 mb-3">
            <h5 class="textblue">Adjuntar archivos</h5>
        </div>
        <div class="col-sm-12 p-0 m-0">
            <div class="col-4 mb-3 contenedor">
                <div class="image-uploadTres hijo ">
                    <label for="file-input1">
                        <img src="{{ArchivoAdj}}" class="BoderImg" alt="Seleccionar una imagen">
                    </label>
                    <input name="file-input1" id="file-input1" type="file" (change)="CargaArchivoAdjunto($event)" />
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="displayflex col-sm-4 mt-2" *ngFor="let resp of arregloListaAdjuntos">
                <div class="w-100">
                    <label class="cuadrosControl">{{resp.NombreDocumento}}</label>
                </div>
                <div class="col-1 mb-3">
                    <button class="SinEstilo" title="Eliminar Plantilla" (click)="EliminaAdjunto(resp, ModalRespuesta)">
                        <img src="../../../../assets/ImagenesAgroApoya2Admin/basura.png"
                            class="BtnimgTamanoPeque m-auto">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row mb-3" *ngIf="VerOcultarCampos != '1' && VerOcultarCampos !='2'">
        <div class="displayFlexStar col-12 mb-3">
            <h5 class="textblue">Formulario</h5>
        </div>
        <div class="col-sm-4  mb-3">
            <select class="form-control form-control-sm textBox" [(ngModel)]="IdCampo"
                [ngModelOptions]="{standalone: true}" (change)="changeCampo()" title="Seleccionar el campo del correo">
                <option value="0" selected>Seleccione campos correo...</option>
                <option *ngFor="let Respu of arregloCamposCorreo" [value]="Respu.CodCampo"> {{Respu.Descripcion}}
                </option>
            </select>
        </div>
        <div class="col-sm-4  mb-3">
            <input type="text" name="something" class="form-control form-control-sm textBox" placeholder="Código campo"
                title="Código campo" [(ngModel)]="CampoDesc" [ngModelOptions]="{standalone: true}">
        </div>
    </div>
    <div class="row" *ngIf="VerOcultarCampos != '1' && VerOcultarCampos !='2'">
        <div class="displayFlexStar col-12 mb-3">
            <h5 class="textblue">Editar plantilla</h5>
        </div>
        <div class="col-12 mb-3">
            <angular-editor id="htmlEditro" [placeholder]="'Ingrese el texto'" [config]="editorConfig"
                [(ngModel)]="HtmlForm" [ngModelOptions]="{standalone: true}"
                (keyup)="CaracteresHtmlDos(ModalRespuesta)"></angular-editor>
        </div>
        <label class="w-100 text-secondary text-right">
            <small></small>
        </label>
        <br>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-sm-12 text-center">
            <button class="col-sm-3 btn btn-agro-prin" (click)="BtnActualizarPlantillaHtml(ModalRespuesta)"
                title="Actualizar formulario plantilla" *ngIf="VerOcultarCampos == '3'">Actualizar</button>
        </div>
    </div>
</div>
<br><br>
<!-- Template Modal Buscar-->
<ng-template class="row justify-content-center" #templateBuscarPlantilla let-modal>

    <div class="modal-header">
        <h1 class="modal-title" id="modal-basic-title">Selecciona Plantilla</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="moda-body">
        <div class="row justify-content-center">
            <ul>
                <li class="displayflex col-sm-12 br m-2" *ngFor="let respuesta of arregloListaPlantillaCorreo">
                    <div class="col-sm-10">
                        <input type="text" value="{{respuesta.NombrePlantilla}}" class="form-control" disabled>
                    </div>
                    <div class="col-sm-2">

                        <button class="SinEstilo" (click)="SeleccionarPlantillaModal(respuesta)">
                            <img src="./../../../../../assets/ImagenesAgroApoya2Admin/Editar.png" alt="Ver">
                        </button>
                        <button class="SinEstilo" (click)="BtnEliminarPlantilla(respuesta, ModalRespuesta)">
                            <img src="./../../../../../assets/ImagenesAgroApoya2Admin/papelera.png" alt="Ver">
                        </button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-12 text-center">
                <button type="button" class="col-sm-3 btn btn-agro-prin" (click)="modal.close()">Aceptar</button>
            </div>
        </div>
        <br>
    </div>
</ng-template>
<!-- Template Modal RESPUESTA-->
<ng-template #ModalRespuesta let-modal>
    <div class="modal-header">
        <h1>Respuesta</h1>
        <button (keyup.enter)="modal.close()" type="button" class="btn-close" aria-label="Close"
            (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row br">
            <div class="col-sm-12">
                <h2 class="TituloDetalle">{{Respuesta}}</h2>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12 text-center">
            <button (keyup.enter)="modal.close()" type="button" class="col-sm-3 btn btn-agro-prin"
                (click)="modal.close()">Aceptar</button>
        </div>
    </div>
    <br>
</ng-template>