<div class=" pantalla wrapper d-flex align-items-stretch">
    <!-- Sidebar -->
    <nav id="sidebar">
        <!-- Boton -->
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" (click)="toggleSidebar()" class="btn btn-primary"></button>
        </div>
        <div class="img bg-wrap text-center py-4"
            style="background-image: url(./assets/ImagenesAgroApoya2Adm/portada.jpg);">

            <div class="user-logo">
                <div class="img" style="background-image: url(./assets/ImagenesAgroApoya2Adm/ic_Agro.png);">
                </div>
            </div>
        </div>


        <ul class="list-unstyled components mb-5">
            <li>
                <a class="not-active">Hola,<br>{{NombreUsu}}</a>

            </li>


<!--
            <li class="click services">
                <a class="fa fa-caret-right mr-3">
                    Compras</a>
                <ul class="dropdown">
                    <li>Item 1r</li>
                    <li>Item 2r</li>
                    <li>Item 3r</li>
                    <li>Item 4r</li>
                </ul>
            </li>
-->


            <li *ngFor="let respuesta of ListaMenu">
                <a href="{{respuesta.pathMenu}}" (click)="toggleSidebar()">
                    <span class="fa {{respuesta.Icono}} mr-3"></span> {{respuesta.Nombre}}
                </a>
            </li>
        </ul>

        <div class="row justify-content-center ">
            <div class="col-sm-6 col-6">
                <img class="imgMenuLogoAgro" src="../../../../assets/ImagenesAgroApoya2Adm/logoAgroNuevo.png">

            </div>

        </div>
    </nav>
    <!-- Page Content  -->
    <div id="content">
        <router-outlet></router-outlet>
    </div>
</div>