<div class="Fondo">

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                </button>
            </div>
            <div class="img bg-wrap text-center py-4"
                style="background-image: url(./assets/ImagenesAgroApoya2Admin/portada.jpg);">

                <div class="user-logo">
                    <div class="img" style="background-image: url(./assets/ImagenesAgroApoya2Admin/agrouser.png);">
                    </div>
                    <h3>Usuario</h3>
                </div>
            </div>
            <ul class="list-unstyled components mb-5">
            
                <li>
                    <a (click)="CrearOferta()"><span class="fa fa-caret-right mr-3"></span>Crear Oferta</a>
                </li>
                <li>
                    <a (click)="ValorarOferta()"><span class="fa fa-caret-right mr-3"></span>Valorar Oferta</a>
                </li>
                <li>
                    <a (click)="CerrarSession()"><span class="fa fa-sign-out mr-3"></span> Cerrar Sesion</a>
                </li>
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>


