<div class=" pantalla wrapper d-flex align-items-stretch">
    <!-- Sidebar -->
    <nav id="sidebar">
        <!-- Boton -->
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" (click)="toggleSidebar()" class="btn btn-primary"></button>
        </div>
        <div class="img bg-wrap text-center py-4"
            style="background-image: url(./assets/ImagenesAgroApoya2Adm/portada.jpg);">

            <div class="user-logo">
                <div class="img" style="background-image: url(./assets/ImagenesAgroApoya2Adm/ic_Agro.png);">
                </div>
            </div>
        </div>
        <ul class="list-unstyled components mb-5">
            <li>
                <a class="not-active">Hola,<br>{{NombreUsu}}</a>
            </li>
            <li *ngFor="let respuesta of ListaMenu" class="click services">

                <a href="{{respuesta.pathMenu}}" *ngIf="respuesta.IdAccion == 2" (click)="toggleSidebar()" target="_blank">
                    <span class="fa {{respuesta.Icono}} margenIcon"></span>{{respuesta.Nombre}}
                </a>
                <a href="{{respuesta.pathMenu}}" *ngIf="respuesta.IdAccion == 3" (click)="toggleSidebar()">
                    <span class="fa {{respuesta.Icono}} margenIcon"></span>{{respuesta.Nombre}}
                </a>
                <a *ngIf="respuesta.IdAccion == 4">
                    <span class="fa {{respuesta.Icono}} margenIcon"></span>{{respuesta.Nombre}}
                </a>
                <a href="{{respuesta.pathMenu}}" *ngIf="respuesta.IdAccion == 5" (click)="toggleSidebar()">
                    <span class="fa {{respuesta.Icono}} margenIcon"></span>{{respuesta.Nombre}}
                </a>


                <ul class="dropdown">
                    <span *ngFor="let SubMenu of ListaSubMenu">
                        <li *ngIf="respuesta.IdMenu == SubMenu.IdMenu">
                            <a href="{{SubMenu.PathMenu}}" (click)="toggleSidebar()" *ngIf="SubMenu.idAccion == 2"  target="_blank">
                                <span class="fa {{SubMenu.Icono}} margenIcon"></span>{{SubMenu.Nombre}}
                            </a>

                            <a href="{{SubMenu.PathMenu}}" (click)="toggleSidebar()" *ngIf="SubMenu.idAccion == 3">
                                <span class="fa {{SubMenu.Icono}} margenIcon"></span>{{SubMenu.Nombre}}
                            </a>

                            <a *ngIf="SubMenu.idAccion == 4">
                                <span class="fa {{SubMenu.Icono}} margenIcon"></span>{{SubMenu.Nombre}}
                            </a>

                            <a href="{{SubMenu.PathMenu}}" (click)="toggleSidebar()" *ngIf="SubMenu.idAccion == 5">
                                <span class="fa {{SubMenu.Icono}} margenIcon"></span>{{SubMenu.Nombre}}
                            </a>
                        </li>
                      
                    </span>
                  
                </ul>
            </li>
       
        </ul>

        <div class="row justify-content-center">
            <div class="col-sm-6 col-6">
                <img class="imgMenuLogoAgro" src="../../../../assets/ImagenesAgroApoya2Adm/LogoMenu.png">
            </div>
        </div>

    </nav>
    <!-- Page Content  -->
    <div id="content">
        <router-outlet></router-outlet>
    </div>
</div>