.textCenter{
    text-align: center;
}
.tarjetas {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ImgOferta {
    width: 100%;
    height: 80%;
    border-radius: 15px;
    display: flex;
}
.form-check-input {
    width: 22px;
    height: 22px;
}
.imgCombo{
    width: 260px;
    height: 260px;
    object-fit: cover;
}
.resize {
    resize: none;
}
.sinmp{
    margin: 0;
    padding: 0;
}
.ImgOfertaBusca {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    display: flex;
    object-fit: cover;
    margin: auto;
}
.divTargetasOfertas{
    overflow: auto;
    max-height: 43%;
}