<div class="Fondo">
    <br><br>
    <div class="container bg-white">
        <h1>Seguimiento</h1>
        <div class="row">
            <div class="col-sm-6">
                <label class="Llave">Oferta</label>
                <ng-autocomplete [data]="ArrayOferta" [searchKeyword]="oferta" placeholder="Oferta"
                    (selected)='selectOferta($event)' (inputCleared)="LimpiarCampos()"
                    [itemTemplate]="templateResOf" [notFoundTemplate]="templateVacioOf" aria-required="true">
                </ng-autocomplete>

                <ng-template #templateResOf let-item id="templateResOf">
                    <a [innerHTML]="item.cd_cnsctvo + ' - ' + item.DescripcionProducto"></a>
                </ng-template>

                <ng-template #templateVacioOf let-SinRegistro>
                    <label >Sin registros</label>
                </ng-template>
            </div>
            <div class="col-sm-6">
                <label class="Llave">Sector</label>
                <ng-autocomplete [data]="ArraySector" [searchKeyword]="sector" placeholder="Sector" [disabled]="selecsector == '0'"
                    (selected)='selectSector($event)' (inputCleared)="LimpiarCamposSector()"
                    [itemTemplate]="templateSector" [notFoundTemplate]="templateVacioSec" aria-required="true">
                </ng-autocomplete>

                <ng-template #templateSector let-item id="templateSector">
                    <a [innerHTML]="item.DSCRPCION_SCTOR"></a>
                </ng-template>

                <ng-template #templateVacioSec let-SinRegistro>
                    <label >Sin registros</label>
                </ng-template>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-sm-3">
                <button class="btn btn-agro-prin w-100" (click)="Buscar(ModalRespuesta)">Buscar</button>
            </div>
        </div>
        <hr>
        <div class="row mt-2 justify-content-center ">
            <div class="col-sm-11 ">
                <div id="map" [ngClass]="ValidaInsertSec=='1' ? 'ShowMap' : 'HideMap' "></div>
            </div>
        </div>
    </div>
</div>


<ng-template #ModalRespuesta let-modal>
    <div class="modal-header">
        <h1>Respuesta</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row br">
            <div class="col-sm-12">
                <h2 class="TituloDetalle">{{Respuesta}}</h2>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <button type="button" class="btn btn-agro-prin col-sm-2" (click)="modal.close()">Aceptar</button>
    </div>
    <br>
</ng-template>


<ng-template #ModalMensaje let-modal>
    <div class="p-2">
        <div class="modal-header">
            <img style="width: 40px; margin-right: 10px;" src="../../../../assets/ImagenesAgroApoya2Adm/ic_Agro.png">
            <h5 class="modal-title TituloForm">{{TituloModal}}</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="mt-4 mb-4 text-center">
            {{Mensaje}}
        </div>
        <div class="row justify-content-center">
            <button type="button" id="btnGuardarDirecccion" class="btn ColorAgro col-sm-3 col-3" (click)="modal.dismiss('Cross click')">Continuar </button>
        </div>
    </div>
</ng-template>