<div class="Fondo">
    <br><br>
    <div class="container bg-white">
        <h1>Seguimiento</h1>
        <div class="row">
            <div class="col-sm-6">
                <label class="Llave">Ruta</label>
                <ng-autocomplete [data]="ArrayGrupos" [searchKeyword]="keywordGrupo" placeholder="Grupo"
                    (inputCleared)="LimpiaOferta('')" (selected)='selectOfertaFiltro($event)'
                    [itemTemplate]="templateGrupo" [notFoundTemplate]="templateVacio" [(ngModel)]="Grupo">
                </ng-autocomplete>
                <ng-template #templateGrupo let-item>
                    <a [innerHTML]="item.NombreGrupo"></a>
                </ng-template>
                <ng-template #templateVacio let-SinRegistro>
                    <label for="">Sin registros</label>
                </ng-template>
            </div>
            <!-- <div class="col-sm-6">
                <label class="Llave">Sector</label>
                <ng-autocomplete [data]="ArraySector" [searchKeyword]="keywordSector" placeholder="Sector"
                    (inputCleared)="LimpiaSector('')" (selected)='SelectSector($event)' [itemTemplate]="templateSect"
                    [notFoundTemplate]="templateVaciosec" [disabled]="selecsector == '0'" [(ngModel)]="Sector">
                </ng-autocomplete>
                <ng-template #templateSect let-item>
                    <a [innerHTML]="item.DSCRPCION_SCTOR"></a>
                </ng-template>
                <ng-template #templateVaciosec let-SinRegistro>
                    <label for="">Sin registros</label>
                </ng-template>
            </div>
            <div class="col-sm-6">
                <label class="Llave">Conductor</label>
                <ng-autocomplete [data]="ArrayConductores" [searchKeyword]="keywordConductor" placeholder="Conductor"
                    (inputCleared)="LimpiaConductor()" (selected)='SelectConductor($event)'
                    [itemTemplate]="templateCond" [notFoundTemplate]="templateVacioCond"
                    [disabled]="selectConductor == '0'" [(ngModel)]="Conductor">
                </ng-autocomplete>
                <ng-template #templateCond let-item>
                    <a [innerHTML]="item.NOMBRE"></a>
                </ng-template>
                <ng-template #templateVacioCond let-SinRegistro>
                    <label for="">Sin registros</label>
                </ng-template>
            </div> -->
        </div>
        <div class="row br">
            <div class="col-sm-6">
                <label class="Llave">Fecha Inicio</label>
                <input type="date" class="form-control" [(ngModel)]="FechaInicio">
            </div>
            <div class="col-sm-6">
                <label class="Llave">Fecha Fin</label>
                <input type="date" class="form-control" [(ngModel)]="FechaFin">
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-sm-3">
                <button class="btn btn-agro-prin w-100" (click)="Buscar(ModalRespuesta)">Buscar</button>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center">
            <div class="col-sm-12">

                <div *ngIf="ArrayReporte.length > 0">
                    <div class="row MerginLefRig">
                        <div [ngClass]="Detalle == '1' ? 'btnUno col-6' : 'btnUnoA col-6' "
                            (click)="CambioDetalle('1')">
                            Consolidado
                        </div>
                        <div [ngClass]="Detalle == '2' ? 'btnDos col-6' : 'btnDosA col-6' "
                            (click)="CambioDetalle('2')">
                            Detalle
                        </div>
                    </div>
                    <br>
                    <div class="row justify-content-center " id="rowGraficas" *ngIf="Detalle == '1'">
                        <div class="col-sm-12">
                            <!-- Consolidado ventas -->
                            <ngx-charts-bar-vertical-2d [results]="ArrayVentas" [legendTitle]="'Entregas'"
                                [legend]="true" [showDataLabel]="true" [xAxis]="true" [animations]="false"
                                [scheme]="colorSchemeTort" [view]="viewBar"></ngx-charts-bar-vertical-2d>
                            <!-- Tabla Ventas -->
                        </div>
                        <br>
                        <table class="col-sm-11 TableAgro br">
                            <tr>
                                <th colspan="2">Producto</th>
                                <th>Recibido</th>
                                <th>Pendiente</th>
                                <th>Devuelto</th>
                                <th>Total Producto</th>
                            </tr>
                            <tr *ngFor="let Ventas of ArrayReporte ">
                                <td colspan="2">{{Ventas.PRODUCTO}}</td>
                                <td>{{Ventas.CANTIDAD_ENTREGADA}}</td>
                                <td>{{Ventas.CANTIDAD_PENDIENTE }}</td>
                                <td>{{Ventas.CANTIDAD_DEVUELTA }}</td>
                                <td>{{Ventas.CANTIDAD_TOTAL }}</td>
                            </tr>
                            <tr>
                                <td colspan="2"><strong>Total</strong></td>
                                <td>{{ObjetEntrega[0].TotalRecibido}}</td>
                                <td>{{ObjetEntrega[0].TotalPendiente}}</td>
                                <td>{{ObjetEntrega[0].TotalDevuelto}}</td>
                                <td>{{ObjetEntrega[0].TotalProducto}}</td>
                            </tr>
                        </table>

                        <hr class="br">
                        <!-- Consolidado Dinero -->
                        <ngx-charts-bar-vertical-2d [results]="ArrayValores" [legendTitle]="'Ventas'" [legend]="true"
                            [xAxis]="true" [animations]="false" [scheme]="colorSchemeTort" hidden
                            [view]="viewBar"></ngx-charts-bar-vertical-2d>
                        <!-- Tabla Dinero -->
                        <br>
                        <table class="col-sm-11 TableAgro br " hidden>
                            <tr>
                                <th colspan="2">Producto</th>
                                <th>Entregado</th>
                                <th>Pendiente</th>
                                <th>Devuelto</th>
                                <th>Total a recaudar</th>
                            </tr>
                            <tr *ngFor="let Valores of ArrayReporte">
                                <td colspan="2">{{Valores.PRODUCTO}}</td>
                                <td>{{Valores.VLR_RECAUDADO | currency :'USD' : 'symbol' : '1.0-0'}}</td>
                                <td>{{Valores.VLR_PENDIENTE_RECAUDO | currency :'USD' : 'symbol' : '1.0-0'}}</td>
                                <td>{{Valores.VLOR_DEVOLUCION | currency :'USD' : 'symbol' : '1.0-0'}}</td>
                                <td style="color: forestgreen;">{{Valores.VLOR_TTL_RECAUDAR | currency :'USD' : 'symbol'
                                    : '1.0-0'}}</td>
                            </tr>
                            <tr>
                                <td colspan="2"><strong>Total</strong></td>
                                <td>{{ObjetEntrega[1].ValTotalEntregado | currency :'USD' : 'symbol' : '1.0-0'}}</td>
                                <td>{{ObjetEntrega[1].ValTotalPendiente | currency :'USD' : 'symbol' : '1.0-0'}}</td>
                                <td>{{ObjetEntrega[1].ValTotalDevuelto | currency :'USD' : 'symbol' : '1.0-0'}}</td>
                                <td style="color: forestgreen;">{{ObjetEntrega[1].ValTotalRecaudo | currency :'USD' :
                                    'symbol'
                                    : '1.0-0'}}</td>
                            </tr>

                        </table>
                    </div>
                    <div class="row justify-content-center" *ngIf="Detalle == '2'">
                        <table class="col-sm-11 TableAgro ">
                            <tr>
                                <th>Cliente</th>
                                <th>Celular</th>
                                <th>Dirección</th>
                                <th>Estado</th>
                                <th>Tipo Pago</th>
                                <th>Orden Entrega</th>
                                <th>Fecha</th>
                                <th>Valor productos</th>
                                <th>Domicilio</th>
                                <th>Valor Total</th>
                                <th colspan="2">Acciones</th>
                            </tr>
                            <tr *ngFor="let Seguimiento of ArrayConsultaSeg ">
                                <td>{{Seguimiento.NOMBRES_PERSONA}}</td>
                                <td>{{Seguimiento.CELULAR_PERSONA}}</td>
                                <td>{{Seguimiento.DRCCION }}</td>
                                <td [ngClass]="Seguimiento.ESTDO !='4' ? 'ColorTextEntregado' : 'ColorTextDevuelto' ">
                                    {{Seguimiento.descEstado}}</td>
                                <td>{{Seguimiento.descTipoPago}}</td>
                                <td>{{Seguimiento.orden}}</td>
                                <td>{{Seguimiento.fecha_entrega}} - {{Seguimiento.hora_entrega}}</td>
                                <td>{{Seguimiento.ValorPagarSinDomicilio | currency :'USD' : 'symbol' : '1.0-0'}}</td>
                                <td>{{Seguimiento.ValorDomicilio | currency :'USD' : 'symbol' : '1.0-0'}}</td>
                                <td>{{Seguimiento.ValorTotalPagar | currency :'USD' : 'symbol' : '1.0-0'}}</td>
                                <td colspan="2">
                                    <button class="SinEstilo " (click)="MostrarMapa(Seguimiento, ModalMapa)">
                                        <img src="./../../../../../assets/ImagenesAgroApoya2Adm/mapaSec.png"
                                            style="width: 25px;" title="Editar Imagen Mapa">
                                    </button>
                                    <button class="SinEstilo " (click)="MostrarDetalle(Seguimiento, ModalDetalle)">
                                        <img src="./../../../../../assets/ImagenesAgroApoya2Adm/visible.png"
                                            style="width: 25px;" title="Editar Imagen Mapa">
                                    </button>
                                    <button class="SinEstilo " *ngIf="Seguimiento.imagen_evidencia != null"
                                        (click)="MostrarEvidencia(Seguimiento, ModalEvidencia)">
                                        <img src="./../../../../../assets/ImagenesAgroApoya2Adm/imagen.png"
                                            style="width: 25px;" title="Ver Evidencia Entrega">
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row br mt-3">
                    <div class="col-sm-3 mt-2" *ngIf="VerBtnMapSugerido == true">
                        <button class="btn btn-agro-prin w-100" (click)="CargarRutaSugerida()">Ruta sugerida</button>
                    </div>
                    <div class="col-sm-3 mt-2" *ngIf="VerBtnDescargarPdf">
                        <button class="btn btn-agro-prin w-100" (click)="DescargarDatosPdf()">Descargar PDF</button>
                    </div>
                </div>


                <div class="row mt-2 justify-content-center">
                    <div class="col-sm-12">
                        <div id="mapaS" class="ShowMap"></div>
                    </div>
                </div>

                <div class="row mt-2 justify-content-center" *ngIf="VerBtnMapSugerido == true" hidden>
                    <table class="col-sm-8 TableAgro br ">
                        <tr>
                            <th colspan="2"><strong>Total recaudado</strong></th>
                        </tr>
                        <tr>
                            <th>Total venta</th>
                            <th>Total domicilio</th>
                        </tr>
                        <tr *ngIf="ObjetEntrega != undefined && ObjetEntrega != null">
                            <td>{{ObjetEntrega[1].ValTotalEntregado | currency :'USD' : 'symbol' : '1.0-0'}}</td>
                            <td style="color: forestgreen;">{{ValorDomicilio | currency :'USD' : 'symbol' : '1.0-0'}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="color: forestgreen;"><strong>{{TotalCosolidado | currency :'USD' :
                                    'symbol' : '1.0-0'}}</strong></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <br>
    </div>
</div>


<ng-template #ModalRespuesta let-modal>
    <div class="modal-header">
        <h1>Respuesta</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row br">
            <div class="col-sm-12">
                <h2 class="TituloDetalle">{{Respuesta}}</h2>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <button type="button" class="btn btn-agro-prin col-sm-2" (click)="modal.close()">Aceptar</button>
    </div>
    <br>
</ng-template>


<ng-template #ModalMensaje let-modal>
    <div class="p-2">
        <div class="modal-header">
            <img style="width: 40px; margin-right: 10px;" src="../../../../assets/ImagenesAgroApoya2Adm/ic_Agro.png">
            <h5 class="modal-title TituloForm">{{TituloModal}}</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="mt-4 mb-4 text-center">
            {{Mensaje}}
        </div>
        <div class="row justify-content-center">
            <button type="button" id="btnGuardarDirecccion" class="btn ColorAgro col-sm-3 col-3"
                (click)="modal.dismiss('Cross click')">Continuar </button>
        </div>

    </div>
</ng-template>

<ng-template #ModalMapa let-modal>
    <div class="p-2">
        <div class="modal-header">
            <img style="width: 40px; margin-right: 10px;" src="../../../../assets/ImagenesAgroApoya2Adm/ic_Agro.png">
            <h5 class="modal-title TituloForm">{{TituloModal}}</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="mt-4 mb-4 text-center">
            <div class="row mt-2 justify-content-center">
                <div class="col-sm-12">
                    <div id="map" [ngClass]="ValidaInsertSec=='1' ? 'ShowMap' : 'HideMap' "></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" id="btnGuardarDirecccion" class="btn ColorAgro col-sm-3 col-3"
                (click)="modal.dismiss('Cross click')">Aceptar </button>
        </div>

    </div>
</ng-template>
<ng-template #ModalDetalle let-modal>
    <div class="p-2">
        <div class="modal-header">
            <img style="width: 40px; margin-right: 10px;" src="../../../../assets/ImagenesAgroApoya2Adm/ic_Agro.png">
            <h5 class="modal-title TituloForm">{{TituloModal}}</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="mt-4 mb-4 text-center">
            <table class="col-sm-12 TableAgro ">
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Estado</th>
                    <th>Valor</th>
                </tr>
                <tr *ngFor="let Detalle of ArrayDetalle ">
                    <td>{{Detalle.Producto}}</td>
                    <td>{{Detalle.Cantidad}}</td>
                    <td [ngClass]="Detalle.DescDevuelto !='Devuelto' ? 'ColorTextEntregado' : 'ColorTextDevuelto' ">
                        {{Detalle.DescDevuelto}}</td>
                    <td>{{Detalle.valor | currency :'USD' : 'symbol' : '1.0-0'}}</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td>{{NumProductos}}</td>
                    <td colspan="2" style="color: forestgreen;">{{ValorTotalCompra | currency :'USD' : 'symbol' :
                        '1.0-0'}}</td>
                </tr>
            </table>
        </div>
        <div class="row justify-content-center">
            <button type="button" id="btnGuardarDirecccion" class="btn ColorAgro col-sm-3 col-3"
                (click)="modal.dismiss('Cross click')">Aceptar</button>
        </div>

    </div>
</ng-template>
<ng-template #ModalEvidencia let-modal>
    <div class="p-2">
        <div class="modal-header">
            <img style="width: 40px; margin-right: 10px;" src="../../../../assets/ImagenesAgroApoya2Adm/ic_Agro.png">
            <h5 class="modal-title TituloForm">{{TituloModal}}</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <br>
        <div class="row m-0 p-0" style="display: flex; justify-content: center; align-items: center;">
            <div class="col-8">
                <img src="{{ImgEvidencia}}" style="width: 90%; height:  100%; object-fit: cover;">
            </div>

        </div>
        <hr>
        <div class="row justify-content-center">
            <button type="button" id="btnGuardarDirecccion" class="btn ColorAgro col-sm-3 col-3"
                (click)="modal.dismiss('Cross click')">Aceptar</button>
        </div>

    </div>
</ng-template>




<ng-template #ModalMapaSugerido let-modal>
    <div class="p-2">
        <div class="mt-4 mb-4 text-center">
            <div class="row mt-2 justify-content-center">
                <div class="col-sm-12">
                    <div id="mapaRutaSugerida" class="ShowMap"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" id="btnGuardarDirecccion" class="btn ColorAgro col-sm-6 mt-4 bn-2 col-3"
                (click)="modal.dismiss('Cross click')">Aceptar </button>
        </div>

    </div>
</ng-template>
<ng-template #templateGrupos let-modal>
    <div class="p-2">
        <div class="modal-header">
            <img style="width: 40px; margin-right: 10px;" src="../../../../assets/ImagenesAgroApoya2Adm/ic_Agro.png">
            <h5 class="modal-title TituloForm">{{TituloModal}}</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="mt-4 mb-4 text-center">
            <table class="col-sm-12 TableAgro ">
                <tr>
                    <th>Grupo</th>
                    <th>Seleccionar</th>
                </tr>
                <tr *ngFor="let DetalleGrupo of ArrayGruposSel ">
                    <td>{{DetalleGrupo.NombreGrupo}}</td>
                    <td>
                        <button class="SinEstilo" (click)="SeleccionGrupo(DetalleGrupo)">
                            <img src="./../../../../assets/ImagenesAgroApoya2Adm/Editar.png"
                            style="width: 32px; object-fit: cover;" >
                        </button>
                        
                    </td>
                </tr>
            </table>
        </div>
        <div class="row justify-content-center">
            <button type="button" id="btnGuardarDirecccion" class="btn ColorAgro col-sm-3 col-3"
                (click)="modal.dismiss('Cross click')">Aceptar</button>
        </div>

    </div>
</ng-template>