<form [formGroup]="filtroReset" class="p-4">
  <h3 class="text-center mb-4 text-primary">Reporte Embajador</h3>

  <div class="row">
    <!-- Filtro de Fecha Inicio -->
    <div class="col-md-3 mb-3">
      <div class="form-group">
        <label class="form-label"><small>Fecha inicio</small></label>
        <input type="date" class="form-control" formControlName="FechaInicioEmba" placeholder="Fecha inicio" [(ngModel)]="FechaInicioEmba" />
      </div>
    </div>

    <!-- Filtro de Fecha Fin -->
    <div class="col-md-3 mb-3">
      <div class="form-group">
        <label class="form-label"><small>Fecha fin</small></label>
        <input type="date" class="form-control" formControlName="FechaFinEmba" placeholder="Fecha fin" [(ngModel)]="FechaFinEmba" />
      </div>
    </div>

    <!-- Filtro de Código Usuario Embajador -->
    <div class="col-md-3 mb-3">
      <div class="form-group">
        <label class="form-label"><small>Código usuario embajador</small></label>
        <input type="number" class="form-control" formControlName="CodigoUsuarioEmba" placeholder="Código usuario embajador" [(ngModel)]="CodigoUsuarioEmba"/>
      </div>
    </div>

    <!-- Filtro de Correo Embajador -->
    <div class="col-md-3 mb-3">
      <div class="form-group">
        <label class="form-label"><small>Correo embajador</small></label>
        <input type="text" class="form-control" formControlName="CorreoEmba" placeholder="Correo embajador" [(ngModel)]="CorreoEmba"/>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Filtro de Teléfono Embajador -->
    <div class="col-md-3 mb-3">
      <div class="form-group">
        <label class="form-label"><small>Teléfono embajador</small></label>
        <input type="text" class="form-control" formControlName="TelefonoVeci" placeholder="Teléfono" [(ngModel)]="telefonoEmbajador"/>
      </div>
    </div>

    <!-- Filtro de Código Usuario Embajador Vecino -->
    <div class="col-md-3 mb-3">
      <div class="form-group">
        <label class="form-label"><small>Código usuario embajador vecino</small></label>
        <input type="number" class="form-control" formControlName="CodigoUsuarioVecino" placeholder="Código usuario vecino" [(ngModel)]="CodigoUsuarioVecino" />
      </div>
    </div>

    <!-- Filtro de Correo Vecino -->
    <div class="col-md-3 mb-3">
      <div class="form-group">
        <label class="form-label"><small>Correo vecino</small></label>
        <input type="text" class="form-control" formControlName="CorreoVeci" placeholder="Correo vecino"[(ngModel)]="CorreoVeci"/>
      </div>
    </div>

    <!-- Filtro de Teléfono Vecino -->
    <div class="col-md-3 mb-3">
      <div class="form-group">
        <label class="form-label"><small>Teléfono vecino</small></label>
        <input type="text" class="form-control" formControlName="TelefonoVeci" placeholder="Teléfono vecino" [(ngModel)]="TelefonoVeci"/>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Filtro de Localidad -->
    <div class="col-md-3 mb-3">
      <div class="form-group">
        <label class="form-label"><small>Localidad</small></label>
        <select class="form-control" formControlName="localidad">
          <option value="0">Seleccione</option>
          <option *ngFor="let localida of ListaLocalidad" [value]="localida.IdTipo"> {{localida.Descripcion }}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Botones de acción -->
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary me-3" (click)="btnBuscar()">Buscar</button>
    <button type="reset" class="btn btn-secondary me-3" (click)="BtnLimpiar()">Limpiar</button>

    <!-- Botón para abrir el modal -->
<button class="btn btn-info btn-primary" (click)="abrirModal()">Abrir Modal</button>
  </div>

  


<!-- Modal -->
<div *ngIf="mostrarModal" class="modal-overlay">
  <div class="modal-content">
    <span class="close" (click)="cerrarModal()">&times;</span>
    <h2>Título del Modal</h2>
    <p>.</p>
  </div>
</div>


  <!-- tabla con encabezados -->
  <div *ngIf="mostrarTabla == '1'" class="table-responsive p-4 cursorPonter">
    <table class="table table-striped table-bordered text-center">
      <thead class="table-primary">
        <tr>
          <th>Fecha Creación</th>
          <th>Nombre Embajador</th>
          <th>ID Embajador</th>
          <th>Número Vecino</th>
          <th>Localidad</th>
          <th>Conjunto</th>
          <th>Dirección</th>
          <th>Complemento Dirección</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Tablalista of ListaTabla">
          <td>{{Tablalista.FechaCreacion}}</td>
          <td>{{Tablalista.NombrePersona}}</td>
          <td>{{Tablalista.IdEmbajador}}</td>
          <td>{{Tablalista.NumeroVecino}}</td>
          <td>Localidad 1</td>
          <td>{{Tablalista.CorreoPersona}}</td>
          <td>{{Tablalista.NombreConjunto}}</td>
          <td>{{Tablalista.CMPLMNTO_DRRCCION}}</td>
          <td><img src="../../../../assets/ImagenesAgroApoya2Adm/vista.png" width="35" height="35"></td>
        </tr>
      </tbody>
    </table>
  </div>
</form>

