<form [formGroup]="filtroReset" class="p-4">
  <h3 class="text-center mb-4 text-primary">Reporte Embajador</h3>

  <div class="row">
    <!-- Filtro de Fecha Inicio -->
    <div class="col-md-3 mb-3">
      <div class="form-group">
        <label class="form-label"><small>Fecha inicio</small></label>
        <input type="date" class="form-control" formControlName="FechaInicioEmba" placeholder="Fecha inicio"
          [(ngModel)]="FechaInicioEmba" />
      </div>
    </div>

    <!-- Filtro de Fecha Fin -->
    <div class="col-md-3 mb-3">
      <div class="form-group">
        <label class="form-label"><small>Fecha fin</small></label>
        <input type="date" class="form-control" formControlName="FechaFinEmba" placeholder="Fecha fin"
          [(ngModel)]="FechaFinEmba" />
      </div>
    </div>

    <!-- Filtro de Código Usuario Embajador -->
    <div class="col-md-3 mb-3">
      <div class="form-group">
        <label class="form-label"><small>Código usuario embajador</small></label>
        <input type="number" class="form-control" formControlName="CodigoUsuarioEmba"
          placeholder="Código usuario embajador" [(ngModel)]="CodigoUsuarioEmba" />
      </div>
    </div>

    <!-- Filtro de Correo Embajador -->
    <div class="col-md-3 mb-3">
      <div class="form-group">
        <label class="form-label"><small>Correo embajador</small></label>
        <input type="text" class="form-control" formControlName="CorreoEmba" placeholder="Correo embajador"
          [(ngModel)]="CorreoEmba" />
      </div>
    </div>

    <!-- Filtro de Teléfono Embajador -->
    <div class="col-md-3 mb-3">
      <div class="form-group">
        <label class="form-label"><small>Teléfono embajador</small></label>
        <input type="text" class="form-control" formControlName="TelefonoVeci" placeholder="Teléfono"
          [(ngModel)]="telefonoEmbajador" />
      </div>
    </div>

    <!-- Filtro de Código Usuario Embajador Vecino -->
    <div class="col-md-3 mb-3">
      <div class="form-group">
        <label class="form-label"><small>Código usuario embajador vecino</small></label>
        <input type="number" class="form-control" formControlName="CodigoUsuarioVecino"
          placeholder="Código usuario vecino" [(ngModel)]="CodigoUsuarioVecino" />
      </div>
    </div>

    <!-- Filtro de Correo Vecino -->
    <div class="col-md-3 mb-3">
      <div class="form-group">
        <label class="form-label"><small>Correo vecino</small></label>
        <input type="text" class="form-control" formControlName="CorreoVeci" placeholder="Correo vecino"
          [(ngModel)]="CorreoVeci" />
      </div>
    </div>

    <!-- Filtro de Teléfono Vecino -->
    <div class="col-md-3 mb-3">
      <div class="form-group">
        <label class="form-label"><small>Teléfono vecino</small></label>
        <input type="text" class="form-control" formControlName="TelefonoVeci" placeholder="Teléfono vecino"
          [(ngModel)]="TelefonoVeci" />
      </div>
    </div>

    <!-- Filtro de Localidad -->
    <div class="col-md-3 mb-3">
      <div class="form-group">
        <label class="form-label"><small>Localidad</small></label>
        <select class="form-control" formControlName="localidad">
          <option value="0">Seleccione</option>
          <option *ngFor="let localida of ListaLocalidad" [value]="localida.IdTipo">
            {{ localida.Descripcion }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <!-- Botones de acción -->
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary me-3" (click)="btnBuscar()">
      Buscar
    </button>
    <button type="reset" class="btn btn-secondary me-3" (click)="BtnLimpiar()">
      Limpiar
    </button>
  </div>

  <!-- tabla con encabezados -->
  <div *ngIf="mostrarTabla == '1'" class="table-responsive p-4 cursorPonter">
    <table class="table table-striped table-bordered text-center">
      <thead class="table-primary">
        <tr>
          <th>Fecha de Creación Embajador</th>
          <th>Nombre Embajador</th>
          <th>ID Embajador</th>
          <th>Número Vecino</th>
          <th>Localidad</th>
          <th>Conjunto</th>
          <th>Dirección</th>
          <th>Complemento Dirección</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Tablalista of ListaTabla">
          <td>{{ Tablalista.FechaCreacioncomoEmbajador }}</td>
          <td>{{ Tablalista.NombrePersona }}</td>
          <td>{{ Tablalista.IdEmbajador }}</td>
          <td>{{ Tablalista.NumeroVecino }}</td>
          <td>Localidad 1</td>
          <td>{{ Tablalista.NombreConjunto }}</td>
          <td>{{ Tablalista.DRCCION }}</td>
          <td>{{ Tablalista.CMPLMNTO_DRRCCION }}</td>
          <td>
            <img src="../../../../assets/ImagenesAgroApoya2Adm/vista.png" width="35" height="35"
              (click)="AbrirModal(Tablalista)" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>

<!-- AREA MODALES -->
<ng-template #ModalVecino let-modal>
  <div class="modal-header bg-secundary text-white">
    <h1 class="modal-title fs-5">Detalle</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div class="container">
      <!-- Estructura en 4 columnas y 3 filas -->
      <div class="row mb-2">
        <div class="col-3 fw-bold">Usuario:</div>
        <div class="col-3">{{ Idusuario }}</div>
        <div class="col-3 fw-bold">Nombre:</div>
        <div class="col-3">{{ Nombre }}</div>
      </div>
      <div class="row mb-2">
        <div class="col-3 fw-bold">Correo:</div>
        <div class="col-3">{{ Correo }}</div>
        <div class="col-3 fw-bold">Fecha de Registro:</div>
        <div class="col-3">{{ Fecharegistro }}</div>
      </div>
      <div class="row mb-2">
        <div class="col-3 fw-bold">Celular:</div>
        <div class="col-3">{{ CelularPersona }}</div>
        <div class="col-3 fw-bold">ID ManyChat:</div>
        <div class="col-3">{{ IdManyChat }}</div>
      </div>
      <div class="row mb-2">
        <div class="col-3 fw-bold">Dirección:</div>
        <div class="col-3">{{ Direccion }}</div>
        <div class="col-3 fw-bold">Complemento:</div>
        <div class="col-3">{{ Complementodireccion }}</div>
      </div>
      <div class="row mb-2">
        <div class="col-3 fw-bold">Conjunto:</div>
        <div class="col-3">{{ NombreConjunto }}</div>
        <div class="col-3 fw-bold">Link:</div>
        <div class="col-3">
          <a href="{{ Linkrelacionvecinos }}" target="_blank">Ver Enlace</a>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-3 fw-bold">Número de Vecinos:</div>
        <div class="col-3">{{ Numerovecinos }}</div>
        <div class="col-3 fw-bold">Inicio Embajador:</div>
        <div class="col-3">{{ Fechaincioembajador }}</div>
      </div>
    </div>
  </div>

  <div class="table-responsive p-4 cursorPonter">
    <table class="table table-striped table-bordered text-center">
      <thead class="table-primary">
        <tr>
          <th>Nombre</th>
          <th>Celular</th>
          <th>Direccion</th>
          <th>Complemento direccion</th>
          <th>Desplegar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let VecinosReporte of ReporteVecinos">
          <td>{{ VecinosReporte.NombreVecino }}</td>
          <td>{{ VecinosReporte.CelularVecino }}</td>
          <td>{{ VecinosReporte.DireccionVecino }}</td>
          <td>{{ VecinosReporte.ComplementoVecino }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center my-4">
    <button type="button" class="btn btn-primary">Exportar Excel</button>
  </div>
</ng-template>