<div class="Fondo">
    <br><br>
    <div class="container bg-white">
        <h1>Conciliación Oferta</h1>
        <div class="row justify-content-center">
            <img src="./../../../../../assets/ImagenesAgroApoya2Admin/barra2.png" style="width: 65%;">
        </div>
        <br>
        <div class="br row justify-content-center">
            <h2 class="TituloDetalle">Precios del Mercado</h2>
        </div>
        <div class="br row justify-content-center">
            <table class="col-sm-10 TableAgro">
                <tr>
                    <th>Producto</th>
                    <th>Productor</th>
                    <th>Tamaño</th>
                    <th>Unidades</th>
                    <th>Precio</th>
                    <th>Fecha</th>
                </tr>
                <tr *ngFor="let oferta of ArrayUOfertas.slice(0,4)">
                    <td>{{oferta.Producto}}</td>
                    <td>{{oferta.NombreCompletoProductor}}</td>
                    <td>{{oferta.Tamano}}</td>
                    <td>{{oferta.unidadesOfertadas}}</td>
                    <td>{{oferta.VrTotalOfForm}}</td>
                    <td>{{oferta.VigenciaDesde}}</td>
                </tr>
            </table>
        </div>
        <div class="row br">
            <div class="col-sm-4">
                <label class="col-sm-12 Llave">Precio Sugerido</label>
                <input type="text" class="form-control form-control-sm textBox" placeholder="Precio Sugerido" [(ngModel)]="ValorSugerido" name="ValorSugerido">
            </div>
        </div>
        <hr>
        <div class="row justify-content-center br tarjetadetalle" *ngFor="let oferta of ArrayOferta">
            <div class="row m-2">
                <div class="col-sm-3">
                    <img src={{RutaImagen+oferta.IMAGEN}} class="col-sm-12 ImgOferta">
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave TextMay">Codigo oferta:&nbsp;</label><label
                                        class="ValorIDOfer"><strong>{{IdOferta}}</strong></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Producto:&nbsp;</label><label
                                        class="Valor">{{oferta.Nombre_Producto}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Presentación empaque:&nbsp;</label><label
                                        class="Valor">{{oferta.Descripcion_empaque}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Tamaño:&nbsp;</label><label
                                        class="Valor">{{oferta.Nmbre_tamano}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Condición entrega:&nbsp;</label> <label
                                        class="Valor">{{oferta.Condicion_entrega}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Valor unidad:&nbsp;</label><label
                                        class="Valor">{{oferta.VR_UNDAD_EMPQUE}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Unidades disponibles:&nbsp;</label><label
                                        class="Valor">{{oferta.Unidades_disponibles}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="Llave">Valor total oferta:&nbsp;</label><label
                                class="Valor">{{oferta.VR_TOTAL_OFRTA}}</label>
                        </div>
                        <div class="col-sm-6">
                            <label class="Llave">Valor costeo:&nbsp;</label><label
                                class="Valor">{{oferta.vlor_costeo}}</label>
                        </div>
                    </div>
                    <hr class="hrSinEstilo">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="Llave">Descripción producto:&nbsp;</label><label
                                class="Valor">{{oferta.caracteristicas}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="Llave">Caracterización:&nbsp;</label><label
                                class="Valor">{{oferta.caracterizacion}}</label>
                        </div>
                    </div>
                    <hr class="hrSinEstilo">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Fecha recogida:&nbsp;</label><label
                                        class="Valor">{{oferta.fecha_recogida}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Jornada:&nbsp;</label><label
                                        class="Valor">{{oferta.Nombre_jornada}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="Llave">Nombre productor:&nbsp;</label><label
                                class="Valor">{{oferta.Nombre_productor}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Ubicación:&nbsp;</label><label
                                        class="Valor">{{oferta.Ubicacion_parsela +'
                                        ('+oferta.coordenadas_parcela}})</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="Llave">Estado oferta:&nbsp;</label><label
                                        class="Valor">{{NomEstado}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr *ngIf="ValidaSiguiente == '0'">
                    <div class="row justify-content-center" *ngIf="ValidaSiguiente == '0'">
                        <div class="col-sm-1">
                            <button class="SinEstilo" (click)="EditaOferta(templateEditar)">
                                <img src="./../../../../../assets/ImagenesAgroApoya2Admin/Editar.png"
                                    title="Editar oferta">
                            </button>
                            <label>Editar</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center br">
            <div class="col-2 col-sm-3">
                <button class="btn btn-agro-prin col-sm-12" (click)="Atras()">Atras</button>
            </div>
            <div class="col-2 col-sm-3" *ngIf="ValidaEnviaPropuesta == '1'">
                <button class="btn btn-agro-prin col-sm-12" (click)="EnviarPropuesta(ModalRespuesta)">Enviar Propuesta</button>
            </div>
            <div class="col-2 col-sm-3" *ngIf="ValidaAprobar == '1'">
                <button class="btn btn-agro-prin col-sm-12" (click)="AprobarOferta(templateAprobar)" >Aprobar</button>
            </div>
            <div class="col-2 col-sm-3" *ngIf="ValidaDeclinar == '1'">
                <button class="btn btn-agro-prin col-sm-12" (click)="DeclinarOferta(templateDeclinar)" >Declinar</button>
            </div>
            <div class="col-2 col-sm-3" *ngIf="ValidaSiguiente == '1'">
                <button class="btn btn-agro-prin col-sm-12" (click)="Enviar()">Siguiente</button>
            </div>
        </div>
    </div>
    <ng-template #templateEditar let-modal>
        <div class="modal-header">
            <h1 class="modal-title" id="modal-basic-title">Editar oferta</h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            <div class="row br">
                <div class="col-sm-6">
                    <label class="col-sm-12 Llave">Caracterización</label>
                    <textarea name="ECaracteriza" id="ECaracteriza" class="col-sm-12 form-control form-control-sm textArea"
                        placeholder="Caracterización" rows="3" [(ngModel)]="ECaracteriza"></textarea>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-12 Llave">Presentación</label>
                    <select name="EEmpaque" id="EEmpaque" #eempaque class="form-control form-control-sm textBox"
                    (change)='SelEEmpaque(eempaque.value)'>
                        <option value="0">Presentación</option>
                        <option *ngFor="let empaque of ArrayEmpaque" [value]="empaque.id_empaque" [selected]="empaque.id_empaque == IdEEmpaque">
                            {{empaque.des_empaque}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row br">
                <div class="col-sm-6">
                    <label class="col-sm-12 Llave">Valor Unidad</label>
                    <input type="text" class="col-sm-12 form-control form-control-sm textBox" placeholder="Valor Unidad" name="EVUnidad" [(ngModel)]="EVUnidad">
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-12 Llave">Unidades Disponibles</label>
                    <input type="text" class="col-sm-12 form-control form-control-sm textBox" placeholder="Unidades Disponibles" name="EUnidadesDis" [(ngModel)]="EUnidadesDis">
                </div>
            </div>
            <div class="row br">
                <div class="col-sm-6">
                    <label class="col-sm-12 Llave">Fecha Recogida</label>
                    <input type="text" class="col-sm-12 form-control form-control-sm textBox" placeholder="Fecha recogida" name="EFechaRecogida" [(ngModel)]="EFechaRecogida"
                        onfocus="(this.type='date')" onblur="(this.type='date')" name="EFechaRecogida">
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-12 Llave">Jornada</label>
                    <select name="EJornada" id="EJornada" #ejornada class="form-control form-control-sm textBox"
                    (change)='SelEJornada(ejornada.value)'>
                        <option value="0">Jornada</option>
                        <option  *ngFor="let jor of ArrayJornada" [value]="jor.CD_JRNDA" [selected]="jor.CD_JRNDA == IdEJornada" >
                            {{jor.DESCRIPCION}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row br">
                <div class="col-sm-6">
                    <label class="col-sm-12 Llave">Descripción Producto</label>
                    <textarea  class="col-sm-12 form-control form-control-sm textArea"
                        placeholder="Descripción Producto" rows="3" name="EDescripcion" [(ngModel)]="EDescripcion"></textarea>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-12 Llave">Observación Edición</label>
                    <textarea  class="col-sm-12 form-control form-control-sm textArea"
                        placeholder="Observación Edición" name="EOpservacion" [(ngModel)]="EObservacion" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-agro-prin col-sm-2" (click)="AceptaEditar(ModalRespuesta)">Guardar</button>
        </div>
        <br>
    </ng-template>
    <ng-template #templateDeclinar let-modal>
        <div class="modal-header">
            <h1 class="modal-title" id="modal-basic-title">Declinar Oferta</h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            <div class="row br">
                <div class="col-sm-12">
                    <textarea [(ngModel)]="mcObservacion" name="mcObservacion" id="mcObservacion"
                        class="Col-sm-12 form-control form-control-sm textArea" placeholder="Observación" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-agro-prin col-sm-2" (click)="AceptarDeclinar(ModalRespuesta)">Guardar</button>
        </div>
        <br>
    </ng-template>
    <ng-template #templateAprobar let-modal>
        <div class="modal-header">
            <h1 class="modal-title" id="modal-basic-title">Aprobar Oferta</h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            <div class="row br">
                <div class="col-sm-12">
                    <label class="col-sm-12 Llave">Precio final aprobación</label>
                    <input [(ngModel)]="maPrecioFinal" name="maPrecioFinal" id="maPrecioFinal"
                        class="Col-sm-12 form-control form-control-sm textArea" placeholder="Precio final aprobación">
                </div>
            </div>
            <div class="row br">
                <div class="col-sm-12">
                    <label class="col-sm-12 Llave">Observaciones</label>
                    <textarea [(ngModel)]="maObservacion" name="maObservacion" id="maObservacion"
                        class="Col-sm-12 form-control form-control-sm textArea" placeholder="Observaciones" rows="3"></textarea>
                </div>
            </div>
            <div class="row br">
                <div class="col-sm-12">
                    <label class="col-sm-12 Llave">Ciudad aplica oferta</label>
                    <select name="ACiudad" id="Aciudad" #aciudad class="form-control form-control-sm textBox"
                    (change)='SelACiudad(aciudad.value)'>
                        <option value="1">Ciudad Aplica</option>
                        <option *ngFor="let ciudad of ArrayCiudades" [value]="ciudad.CD_MNCPIO" >
                            {{ciudad.DSCRPCION}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-agro-prin col-sm-2" (click)="AceptarAprobar(ModalRespuesta)">Guardar</button>
        </div>
        <br>
    </ng-template>
    <ng-template #ModalRespuesta let-modal>
        <div class="modal-header">
            <h1>Respuesta</h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            <div class="row br">
                <div class="col-sm-12">
                    <h2 class="TituloDetalle">{{Respuesta}}</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-agro-prin col-sm-2" (click)="modal.close()">Aceptar</button>
        </div>
        <br>
    </ng-template>
</div>
