<div class="Fondo">
    <br><br>
    <div class="container bg-white">
        <h1>Conciliación Oferta</h1>
        <div class="row justify-content-center">
            <img src="./../../../../../assets/ImagenesAgroApoya2Admin/barra2.png" style="width: 65%;">
        </div>
        <br>
        <div class="br row justify-content-center">
            <h2 class="TituloDetalle">Precios del Mercado</h2>
        </div>
        <div class="br row justify-content-center">
            <table class="col-sm-10 TableAgro">
                <tr>
                    <th>Producto</th>
                    <th>Productor</th>
                    <th>Tamaño</th>
                    <th>Unidades</th>
                    <th>Precio</th>
                    <th>Fecha</th>
                </tr>
                <tr *ngFor="let oferta of ArrayUOfertas.slice(0,6)">
                    <td>{{oferta.Producto}}</td>
                    <td>{{oferta.NombreCompletoProductor}}</td>
                    <td>{{oferta.Tamano}}</td>
                    <td>{{oferta.unidadesOfertadas}}</td>
                    <td>{{oferta.VrTotalOfForm}}</td>
                    <td>{{oferta.VigenciaDesde}}</td>
                </tr>
            </table>
        </div>
        <div class="row br">
            <div class="col-sm-4">
                <input type="text" class="form-control form-control-sm textBox" placeholder="Precio Sugerido">
            </div>
        </div>
        <hr>
        <div class="row justify-content-center">
            <div class="col-sm-11 tarjetadetalle">
                <div class="row">
                    <div class="col-sm-3" style="padding-top: 5%;">
                        <img src="{{ImagenOferta}}" class="col-sm-12">
                    </div>
                    <div class="col-sm-9">
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="Llave">Nombre productor:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="Valor">{{NombreProductor}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="Llave">Producto:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="Valor">{{DesProducto}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="Llave">Tamaño:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="Valor">{{Tamano}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="Llave">Presentacion empaque:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="Valor">{{Presentacion}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="Llave">Descripción producto:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="Valor">{{Descripcion}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="Llave">Caracterización:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="Valor">{{Caracterizacion}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="Llave">Valor unidad empaque:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="Valor">{{ValorUnidad}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="Llave">Unidades disponibles:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="Valor">{{Unidades}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="Llave">Fecha recogida:</label>
                            </div>
                            <div class="col-sm-2">
                                <label class="Valor">{{FechaRecogida}}</label>
                            </div>
                            <div class="col-1 col-sm-2">
                                <label class="Llave">Jornada:</label>
                            </div>
                            <div class="col-2 col-sm-3">
                                <label class="Valor">{{Jornada}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="Llave">Direccion o coordenadas:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="Valor">{{Direccion}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="Llave">Valor total oferta:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="Valor">{{ValorTotal}}</label>
                            </div>
                        </div>
                        <br>
                    </div>

                    <hr *ngIf="ValidaSiguiente == '0'">
                    <div class="row justify-content-center" *ngIf="ValidaSiguiente == '0'">
                        <div class="col-sm-1">
                            <button class="SinEstilo" (click)="EditaOferta(templateEditar)">
                                <img src="./../../../../../assets/ImagenesAgroApoya2Admin/Editar.png"
                                    title="Editar oferta">
                            </button>
                            <label>Editar</label>
                        </div>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="row justify-content-center br">
            <div class="col-2 col-sm-3">
                <button class="btn btn-agro-prin col-sm-12" (click)="Atras()">Atras</button>
            </div>
            <div class="col-2 col-sm-3" *ngIf="ValidaSiguiente == '0'">
                <button class="btn btn-agro-prin col-sm-12" (click)="EnviarPropuesta(ModalRespuesta)">Enviar Propuesta</button>
            </div>
            <div class="col-2 col-sm-3" *ngIf="ValidaSiguiente == '0'">
                <button class="btn btn-agro-prin col-sm-12" (click)="AprobarOferta(templateAprobar)" >Aprobar</button>
            </div>
            <div class="col-2 col-sm-3" *ngIf="ValidaSiguiente == '0'">
                <button class="btn btn-agro-prin col-sm-12" (click)="DeclinarOferta(templateDeclinar)" >Declinar</button>
            </div>
            <div class="col-2 col-sm-3" *ngIf="ValidaSiguiente == '1'">
                <button class="btn btn-agro-prin col-sm-12" (click)="Enviar()">Siguiente</button>
            </div>
        </div>
    </div>
    <ng-template #templateEditar let-modal>
        <div class="modal-header">
            <h1 class="modal-title" id="modal-basic-title">Editar oferta</h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            <div class="row br">
                <div class="col-sm-6">
                    <textarea name="ECaracteriza" id="ECaracteriza" class="col-sm-12 form-control form-control-sm textArea"
                        placeholder="Caracterización" rows="3" [(ngModel)]="ECaracteriza"></textarea>
                </div>
                <div class="col-sm-6">
                    <select name="EEmpaque" id="EEmpaque" #eempaque class="form-control form-control-sm textBox"
                    (change)='SelEEmpaque(eempaque.value)'>
                        <option value="0">Presentación</option>
                        <option *ngFor="let empaque of ArrayEmpaque" [value]="empaque.id_empaque" >
                            {{empaque.des_empaque}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row br">
                <div class="col-sm-6">
                    <input type="text" class="col-sm-12 form-control form-control-sm textBox" placeholder="Valor Unidad" name="EVUnidad" [(ngModel)]="EVUnidad">
                </div>
                <div class="col-sm-6">
                    <input type="text" class="col-sm-12 form-control form-control-sm textBox" placeholder="Unidades Disponibles" name="EUnidadesDis" [(ngModel)]="EUnidadesDis">
                </div>
            </div>
            <div class="row br">
                <div class="col-sm-6">
                    <input type="text" class="col-sm-12 form-control form-control-sm textBox" placeholder="Fecha recogida" name="EFechaRecogida" [(ngModel)]="EFechaRecogida"
                        onfocus="(this.type='date')" onblur="(this.type='date')" name="EFechaRecogida">
                </div>
                <div class="col-sm-6">
                    <select name="EJornada" id="EJornada" #ejornada class="form-control form-control-sm textBox"
                    (change)='SelEJornada(ejornada.value)'>
                        <option value="0">Jornada</option>
                        <option  *ngFor="let jor of ArrayJornada" [value]="jor.CD_JRNDA" [selected]=" jor.jornada == IdEJornada" >
                            {{jor.DESCRIPCION}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row br">
                <div class="col-sm-6">
                    <textarea  class="col-sm-12 form-control form-control-sm textArea"
                        placeholder="Descripción Producto" rows="3" name="EDescripcion" [(ngModel)]="EDescripcion"></textarea>
                </div>
                <div class="col-sm-6">
                    <textarea  class="col-sm-12 form-control form-control-sm textArea"
                        placeholder="Observación Edición" name="EOpservacion" [(ngModel)]="EObservacion" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-agro-prin col-sm-2" (click)="AceptaEditar(ModalRespuesta)">Guardar</button>
        </div>
        <br>
    </ng-template>
    <ng-template #templateDeclinar let-modal>
        <div class="modal-header">
            <h1 class="modal-title" id="modal-basic-title">Declinar Oferta</h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            <div class="row br">
                <div class="col-sm-12">
                    <textarea [(ngModel)]="mcObservacion" name="mcObservacion" id="mcObservacion"
                        class="Col-sm-12 form-control form-control-sm textArea" placeholder="Observación" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-agro-prin col-sm-2" (click)="AceptarDeclinar(ModalRespuesta)">Guardar</button>
        </div>
        <br>
    </ng-template>
    <ng-template #templateAprobar let-modal>
        <div class="modal-header">
            <h1 class="modal-title" id="modal-basic-title">Aprobar Oferta</h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            <div class="row br">
                <div class="col-sm-12">
                    <textarea [(ngModel)]="maObservacion" name="maObservacion" id="maObservacion"
                        class="Col-sm-12 form-control form-control-sm textArea" placeholder="Observaciónes" rows="3"></textarea>
                </div>
            </div>
            <div class="row br">
                <div class="col-sm-12">
                    <select name="ACiudad" id="Aciudad" #aciudad class="form-control form-control-sm textBox"
                    (change)='SelACiudad(aciudad.value)'>
                        <option value="1">Ciudad Aplica</option>
                        <option *ngFor="let ciudad of ArrayCiudades" [value]="ciudad.CD_MNCPIO" >
                            {{ciudad.DSCRPCION}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-agro-prin col-sm-2" (click)="AceptarAprobar(ModalRespuesta)">Guardar</button>
        </div>
        <br>
    </ng-template>
    <ng-template #ModalRespuesta let-modal>
        <div class="modal-header">
            <h1>Respuesta</h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            <div class="row br">
                <div class="col-sm-12">
                    <h2 class="TituloDetalle">{{Respuesta}}</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-agro-prin col-sm-2" (click)="modal.close()">Aceptar</button>
        </div>
        <br>
    </ng-template>
</div>
