<br>
<div class="container bg-white">
    <br>
    <h1>Asignación transportista</h1>
    <div class="br row justify-content-center">
        <img src="./../../../../../assets/ImagenesAgroApoya2Admin/barra4.png" style="width: 65%;">
    </div>
    <div class="row justify-content-center br tarjetadetalle" *ngFor="let oferta of DataOferta">
        <div class="row m-2">
            <div class="col-sm-3">
                <img src={{RutaImagen+oferta.IMAGEN}} class="col-sm-12 ImgOferta">
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave TextMay">Codigo oferta:&nbsp;</label><label
                                    class="ValorIDOfer"><strong>{{SessionOferta}}</strong></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Producto:&nbsp;</label><label
                                    class="Valor">{{oferta.Nombre_Producto}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Presentación empaque:&nbsp;</label><label
                                    class="Valor">{{oferta.Descripcion_empaque}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Tamaño:&nbsp;</label><label
                                    class="Valor">{{oferta.Nmbre_tamano}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Condición entrega:&nbsp;</label> <label
                                    class="Valor">{{oferta.Tamano}}</label>
                                <label class="Llave">Condición entrega:&nbsp;</label> <label class="Valor">{{oferta.Condicion_entrega}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Valor unidad:&nbsp;</label><label
                                    class="Valor">{{oferta.VR_UNDAD_EMPQUE}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Unidades disponibles:&nbsp;</label><label
                                    class="Valor">{{oferta.Unidades_disponibles}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="Llave">Valor total oferta:&nbsp;</label><label
                            class="Valor">{{oferta.VR_TOTAL_OFRTA}}</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="Llave">Valor costeo:&nbsp;</label><label
                            class="Valor">{{oferta.vlor_flte_xunidad}}</label>
                    </div>
                </div>
                <hr class="hrSinEstilo">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="Llave">Descripción producto:&nbsp;</label><label
                            class="Valor">{{oferta.caracteristicas}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="Llave">Caracterización:&nbsp;</label><label
                            class="Valor">{{oferta.caracterizacion}}</label>
                    </div>
                </div>
                <hr class="hrSinEstilo">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Fecha recogida:&nbsp;</label><label
                                    class="Valor">{{oferta.fecha_recogida}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Jornada:&nbsp;</label><label
                                    class="Valor">{{oferta.Nombre_jornada}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="Llave">Nombre productor:&nbsp;</label><label
                            class="Valor">{{oferta.Nombre_productor}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Ubicación:&nbsp;</label><label
                                    class="Valor">{{oferta.Ubicacion_parsela +' ('+oferta.coordenadas_parcela}})</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row br">
        <div class="col-sm-4">
            <ng-autocomplete [data]="DataSectores" [searchKeyword]="keyword" [(ngModel)]="SectorSelec"
                placeholder="Sector" (selected)='selectSector($event)'
                [itemTemplate]="DataSectores.length>0 ? templateSec : templateVacio" [notFoundTemplate]="templateVacio">
            </ng-autocomplete>
            <ng-template #templateSec let-item>
                <a [innerHTML]="item.DSCRPCION_SCTOR"></a>
            </ng-template>
            <ng-template #templateVacio let-SinRegistro>
                <label for="">Sin registros</label>
            </ng-template>
        </div>
        <div class="col-sm-4">
            <ng-autocomplete [data]="DataTransportista" [searchKeyword]="keywordT" [(ngModel)]="TransSelec"
                placeholder="Transportista" (selected)='selectTrans($event)' [itemTemplate]="templateTran"
                [notFoundTemplate]="templateVacio">
            </ng-autocomplete>
            <ng-template #templateTran let-item>
                <a [innerHTML]="item.nombre_conductor"></a>
            </ng-template>
            <ng-template #templateVacio let-SinRegistro>
                <label for="">Sin registros</label>
            </ng-template>
        </div>
        <div class="col-sm-4">
            <input class="col-sm-12 form-control form-control-sm textBox" type="text" placeholder="Valor flete"
                [(ngModel)]="VlrFlete">
        </div>
    </div>
    <div class="row br justify-content-center">
        <div class="col-sm-2 col-2">
            <button class="btn btn-agro-prin col-sm-12" (click)="AsociaTransportista(ModalRespuesta)">
                Asociar Transportista
            </button>
        </div>
        <div class="col-sm-2 col-2">
            <button class="btn btn-agro-sec col-sm-12" (click)="LimpiaForm()">
                Limpiar
            </button>
        </div>
    </div>
    <hr>
    <div class="br row justify-content-center">
        <div class="col-sm-4">
            <div class="row">
                <h2 class="TituloDetalle col-sm-9 mt-2">Transportistas Asociados</h2>
                <button class="SinEstilo col-sm-1" (click)="ConsultaCondOferta()">
                    <img src="./../../../../../assets/ImagenesAgroApoya2Admin/actualizar.png">
                </button>
            </div>
        </div>
    </div>
    <div class="br row justify-content-center">
        <table class="col-sm-12 TableAgro">
            <tr>
                <th>Sector</th>
                <th>Cantidades del Sector</th>
                <th>Conductor</th>
                <th>Valor flete</th>
                <th>Valor Contra-flete</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
            <tr *ngFor="let transportista of DataTransOferta">
                <td>{{transportista.DSCRPCION_SCTOR}}</td>
                <td>{{transportista.cantidad}}</td>
                <td>{{transportista.NMBRE_CNDCTOR}}</td>
                <td>${{transportista.VLOR_FLTE_PCTDO}}</td>
                <td><input type="text" class="col-sm-12 form-control" value="${{transportista.VLOR_FLTE_PCTDO}}"></td>
                <td>{{transportista.NOM_ESTADO}}</td>
                <td>
                    <button class="SinEstilo" (click)="DetalleTransportista(transportista, ModalDetalle)">
                        <img src="./../../../../../assets/ImagenesAgroApoya2Admin/info.png">
                    </button>
                    <button class="SinEstilo" (click)="EliminaTransportista(transportista, ModalRespuesta)">
                        <img src="./../../../../../assets/ImagenesAgroApoya2Admin/basurarojo.png">
                    </button>
                    <button class="SinEstilo" (click)="ApruebaTransportista(transportista, ModalRespuesta)">
                        <img src="./../../../../../assets/ImagenesAgroApoya2Admin/aprobar.png">
                    </button>
                    <button class="SinEstilo" (click)="RechazarTransportista(transportista, ModalRespuesta)">
                        <img src="./../../../../../assets/ImagenesAgroApoya2Admin/rechazado.png">
                    </button>
                </td>
            </tr>
            <tr *ngIf="ValidaConsulta=='1'">
                <td colspan="7">{{txtValidaCons}}</td>
            </tr>
        </table>
    </div>
    <div class="row justify-content-center br">
        <div class="col-sm-2 ">
            <button class="btn btn-agro-prin col-sm-12" (click)="Enviar(ModalRespuesta)">Siguiente</button>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>
<ng-template #ModalRespuesta let-modal>
    <div class="modal-header">
        <h1>Respuesta</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row br">
            <div class="col-sm-12">
                <h2 class="TituloDetalle">{{Respuesta}}</h2>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <button type="button" class="btn btn-agro-prin col-sm-2" (click)="modal.close()">Aceptar</button>
    </div>
    <br>
</ng-template>
<ng-template #ModalDetalle let-modal>
    <div class="modal-header">
        <h1>Detalle conductor</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row" *ngFor="let conductor of DataConductor">
            <div class="row">
                <div class="col-sm-6">
                    <label class="Llave">Transportista</label>
                    <hr class="hrSinEstilo">
                </div>
                <div class="col-sm-6">
                    <label class="Llave">Conductor</label>
                    <hr class="hrSinEstilo">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="Valor">{{conductor.transportista}}</label>
                </div>
                <div class="col-sm-6">
                    <label class="Valor">{{conductor.CONDUCTOR}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="Valor">{{conductor.CELULAR_PERSONA}}</label>
                </div>
                <div class="col-sm-6">
                    <label class="Valor">{{conductor.TEL_CNDCTOR}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="Valor">{{conductor.DRCCION}}</label>
                </div>
                <div class="col-sm-6">
                    <label class="Valor">{{conductor.DIRECCION}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="Valor">{{conductor.CIUDAD_TRANS}}</label>
                </div>
                <div class="col-sm-6">
                    <label class="Valor">{{conductor.CIUDAD_COND}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="Valor">{{conductor.CORREO_PERSONA}}</label>
                </div>
                <!-- <div class="col-sm-6">
                    <label class="Valor">{{conductor.DIRECCION}}</label>
                </div> -->
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <button type="button" class="btn btn-agro-prin col-sm-2" (click)="modal.close()">Aceptar</button>
    </div>
    <br>
</ng-template>