<br>
<div class="container bg-white">
    <br>
    <h1>Asignación transportista</h1>
    <div class="br row justify-content-center">
        <img src="./../../../../../assets/ImagenesAgroApoya2Admin/barra4.png" style="width: 65%;">
    </div>
    <div class="br row">
        <div class="col-sm-4">
            <ng-autocomplete [data]="data" [searchKeyword]="keyword" placeholder="Sector" (selected)='selectSector($event)' [itemTemplate]="templateSec" [notFoundTemplate]="templateVacio">
            </ng-autocomplete>
            <ng-template #templateSec let-item>
                <a [innerHTML]="item.name"></a>
            </ng-template>
            <ng-template #templateVacio let-SinRegistro>
                <label for="">Sin registros</label>
            </ng-template>
        </div>
        <div class="col-sm-4">
            <ng-autocomplete [data]="data" [searchKeyword]="keyword" placeholder="Transportista" (selected)='selectTrans($event)' [itemTemplate]="templateTran" [notFoundTemplate]="templateVacio">
            </ng-autocomplete>
            <ng-template #templateTran let-item>
                <a [innerHTML]="item.name"></a>
            </ng-template>
            <ng-template #templateVacio let-SinRegistro>
                <label for="">Sin registros</label>
            </ng-template>
        </div>
        <div class="col-sm-4">
            <input class="col-sm-12 form-control form-control-sm textBox" type="text" placeholder="Valor flete">
        </div>
    </div>
    <div class="row br justify-content-center">
        <div class="col-sm-2 col-2">
            <button class="btn btn-agro-prin col-sm-12">
                Asociar Transportista
            </button>
        </div>
        <div class="col-sm-2 col-2">
            <button class="btn btn-agro-sec col-sm-12" (click)="LimpiaForm()">
                Limpiar
            </button>
        </div>
    </div>
    <hr>
    <div class="br row justify-content-center">
        <h2 class="TituloDetalle">Transportistas Asociados</h2>
    </div>
    <div class="br row justify-content-center">
        <table class="col-sm-10 TableAgro">
            <tr>
                <th>Sector</th>
                <th>Transportista</th>
                <th>Valor flete</th>
                <th>Eliminar</th>
            </tr>
            <tr>
                <td>Usaquen</td>
                <td>Juan M</td>
                <td>5000</td>
                <td>
                    <button class="SinEstilo">
                        <img src="./../../../../../assets/ImagenesAgroApoya2Admin/Cerrar.png">
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>