h1 {
    text-align: center;
    color: #397c97;
    font-size: x-large;
}

h2 {
    text-align: center;
    color: #397c97;
    font-size: large;
}

.TituloDetalle {
    color: #96989B;
}

.SubTituloForm {
    color: #397c97;
    text-transform: uppercase;
}

.Llave {
    color: #181D23;
    font-weight: 600;
}

.Valor {
    color: #575A5F;
}

.ValorIDOfer {
    color: #7ccc64;
}

.hrSinEstilo {
    margin: 2px;
}

.TextMay {
    text-transform: uppercase;
}

.ImgOferta {
    /* margin-top: 15px; */
    border-radius: 25px;
}

.CentrarText {
    text-align: center !important;
}

.CardRedonda {
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 3px;
}

.image-upload>input {
    display: none;
}

.image-upload img {
    width: 100px;
    cursor: pointer;
}

.btn-agro-prin {
    color: white;
    border-color: #397c97;
    background-color: #397c97;
}

.btn-agro-sec {
    color: white;
    border-color: #575A5F;
    background-color: #575A5F;
}

.btn-agro-sec:hover {
    color: #397c97;
    border-color: #397c97;
}

body {
    background: url(./assets/ImagenesAgroApoya2Admin/FondoVerdurasDos.png);
}

.Fondo {
    background: url(./assets/ImagenesAgroApoya2Admin/FondoVerdurasDos.png) scroll;
    background-position: 50% 50%
}

.ImagenOferta {
    max-width: 450px;
    max-height: 298;
    border-radius: 2%;
}

.br {
    margin-top: 20px;
}

.ImgOfer {
    border-radius: 25px;
    height: 250px;
    width: auto;
    margin: 10px;
}

.DivImgOfer {
    border-radius: 15px;
    margin-bottom: 10px;
}

.tarjetadetalle {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.SinEstilo {
    background: none;
    border: none;
    margin: none !important;
    padding: 1px;
}

.TableAgro td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

.TableAgro th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #397c97;
    color: white;
}

.TableAgro td {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
}

.textBox {
    border-top: solid 0.5px #f3f3f3;
    border-radius: 1px;
    height: 40px;
    box-shadow: 0px 1px #adadad;
}

.textArea {
    border-top: solid 0.5px #f3f3f3;
    border-radius: 1px;
    box-shadow: 0px 1px #adadad;
}

.BtnimgTamano {
    width: 33px;
    height: 33px;
    padding: 0px;
}

.BtnimgTamanoPeque {
    width: 21px;
    height: 21px;
    padding: 0px;
}

.BtnimgTamanoMediano {
    width: 28px;
    height: 28px;
    padding: 0px;
}

.image-uploadTres>input {
    display: none;
}

.image-uploadTres img {
    width: 200px;
    cursor: pointer;
}

.TextAlert {
    color: red;
}

.ShowMap {
    visibility: visible !important;
    height: 500px;
}

.HideMap {
    visibility: hidden !important;
}

.Linktxt{
    cursor: pointer;
    color: #397c97 !important;
}