<br>
<div class="container bg-white">
    <br>
    <h1>Sectorización</h1>
    <div class="br row justify-content-center">
        <img src="./../../../../../assets/ImagenesAgroApoya2Adm/barra3.png" style="width: 65%;">
    </div>
    <div class="row justify-content-center br tarjetadetalle" *ngFor="let oferta of DataOferta">
        <div class="row m-2">
            <div class="col-sm-3">
                <img src={{RutaImagen+oferta.IMAGEN}} class="col-sm-12 ImgOferta">
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave TextMay">Código oferta:&nbsp;</label><label
                                    class="ValorIDOfer"><strong>{{oferta.COD_OFR_PUBLICO}}</strong></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Producto:&nbsp;</label><label
                                    class="Valor">{{oferta.Nombre_Producto}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Presentación empaque:&nbsp;</label><label
                                    class="Valor">{{oferta.Descripcion_empaque}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Tamaño:&nbsp;</label><label
                                    class="Valor">{{oferta.Nmbre_tamano}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Condición entrega:&nbsp;</label> <label
                                    class="Valor">{{oferta.Condicion_entrega}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label class="Llave">Valor unidad campesino:&nbsp;</label><label
                            class="Valor">{{oferta.valor_unidad_formato_PROD}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Valor unidad:&nbsp;</label><label
                                    class="Valor">{{oferta.valor_unidad_formato}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Unidades disponibles:&nbsp;</label><label
                                    class="Valor">{{oferta.Unidades_disponibles}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="Llave">Valor total oferta:&nbsp;</label><label
                            class="Valor">{{oferta.valor_Total_Ofr_formato}}</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="Llave">Valor costeo:&nbsp;</label><label
                            class="Valor">{{oferta.vlor_flte_xunidad}}</label>
                    </div>
                </div>
                <hr class="hrSinEstilo">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="Llave">Descripción producto:&nbsp;</label><label
                            class="Valor">{{oferta.caracteristicas}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="Llave">Caracterización:&nbsp;</label><label
                            class="Valor">{{oferta.caracterizacion}}</label>
                    </div>
                </div>
                <hr class="hrSinEstilo">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Fecha recogida:&nbsp;</label><label
                                    class="Valor">{{oferta.fecha_recogida}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Jornada:&nbsp;</label><label
                                    class="Valor">{{oferta.Nombre_jornada}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="Llave">Nombre productor:&nbsp;</label><label
                            class="Valor">{{oferta.Nombre_productor}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="Llave">Ubicación:&nbsp;</label><label class="Valor">{{oferta.Ubicacion_parsela
                                +' ('+oferta.coordenadas_parcela}})</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="Llave">Estado:&nbsp;</label><label
                                class="Valor">{{oferta.Nombre_estado}}</label>
                        </div>
                    </div>
                </div>
                <hr class="hrSinEstilo">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Ciudad:&nbsp;</label><label class="Valor">{{SessionCiudad}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="Llave">Cantidades de la oferta asignadas:&nbsp;</label><label
                                    class="Valor TextAlert">{{CantidadSectores}} de {{SessionCantSecOferta}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="br row">
        <div class="col-sm-4 mt-3" style="padding-left: 10px; padding-right: 10px;">
            <div class="simpading">
                <ng-autocomplete [data]="DataZonas" [searchKeyword]="keywordZonasAsignaSector" placeholder="Zona"
                    (selected)='selectZona($event)' [itemTemplate]="templateResZona" [notFoundTemplate]="templateVacio"
                    [(ngModel)]="ZonaAsignaSector" (inputCleared)="LimpiaZona('')">
                </ng-autocomplete>
                <ng-template #templateResZona let-item>
                    <a [innerHTML]="item.Descripcion"></a>
                </ng-template>
                <ng-template #templateVacio let-SinRegistro>
                    <label for="">Sin registros</label>
                </ng-template>
            </div>
        </div>

        <div class="col-sm-4 mt-3" style="padding-left: 10px; padding-right: 10px; display: flex;">
            <div class="simpading w-100">
                <ng-autocomplete [disabled]="seleczona == '0'" [data]="DataSectores" [searchKeyword]="keyword"
                    placeholder="Sector" (selected)='selectSector($event, ModalMapa)' [itemTemplate]="templateResSector"
                    [notFoundTemplate]="templateVacio" [(ngModel)]="Sector" (inputCleared)="LimpiaSector('')">
                </ng-autocomplete>
                <ng-template #templateResSector let-item>
                    <a [innerHTML]="item.DSCRPCION_SCTOR"></a>
                </ng-template>
                <ng-template #templateVacio let-SinRegistro>
                    <label for="">Sin registros</label>
                </ng-template>
            </div>
            <button class="SinEstilo" style="margin-left: 10px;" *ngIf="seleczona == '0'" (click)="AbrirMensaje(ModalRespuesta)">
                <img src="./../../../../../assets/ImagenesAgroApoya2Adm/mapaGris.png" style="width: 32px;"
                    title="Editar Imagen Mapa">
            </button>
            <button class="SinEstilo" style="margin-left: 10px;" *ngIf="seleczona != '0'"
            (click)="EditarImgMapa(ModalImgMapa, '', '')">
                <img src="./../../../../../assets/ImagenesAgroApoya2Adm/mapaSec.png" style="width: 32px;"
                    title="Editar Imagen Mapa">
            </button>
        </div>

        <div class="col-sm-4 mt-3" style="padding-left: 10px; padding-right: 10px; display: flex">
            <div class="simpading w-100">
                <ng-autocomplete [disabled]="SectSelec == ''" [data]="DataBodegas" [searchKeyword]="keywordBodega"
                    placeholder="Bodega" (selected)='selectBodega($event)' [itemTemplate]="templateResBodega"
                    [notFoundTemplate]="templateVacio" [(ngModel)]="Bodega" (inputCleared)="LimpiaBodega('')">
                </ng-autocomplete>
                <ng-template #templateResBodega let-item>
                    <a [innerHTML]="item.NombreBodega"></a>
                </ng-template>
                <ng-template #templateVacio let-SinRegistro>
                    <label for="">Sin registros</label>
                </ng-template>
            </div>
            <button class="SinEstilo" style="margin-left: 10px;" (click)="AbrirModalBodega(ModalBodegaSector)">
                <img src="./../../../../../assets/ImagenesAgroApoya2Adm/bodega.png" class="CursorPointer"
                    style="width: 28px; margin-top: 5px;"  />
            </button>
        </div>

        <div class="col-sm-4 mt-3" style="padding-left: 10px; padding-right: 10px;">
            <div class="simpading">
                <input class="col-sm-12 form-control form-control-sm textBox" type="number" placeholder="Cantidad"
                    (blur)="BlurCantidad(ModalRespuesta)" [(ngModel)]="Cant">
            </div>
        </div>

        <div class="col-sm-4 mt-3" style="padding-left: 10px; padding-right: 10px;">
            <div class="simpading">
                <input mask="separator" thousandSeparator="." class="col-sm-12 form-control form-control-sm textBox"
                    type="text" placeholder="Valor estimado flete" [(ngModel)]="VlrFle">
            </div>
        </div>

    </div>

    <div class="row " *ngIf="ValidaCoord=='3'">
        <div class="col-sm-4"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <label class="Valor justify-content-center">Número de usuarios en este sector:&nbsp;<label
                    class="Valor"><strong>{{UserSector}}</strong></label></label>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <div class="row br justify-content-center ">
        <div class="col-sm-2 col-2 ">
            <button class="btn btn-agro-prin col-sm-12 " (click)="AsociaSector(ModalRespuesta) ">
                Asociar
            </button>
        </div>
        <div class="col-sm-2 col-2 ">
            <button class="btn btn-agro-prin col-sm-12 " (click)="AbreCreaSector(ModalInsert, ModalRespuesta) ">
                Crear sector
            </button>
        </div>
        <div class="col-sm-2 col-2 ">
            <button class="btn btn-agro-sec col-sm-12 " (click)="LimpiaForm() ">
                Limpiar
            </button>
        </div>
    </div>
    <hr>
    <br>
    <div class="br row justify-content-center ">
        <h2 class="TituloDetalle ">Sectores Asociados</h2>
    </div>
    <div class="br row justify-content-center ">
        <table class="col-sm-10 TableAgro ">
            <tr>
                <th>Sector</th>
                <th>Cantidad</th>
                <th>Valor flete</th>
                <th>Editar</th>

            </tr>
            <tr *ngFor="let sector of DataSectorOferta ">
                <td>{{sector.DSCRPCION_SCTOR}}</td>
                <td>{{sector.CNTDAD}}</td>
                <td>{{sector.VLOR_FLTE_SGRDO | currency}}</td>
                <td>
                    <button class="SinEstilo " (click)="EliminaSector(sector, ModalRespuesta) ">
                        <img src="./../../../../../assets/ImagenesAgroApoya2Adm/basurarojo.png" title="Desasociar">
                    </button>
                    <button class="SinEstilo " (click)="EditarBodega(sector, ModalBodega)">
                        <img src="./../../../../../assets/ImagenesAgroApoya2Adm/almacen.png" title="Editar detalles">
                    </button>
                    <button class="SinEstilo" (click)="EditarImgMapa(ModalImgMapa, sector.ID_SCTOR_OFRTA, sector.imagen_sctor)">
                        <img src="./../../../../../assets/ImagenesAgroApoya2Adm/mapaSec.png" style="width: 32px;"
                            title="Editar Imagen Mapa">
                    </button>
                </td>
            </tr>
            <tr *ngIf="ValidaConsulta=='1' ">
                <td colspan="4 ">{{txtValidaCons}}</td>
            </tr>
        </table>
    </div>
    <div class="row justify-content-center br ">
        <!-- <div class="col-sm-2 ">
            <button class="btn btn-agro-prin col-sm-12 " (click)="Volver() ">Atras</button>
        </div> -->
        <div class="col-sm-2 ">
            <button class="btn btn-agro-prin col-sm-12 " (click)="Enviar(ModalRespuesta) ">Siguiente</button>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>
<ng-template #ModalInsert let-modal>
    <div class="modal-header ">
        <h1>Crear sector</h1>
        <button type="button " class="btn-close " aria-label="Close " (click)="modal.dismiss() "></button>
    </div>
    <div class="modal-body ">
        <div class="row">
            <div class="col-sm-8">
                <ng-autocomplete [data]="DataZonas" [searchKeyword]="keywordZonasInsertSecor" placeholder="Zona"
                    (selected)='selectZonaInsert($event)' [itemTemplate]="templateRes"
                    [notFoundTemplate]="templateVacio" [(ngModel)]="ZonaInsertSecor"
                    (inputCleared)="LimpiaZonaInsert('')" [disabled]="ValidaSelecZona == '2'">
                </ng-autocomplete>
                <ng-template #templateRes let-item>
                    <a [innerHTML]="item.Descripcion"></a>
                </ng-template>
                <ng-template #templateVacio let-SinRegistro>
                    <label for="">Sin registros</label>
                </ng-template>
            </div>
            <div class="col-sm-2 mt-2">
                <div class="col-sm-6">
                    <div class="row">
                        <input class="col-sm-2" type="radio" name="tipoSec" id="RadioPer" (focus)="true"
                            [disabled]="ValidaSelecZona == '2'">
                        <label class="col-sm-10" for="RadioPer">Permanente</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 mt-2">
                <div class="col-sm-6">
                    <div class="row">
                        <input class="col-sm-2" type="radio" name="tipoSec" id="RadioPar"
                            [disabled]="ValidaSelecZona == '2'">
                        <label class="col-sm-10" for="RadioPar">Temporal</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row br ">
            <div class="col-sm-8">
                <input type="text " class="form-control form-control-sm textBox" placeholder="Nombre sector"
                    [(ngModel)]="NombreSec " [disabled]="ValidaSelecZona=='1' || ValidaSelecZona=='2'">
            </div>
            <div class="col-sm-4">
                <button class="btn btn-agro-prin col-sm-12 " (click)="CreaSector(ModalRespuesta)"
                    [disabled]="ValidaSelecZona=='1' || ValidaSelecZona=='2'">
                    Crear sector
                </button>
            </div>
        </div>
        <div class="row br" *ngIf="ValidaInsertSec=='1' ">
            <div class="col-sm-4">
                <input type="text " class="Col-sm-12 form-control" placeholder="Latitud" [(ngModel)]="Coor1" disabled>
            </div>
            <div class="col-sm-4">
                <input type="text" class="Col-sm-12 form-control" placeholder="Longitud" [(ngModel)]="Coor2" disabled>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-agro-prin col-sm-12" (click)="AgregarCoordenada(ModalRespuesta) ">Agregar
                    coordenada
                </button>
            </div>
        </div>
        <div class="br row justify-content-center mt-2" *ngIf="ValidaCoord=='1'">
            <div class="col-sm-6">
                <h2 class="TituloDetalle" style="color: #397c97;">Número de usuarios en este sector:&nbsp;<label
                        class="Valor"><strong>{{NumUsuarios}}</strong></label></h2>
            </div>
        </div>
        <div class="br row justify-content-center mt-2" *ngIf="ValidaInsertSec=='1' ">
            <button type="button " class="btn btn-agro-prin col-sm-2 "
                (click)="CerrModalMap(ModalRespuesta)">Guardar</button>
        </div>
        <div class="row mt-2 justify-content-center" *ngIf="ValidaInsertSec=='1' ">
            <div class="col-sm-11 ">
                <div id="map" [ngClass]="ValidaInsertSec=='1' ? 'ShowMap' : 'HideMap' "></div>
            </div>
        </div>
        <div class="br row justify-content-center " *ngIf="ValidaCoord=='1'">
            <h2 class="TituloDetalle " style="color: #397c97; ">Coordenadas registradas</h2>
        </div>
        <div class="row justify-content-center mt-2 " *ngIf="ValidaCoord=='1'">
            <div class="col-sm-4">
                <h2 class="TituloDetalle ">Latitud</h2>
            </div>
            <div class="col-sm-4 ">
                <h2 class="TituloDetalle ">Longitud</h2>
            </div>
            <div class="col-sm-4 ">
                <h2 class="TituloDetalle ">Eliminar</h2>
            </div>
        </div>
        <div class="row mt-2 " *ngFor="let coordenada of DataCoor ">
            <div class="col-sm-4">
                <h2 class="Valor ">{{coordenada.Latitud}}</h2>
            </div>
            <div class="col-sm-4 ">
                <h2 class="Valor ">{{coordenada.Longitud}}</h2>
            </div>
            <div class="col-sm-4 ">
                <div class="row justify-content-center">
                    <button class="SinEstilo" (click)="EliminaCoordenada(coordenada)">
                        <img src="./../../../../../assets/ImagenesAgroApoya2Adm/basurarojo.png">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br>
</ng-template>

<ng-template #ModalRespuesta let-modal>
    <div class="modal-header ">
        <h1>Respuesta</h1>
        <button type="button " class="btn-close " aria-label="Close " (click)="modal.dismiss() "></button>
    </div>
    <div class="modal-body ">
        <div class="row br ">
            <div class="col-sm-12 ">
                <h2 class="TituloDetalle ">{{Respuesta}}</h2>
            </div>
        </div>
    </div>
    <div class="row justify-content-center ">
        <button type="button " class="btn btn-agro-prin col-sm-2 " (click)="modal.dismiss() ">Aceptar</button>
    </div>
    <br>
</ng-template>

<ng-template #ModalMapa let-modal>
    <div class="modal-header ">
        <h1>Detalle sector - {{SessionNombreSector}}</h1>
        <button type="button " class="btn-close " aria-label="Close " (click)="modal.dismiss() "></button>
    </div>
    <div class="row justify-content-center m-1" *ngIf="ValidaMapSector=='1'">
        <label class="col-sm-12 mt-2"><strong>Nombre sector:&nbsp;</strong>{{SessionNombreSector}}</label>
        <label class="col-sm-12 mt-2"><strong>Número de usuarios en este sector:&nbsp;</strong>{{UserSector}}</label>
        <div class="col-sm-12 m-3">
            <div id="mapCS" [ngClass]="ValidaMapSector=='1' ? 'ShowMap' : 'HideMap' "></div>
        </div>
    </div>
    <div class="row justify-content-center ">
        <button type="button " class="btn btn-agro-prin col-sm-2 " (click)="modal.dismiss() ">Continuar</button>
    </div>
    <br>
</ng-template>

<ng-template #ModalBodega let-modal>
    <div class="modal-header ">
        <h1>{{NombreBodega}}</h1>
        <button type="button " class="btn-close " aria-label="Close " (click)="modal.dismiss() "></button>
    </div>
    <div class="row justify-content-center">
        <table class="col-sm-10 TableAgro br">
            <thead>
                <tr>
                    <th>Dirección Bodega</th>
                    <th>Coordenadas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{DireccionBodega}}</td>
                    <td>{{CoordenadasBodega}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row justify-content-center m-1 br">
        <div class="col-sm-10">
            <label>Cantidad maxima por vehiculo</label>
            <input type="number" placeholder="Cantidad maxima" class="form-control" [(ngModel)]="CantMax">
        </div>

    </div>
    <div class="row justify-content-center m-1 br">
        <div class="col-sm-10">
            <label>Carga maxima por vehiculo (kg):</label>
            <input type="number" placeholder="Carga maxima (kg)" class="form-control" [(ngModel)]="CargMax">
        </div>
    </div>
    <!-- <div class="row justify-content-center m-1 br">
        <div class="col-sm-10">
            <label>Distancia maxima por vehiculo:</label>
            <input type="number" placeholder="Distancia maxima (km)" class="form-control" [(ngModel)]="DistMax">
        </div>
    </div> -->
    <div class="row justify-content-center m-1 br">
        <label class="TextAlert col-sm-10">{{AlertEditBodega}}</label>
    </div>

    <div class="row justify-content-center ">
        <button type="button " class="btn btn-agro-prin col-sm-4 " (click)="AceptarEditaBodega() ">Guardar</button>
    </div>
    <br>
</ng-template>

<ng-template #ModalImgMapa let-modal>
    <div class="modal-header ">
        <h1>Imagen Sector</h1>
        <button type="button " class="btn-close " aria-label="Close " (click)="modal.dismiss() "></button>
    </div>
    <h1>De click en la imagen para subir o modificar</h1>
    <br>
    <div class="row justify-content-center">
        <div class="col-sm-12" style="width: 400px; height: 400px;">
            <div class="image-upload">
                <label for="file-input1">
                    <img id="ImgSec" title="Selecciona una imagen" [src]="ImgMapaSec"
                        style="width: 100%; height:  400px; object-fit: cover;">
                </label>
                <input name="file-input1" id="file-input1" type="file" (change)="SubirImgMapa($event, '1')" />
            </div>
        </div>
        <div class="row justify-content-center" *ngIf="ValidaImgMapa == '1'">
            <div class="col-sm-6">
                <label style="color: crimson; font-weight: bold; ">{{RespuestaImgMapa}}</label>
            </div>
        </div>
        <!-- <div class="col-sm-12 m-3">
            <div id="mapCS" [ngClass]="ValidaMapSector=='1' ? 'ShowMap' : 'HideMap' "></div>
        </div> -->
    </div>
    <hr>
    <div class="row justify-content-center ">
        <div class="col-sm-3">
            <button type="button " class="btn btn-agro-prin w-100" (click)="GuardarImgMapa()">Guardar</button>
        </div>
    </div>
    <br>
</ng-template>

<ng-template #ModalBodegaSector let-modal>
    <div class="modal-header">
        <h1>Bodega</h1>
        <button type="button " class="btn-close " aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="row justify-content-center p-2">
        <div class="row col-12 justify-content-center">
            <div [ngClass]="OpcionBodega == '1' ? 'btnDosA col-7' : 'btnUno col-3' " (click)="CambioOpcionBodega('1')">
                Agregar Bodega
            </div>
            <div [ngClass]="OpcionBodega == '2' ? 'btnDosA col-7' : 'btnUno col-3' " (click)="CambioOpcionBodega('2')">
                Actualizar Bodega
            </div>
        </div>
        <br>
        <div class="row" *ngIf="OpcionBodega == '1'">
            <div class="col-sm-6 mt-2">
                <label class="col-sm-12 Llave">Departamento</label>
                <ng-autocomplete [disabled]="true" [data]="ArrayDepa" [searchKeyword]="keywordDepartamento"
                    placeholder="Departamento" (selected)='selectDepartamento($event)'
                    [itemTemplate]="templateResDepartamento" [notFoundTemplate]="templateVacio"
                    [(ngModel)]="Departamento" (inputCleared)="LimpiaDepartamento('')"
                    [initialValue]="ArrayDepa[IndexDepartamentoInsert]">
                </ng-autocomplete>
                <ng-template #templateResDepartamento let-item>
                    <a [innerHTML]="item.DSCRPCION"></a>
                </ng-template>
                <ng-template #templateVacio let-SinRegistro>
                    <label for="">Sin registros</label>
                </ng-template>
            </div>
            <div class="col-sm-6 mt-2">
                <label class="col-sm-12 Llave">Ciudad</label>
                <ng-autocomplete [disabled]="true" [data]="ArrayCiud" [searchKeyword]="keywordCiudad"
                    placeholder="Ciudad" (selected)='SelectCiudad($event)' [itemTemplate]="templateResCiudad"
                    [notFoundTemplate]="templateVacio" [(ngModel)]="Ciudad" (inputCleared)="LimpiaCiudad('')"
                    [initialValue]="ArrayCiud[IndexCiudadInsert]">
                </ng-autocomplete>
                <ng-template #templateResCiudad let-item>
                    <a [innerHTML]="item.DSCRPCION"></a>
                </ng-template>
                <ng-template #templateVacio let-SinRegistro>
                    <label for="">Sin registros</label>
                </ng-template>
            </div>

            <div class="col-sm-6 mt-2">
                <label class="col-sm-12 Llave">Nombre</label>
                <input class="col-sm-12 form-control form-control-sm textBox" type="text" placeholder="Nombre Bodega"
                    [(ngModel)]="NombreBodegaInsert">
            </div>
            <div class="col-sm-6 mt-2">
                <label class="col-sm-12 Llave">Dirección</label>
                <input class="col-sm-12 form-control form-control-sm textBox" type="text" placeholder="Dirección Bodega"
                    [(ngModel)]="DireccionBodegaInsert">
            </div>


            <div class="col-sm-6 mt-2">
                <label class="col-sm-12 Llave">Sector (Opcional)</label>
                <ng-autocomplete [data]="DataSectoresBodega" [searchKeyword]="keyword" placeholder="Sector"
                    (selected)='selectSectorBodega($event)' [itemTemplate]="templateResSectorBodega"
                    [notFoundTemplate]="templateVacio" [(ngModel)]="SectorBodega"
                    (inputCleared)="LimpiaSectorBodega('')">
                </ng-autocomplete>
                <ng-template #templateResSectorBodega let-item>
                    <a [innerHTML]="item.DSCRPCION_SCTOR"></a>
                </ng-template>
                <ng-template #templateVacio let-SinRegistro>
                    <label for="">Sin registros</label>
                </ng-template>
            </div>


            <div class="col-sm-6 mt-2">
                <label class="col-sm-12 Llave">Coordenadas</label>
                <input class="col-sm-12 form-control form-control-sm textBox" type="text" placeholder="Dirección Bodega"
                    [(ngModel)]="CoordenadasInsert">
            </div>

            <div class="col-sm-12 mt-2">
                <label class="col-sm-12 Llave">Descripción</label>
                <textarea class="form-control form-control-sm textArea" cols="30" rows="3"
                    placeholder="Descripcion de la bodega (Obligatorio)" [(ngModel)]="DescripcionBodega"></textarea>
            </div>
        </div>
        <div class="row justify-content-center" *ngIf="OpcionBodega == '2'">
            <table class="col-sm-12 TableAgro mt-3">
                <tr>
                    <th>Nombre Bodega</th>
                    <th>Descripción</th>
                    <th>Dirección</th>
                    <th>Sector</th>
                    <th>Acciones</th>

                </tr>
                <tr *ngFor="let respu of DataBodegasModalBodegas">
                    <td>{{respu.NombreBodega}}</td>
                    <td>{{respu.Descripcion}}</td>
                    <td>{{respu.Direccion}}</td>
                    <td>{{respu.DSCRPCION_SCTOR}}</td>
                    <td>
                        <button class="SinEstilo" (click)="EliminaBodega(ModalRespuesta, respu.IdBodega)">
                            <img src="./../../../../../assets/ImagenesAgroApoya2Adm/basurarojo.png" style="width: 24px;"
                                title="Eliminar Bodega">
                        </button>
                        <button class="SinEstilo" (click)="AbreModalEditarBodega(ModalEditarBodega, respu)">
                            <img src="./../../../../../assets/ImagenesAgroApoya2Adm/Editar.png" style="width: 24px;"
                                title="Editar información bodega">
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row justify-content-center" *ngIf="OpcionBodega == '1'">
        <div class="col-sm-3">
            <button type="button " class="btn btn-agro-prin w-100"
                (click)="InsertarBodega(ModalRespuesta)">Guardar</button>
        </div>
    </div>
    <br>
</ng-template>

<ng-template #ModalEditarBodega prueba let-modal>
    <div class="modal-header">
        <h1>Editar Bodega</h1>
        <button type="button " class="btn-close " aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="row p-0 m-2">
        <div class="col-sm-6 mt-2">
            <label class="col-sm-12 Llave">Nombre</label>
            <input class="col-sm-12 form-control form-control-sm textBox" type="text"
                placeholder="Nombre Bodega (Obligatorio)" [(ngModel)]="NombreBodegaEdit">
        </div>
        <div class="col-sm-6 mt-2">
            <label class="col-sm-12 Llave">Dirección</label>
            <input class="col-sm-12 form-control form-control-sm textBox" type="text"
                placeholder="Dirección Bodega (Obligatorio)" [(ngModel)]="DireccionBodegaEdit">
        </div>

        <div class="col-sm-6 mt-2">
            <label class="col-sm-12 Llave">Departamento</label>
            <input [disabled]="true" class="col-sm-12 form-control form-control-sm textBox" type="text"
                placeholder="Departamento" [(ngModel)]="DepartamentoEdit">
        </div>
        <div class="col-sm-6 mt-2">
            <label class="col-sm-12 Llave">Ciudad</label>
            <input [disabled]="true" class="col-sm-12 form-control form-control-sm textBox" type="text"
                placeholder="Ciudad" [(ngModel)]="CiudadEditar">
        </div>

        <div class="col-sm-6 mt-2">
            <label class="col-sm-12 Llave">Descripción</label>
            <input class="col-sm-12 form-control form-control-sm textBox" type="text"
                placeholder="Descripcion de la bodega (Obligatorio)" [(ngModel)]="DescripcionEdit">
        </div>

        <div class="col-sm-6 mt-2">
            <label class="col-sm-12 Llave">Coordenadas</label>
            <input class="col-sm-12 form-control form-control-sm textBox" type="text"
                placeholder="Coordenadas (Obligatorio)" [(ngModel)]="CoordenadasEditar">
        </div>
        <br>
        <div class="row justify-content-center mt-3">
            <div class="col-sm-3">
                <button type="button " class="btn btn-agro-prin w-100"
                    (click)="EditInfoBodega(ModalRespuesta)">Guardar</button>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-agro-sec w-100" (click)="modal.dismiss()">Cerrar</button>
            </div>
        </div>
        <hr class="mt-3">
        <br>

        <div class="col-sm-6 mt-2 row" style="margin: 0; padding-left: 0;">
            <label class="col-sm-12 Llave">Sector (Opcional)</label>
            <div class="col-sm-11">
                <ng-autocomplete [data]="DataSectoresAsociacion" [searchKeyword]="keyword" placeholder="Sector"
                    (selected)='selectSeleccionaSector($event)' [itemTemplate]="templateResSector"
                    [notFoundTemplate]="templateVacio" [(ngModel)]="SectorAsignacion"
                    (inputCleared)="LimpiaSeleccionaSector('')">
                </ng-autocomplete>
                <ng-template #templateResSector let-item>
                    <a [innerHTML]="item.DSCRPCION_SCTOR"></a>
                </ng-template>
                <ng-template #templateVacio let-SinRegistro>
                    <label for="">Sin registros</label>
                </ng-template>
            </div>
            <button class="SinEstilo col-sm-1 mt-1" (click)="AsociarBodegaAsector(ModalRespuesta)">
                <img src="./../../../../../assets/ImagenesAgroApoya2Adm/ic_guardar.png" style="width: 24px;"
                    title="Guardar asociación">
            </button>
        </div>
        <br> <br>
        <div class="row justify-content-center mb-3 mt-3">
            <div class="col-sm-12">
                <label class="Llave TextSectoresAsociados"><small>Sectores Asociados</small> </label>
                <br>
                <div class="row mt-2 mb-3">
                    <div class="row m-0 p-0 col-6 mt-2" *ngFor="let respu of ArraySectoresAsociados">
                        <div class="col-sm-10">
                            <input [disabled]="true" class="form-control form-control-sm textBox" type="text"
                                placeholder="Sector asociado" [(ngModel)]="respu.NombreSector">
                        </div>
                        <div class="col-sm-2">
                            <button class="SinEstilo  mt-2"
                                (click)="EliminaAsociacionAsector(ModalRespuesta, respu.IdSector)">
                                <img src="./../../../../../assets/ImagenesAgroApoya2Adm/ic_equis.png"
                                    style="width: 20px;" title="Eliminar asociación">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br> <br> <br>
    </div>
</ng-template>