<div class="container bg-white">
    <br>
    <h1 class="br">Envio Mensajes Whatsapp (ManyChat)</h1>
    <div class="row br justify-content-center">
        <div class="col-12">
            <p class="textblue"><strong>EJEMPLO: </strong>SELECT USUCODIG AS ID, USUCODIG AS USUCODIG, NOMBRES_PERSONA AS USUARIO, CELULAR_PERSONA AS CELULAR, id_manychat AS ID_MANYCHAT, ''amigo'' + APELLIDOS_PERSONA + '' gracias por comprar''  AS MSJ_AGROAMIGO from agro_personas where id_manychat is not null</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <label class="col-sm-12 Llave">New Query</label>
            <textarea required="required" name="newQuery" id="newQuery"
                class="form-control form-control-sm textArea" cols="30" rows="5"
                placeholder="Query consulta usuarios ManyChat (Obligatorio)" [(ngModel)]="newQueryMC"></textarea>
        </div>
    </div>
    <div class="row br justify-content-center">
        <div class="col-sm-3 col-12">
            <button class="col-sm-12 btn btn-agro-sec" title="Agregar plantilla" (click)="Limpiar()">Limpiar</button>
        </div>
        <div class="col-sm-3 col-12">
            <button class="col-sm-12 btn btn-agro-prin" title="Buscar plantilla" (click)="consultaToppingsOferta()">Buscar</button>
        </div>
        <div class="col-sm-3 col-12">
            <button class="col-sm-12 btn btn-agro-prin" title="Agregar plantilla">Enviar mensaje</button>
        </div>
    </div>
    <br>
    <div class="row justify-content-center" *ngIf="VerOcultarCampos != '1'">
        <hr>
        <div class="table-responsive">
            <table class="table col-sm-12 TableAgro">
                <tr>
                    <th>Nombre</th>
                    <th>Usucodig</th>
                    <th>Celular</th>
                    <th>IdManyChat</th>
                    <th colspan="5">Mensaje</th>
                </tr>
                <tr *ngFor="let user of DataQuery">
                    <td>{{user.USUARIO}}</td>
                    <td>{{user.USUCODIG}}</td>
                    <td>{{user.CELULAR}}</td>
                    <td>{{user.ID_MANYCHAT}}</td>                   
                    <td colspan="5">{{user.MSJ_AGROAMIGO}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
