<div class="container bg-white">
    <br>
    <h1>Envio Mensajes Whatsapp (ManyChat)</h1>

    <div class="row">
        <div class="col-sm-12 br">
            <label class="col-sm-12 Llave">Mensaje</label>
            <textarea required="required" name="caracteristicas" id="caracteristicas"
                class="form-control form-control-sm textArea" cols="30" rows="3"
                placeholder="Mensaje de Whatsapp vía ManyChat(Obligatorio)"></textarea>
        </div>
    </div>
    <div class="row br justify-content-center">
        <div class="col-12">
            <h5 class="textblue">Buscar Usuarios</h5>
        </div>
    </div>
    <div class="row br">
        <div class="col-sm-6 mb-3">
            <label class="Llave">Nombre</label>
            <input type="text" title="Nombre usuario" class="form-control form-control-sm textBox">
        </div>
        <div class="col-sm-6 mb-3">
            <label class="Llave">Número oferta</label>
            <input type="text" title="Oferta" class="form-control form-control-sm textBox">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 mb-3">
            <label class="Llave">Sector</label>
            <ng-autocomplete [data]="DataSectores" [searchKeyword]="keywordSec" placeholder="Sector"
                (inputCleared)="LimpiaSector('')" (selected)='selectSector($event)' [itemTemplate]="templateSec"
                [notFoundTemplate]="templateVacio" [(ngModel)]="Sector">
            </ng-autocomplete>
            <ng-template #templateSec let-item>
                <a [innerHTML]="item.DSCRPCION_SCTOR"></a>
            </ng-template>
            <ng-template #templateVacio let-SinRegistro>
                <label for="">Sin registros</label>
            </ng-template>
        </div>
        <div class="col-sm-6 mb-3">
            <label class="Llave">Estado pago</label>
            <ng-autocomplete [data]="DataEstadoPago" [searchKeyword]="keywordEsPago" placeholder="Estado pago"
                (inputCleared)="LimpiaEstadoPago('')" (selected)='selectEstadoPago($event)'
                [itemTemplate]="templateEstadoPag" [notFoundTemplate]="templateVacio" [(ngModel)]="EstadoPago">
            </ng-autocomplete>
            <ng-template #templateEstadoPag let-item>
                <a [innerHTML]="item.descripcion"></a>
            </ng-template>
            <ng-template #templateVacio let-SinRegistro>
                <label for="">Sin registros</label>
            </ng-template>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 mb-3">
            <label class="Llave">Estado usuario</label>
            <input type="text" title="Estado usuario" class="form-control form-control-sm textBox">
        </div>
        <div class="col-sm-6 mb-3">
            <label class="Llave">Estado entrega</label>
            <input type="text" title="Estado entrega" class="form-control form-control-sm textBox">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3">
            <label class="Llave">Fecha compra</label>
            <input type="date" title="Fecha compra" class="form-control form-control-sm textBox">
        </div>
        <div class="col-sm-6 mb-3">
            <label class="Llave">Fecha entrega</label>
            <input type="date" title="Fecha entrega" class="form-control form-control-sm textBox">
        </div>
    </div>

    <div class="row br justify-content-center">
        <div class="col-sm-3 col-12">
            <button class="col-sm-12 btn btn-agro-prin" title="Buscar plantilla">Buscar</button>
        </div>
        <div class="col-sm-3 col-12">
            <button class="col-sm-12 btn btn-agro-prin" title="Agregar plantilla">Enviar mensaje</button>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <table class="col-sm-12 ">
            <thead>
                <tr class="TableAgro">
                    <th>Nombre</th>
                    <th>Id</th>
                    <th>Celular</th>
                    <th>IdManyChat</th>
                    <th>Enviar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>xxx</th>
                    <th>xxx</th>
                    <th>xxx</th>
                    <th>xxx</th>
                    <th>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>