<div class="mt-4">
  <form class="p-4">
    <h3 class="text-center mb-4 text-primary">Reporte ventas</h3>

    <div class="row row-cols-1 row-cols-md-4 g-3">

      <!-- localida filtro -->
      <div>
        <label for="localidad" class="form-label">Localidad</label>
        <select class="form-control" id="localidad">
          <option value="">Seleccione Localidad</option>
          <option value="localidad1">Localidad 1</option>
          <option value="localidad2">Localidad 2</option>
          <option value="localidad3">Localidad 3</option>
        </select>
      </div>
         <!-- localida filtro -->
      <div>
        <label for="codigoUsuario" class="form-label">Código de usuario</label>
        <input type="number" class="form-control" id="codigoUsuario" placeholder="Código de Usuario" />
      </div>
         <!-- localida filtro -->
      <div>
        <label for="correo" class="form-label">Correo</label>
        <input type="text" class="form-control" id="correo" placeholder="Correo" />
      </div>
         <!-- localida filtro -->
      <div>
        <label for="telefono" class="form-label">Teléfono</label>
        <input type="number" class="form-control" id="telefono" placeholder="Teléfono" />
      </div>

         <!-- localida filtro -->
      <div>
        <label for="nombreApellido" class="form-label">Nombre y Apellido</label>
        <input type="text" class="form-control" id="nombreApellido" placeholder="Nombre y Apellido" />
      </div>
      <div>
        <label for="fechaRegistroInicio" class="form-label">Fecha de registro inicio</label>
        <input type="date" class="form-control" id="fechaRegistroInicio" />
      </div>
      <div>
        <label for="fechaRegistroFin" class="form-label">Fecha de registro fin</label>
        <input type="date" class="form-control" id="fechaRegistroFin" />
      </div>
      <div>
           <!-- localida filtro -->
      </div>
    </div>

       <!-- Botones de Acción -->
    <div class="d-flex justify-content-center mt-4">
      <button  class="btn btn-primary me-3">Buscar</button>
      <button  class="btn btn-primary me-3">Descargar</button>
      <button  class="btn btn-secondary  me-3 col-md-3">Limpiar</button>
    </div>
  </form>
</div>
