.btn-agro-secGmail {
    color: white;
    border-color: #575A5F;
    background-color: #575A5F;
}
.sinmp{
    margin: 0;
    padding: 0;
}
.btnGmail{
    position: sticky;
    left: 100%;
    top: 0px;
}
.imgEmail{
    width: 54px;
    height: 44px;
    cursor: pointer;
    border-radius: 10%;
    background-color: white;
}