/* Estilo del botón de hamburguesa */
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin: 0px 0px 600px 0px;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 3px;
}

/* Estilo del menú */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #010102;
    width: 200px; /* Ancho completo cuando está abierto */
    padding-top: 50px;
    transition: width 0.3s ease; /* Cambia solo el ancho */
    overflow: hidden;
    z-index: 5;
}

.sidebar.closed {
    width: 65px; /* Ancho reducido cuando está cerrado */
}

/* Estilo de los enlaces */
.sidebar .nav-link {
    display: flex;
    align-items: center;
}

.sidebar .nav-link i {
    font-size: 24px;
    margin-right: 10px;
}

/* Ocultar el texto cuando el menú está cerrado */
.sidebar.closed .nav-link span {
    display: none;
}

/* Estilo del contenido cuando el menú está abierto o cerrado */
.content-wrapper {
    transition: margin-left 0.3s ease; /* Agregar transición para mover el contenido */
    width: 100%;
}

.content-shift {
    margin-left: 200px; /* Desplazar el contenido cuando el menú está abierto */
}

/* Cuando el menú está cerrado, el contenido se mueve menos */
.sidebar.closed + .content-wrapper .content-shift {
    margin-left: 60px; /* Reducir el desplazamiento cuando el menú está cerrado */
}
